.jcarousel-skin-tango .jcarousel-direction-rtl
{
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal
{
	width: 980px;
	padding: 20px 40px;
	margin-left: -40px;
}
.jcarousel-skin-tango .jcarousel-container-vertical
{
	width: 75px;
	height: 245px;
	padding: 40px 20px;
}
.jcarousel-skin-tango .jcarousel-clip
{
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal
{
	width: 982px;
	height: 285px;
}
.jcarousel-skin-tango .jcarousel-clip-vertical
{
	width: 75px;
	height: 245px;
}
.jcarousel-skin-tango .jcarousel-item
{
	width: 190px;
	height: 261px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal
{
	margin-left: 0;
	margin-right: 8px;
	padding-bottom: 20px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal
{
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical
{
	margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder
{
	background: #FFF;
	color: #000;
}
/**
*  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal
{
	position: absolute;
	top: 70px;
	right: -5px;
	width: 38px;
	height: 114px;
	cursor: pointer;
	background: transparent url(next-horizontal.png) no-repeat;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal
{
	left: 5px;
	right: auto;
	background-image: url(prev-horizontal.png);
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active
{
	display: none !important;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal
{
	position: absolute;
	top: 70px;
	left: -5px;
	width: 38px;
	height: 114px;
	cursor: pointer;
	background: transparent url(prev-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal
{
	left: auto;
	right: 5px;
	background-image: url(next-horizontal.png);
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active
{
	display: none !important;
}
/**
*  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical
{
	position: absolute;
	bottom: 5px;
	left: 43px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background: transparent url(next-vertical.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-next-vertical:hover, .jcarousel-skin-tango .jcarousel-next-vertical:focus
{
	background-position: 0 -32px;
}
.jcarousel-skin-tango .jcarousel-next-vertical:active
{
	background-position: 0 -64px;
}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active
{
	cursor: default;
	background-position: 0 -96px;
}
.jcarousel-skin-tango .jcarousel-prev-vertical
{
	position: absolute;
	top: 5px;
	left: 43px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background: transparent url(prev-vertical.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-vertical:focus
{
	background-position: 0 -32px;
}
.jcarousel-skin-tango .jcarousel-prev-vertical:active
{
	background-position: 0 -64px;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active
{
	cursor: default;
	background-position: 0 -96px;
}
