<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
$_filter = $this->getFilter();
$_label = $this->stripTags($_filter->getLabel());
$_swatchInnerWidth = $this->getSwatchInnerWidth();
$_swatchInnerHeight = $this->getSwatchInnerHeight();
$_swatchOuterWidth = $this->getSwatchOuterWidth();
$_swatchOuterHeight = $this->getSwatchOuterHeight();
$_lineHeight = $_swatchOuterHeight + 2;
$_swatchUrl = $this->getSwatchUrl();
?>
<li class="swatch-current">
    <span class="label" style="line-height: <?php echo $_lineHeight; ?>px;"><?php echo $this->__($_filter->getName()) ?>:</span>
    <span class="value" style="line-height: <?php echo $_lineHeight; ?>px;">
        <span class="swatch-link">
            <span class="swatch-label" style="height:<?php echo $_swatchInnerHeight ?>px; width:<?php echo $_swatchInnerWidth ?>px; line-height:<?php echo $_swatchInnerHeight ?>px;">
                <img src="<?php echo $_swatchUrl; ?>" alt="<?php echo $_label; ?>" title="<?php echo $_label ?>" width="<?php echo $_swatchInnerWidth ?>" height="<?php echo $_swatchInnerHeight ?>" />
            </span>
        </span>
    </span>
    <?php
    $clearLinkUrl = $_filter->getClearLinkUrl();
    if ($clearLinkUrl):
        ?>
        <a  class="btn-previous" href="<?php echo $_filter->getRemoveUrl() ?>" title="<?php echo $this->__('Previous') ?>"><?php echo $this->__('Previous') ?></a>
        <a  class="btn-remove" title="<?php echo $this->escapeHtml($_filter->getFilter()->getClearLinkText()) ?>" href="<?php echo $clearLinkUrl ?>"><?php echo $this->escapeHtml($_filter->getFilter()->getClearLinkText()) ?></a>
    <?php else: ?>
        <a  class="btn-remove" href="<?php echo $_filter->getRemoveUrl() ?>" title="<?php echo $this->__('Remove This Item') ?>"><i class="icon-close"></i></a>
    <?php endif; ?>
</li>
