<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php
 $_helper = $this->helper('catalog/output');
 $_product = $this->getProduct();
 $meigeeOptions = $this->getLayout();
 $productSku = $meigeeOptions->getMConfigResultByAlias('product_sku');
 $sidebarPos = $meigeeOptions->getMConfigResultByAlias('product_collateral_pos');
 $richSnippetsStatus = $meigeeOptions->getMConfigResultByAlias('snippets_status');
 $richSnippetsAvailability = $meigeeOptions->getMConfigResultByAlias('snippets_availability');
 $richSnippetsPrice = $meigeeOptions->getMConfigResultByAlias('snippets_price');
 $timerStatus = $meigeeOptions->getMConfigResultByAlias('timer_status');
 $timerProductStatus = $meigeeOptions->getMConfigResultByAlias('timer_product_status');
 $timerFormat = $meigeeOptions->getMConfigResultByAlias('timer_product_format');
 $specialprice = $_product->getSpecialPrice();
 $specialPriceFromDate = $_product->getSpecialFromDate();
 $specialPriceToDate = $_product->getSpecialToDate();
 $today =  time();
?>
<?php
$_resource = $_product->getResource();
$sizes 		= $_resource->getAttribute('wheelsfinder_sizes')->getFrontend();
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?></div>
<div class="product-view"<?php if($richSnippetsStatus): ?> itemscope itemtype="http://schema.org/Product"<?php endif; ?>>

	<?php if($richSnippetsStatus): ?>
		<meta itemprop="name" content="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>" />
	<?php endif; ?>
	<?php if(($richSnippetsStatus) and (($richSnippetsAvailability) or ($richSnippetsPrice))): ?>
		<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	<?php endif; ?>
	<div class="product-essential">
        <!-- div class="row clearfix" -->
		<div class="clearfix">
			<div class="col-sm-12<?php echo $this->getProductColXsSize(); ?>">
				<div class="row top-wrapper">
					<div class="product-img-box col-xs-offset-1 col-md-offset-0 col-lg-offset-1 col-xs-10 col-md-4<?php echo $this->getProductImgBoxColXsSize(); ?>">
						<?php echo $this->getChildHtml('media') ?>
					</div>
					<div class="product-shop col-xs-offset-1 col-xs-10 col-md-7 col-lg-6<?php echo $this->getProductShopColXsSize(); ?>">
						<div class="product-shop-inner">
                            <?php
                            $brand_name = $_product->getAttributeText('brands');
                            $brand_id = $_product->getBrands();
                            $brand_image = $this->helper('brands')->getBrandImage($brand_id);
                            ?>
                            <?php if($brand_image): ?>
                                <img class="product-manufacturer-logo" src="<?php echo $brand_image; ?>" alt="<?php echo $brand_name; ?>">
                            <?php endif; ?>
							<div class="product-name">
								<h1<?php if($richSnippetsStatus): ?> itemprop="name"<?php endif; ?>><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
							</div>
							<?php // HERFOX Remove buttons prev and next product echo $this->getChildHtml('product_buttons') ?>
                            <div class="view-top">

                                <?php
                                $medidas_sin_pulgadas = substr($sizes->getValue($_product), 0, -2);
                                $medidas_sin_espacio = str_replace(" ", "/", $medidas_sin_pulgadas);
                                $matriz_medidas_finales = explode("/", $medidas_sin_espacio);
                                $medidas_con_guion = str_replace("/", "-", $medidas_sin_espacio);
                                $medidas_con_rin = $matriz_medidas_finales[0]."/".$matriz_medidas_finales[1]." R".$matriz_medidas_finales[2];

                                $brand_name = $_product->getAttributeText('brands');
                                $brand_name_minusculas = strtolower($brand_name);
                                $brand_name_con_guion_no_espacio = str_replace(" ", "-", $brand_name_minusculas);

                                ?>

                                <?php if ($brand_name_minusculas== "nitto" OR $brand_name_minusculas== "linglong" OR $brand_name_minusculas== "duration" OR $brand_name_minusculas== "falken" OR $brand_name_minusculas== "giti-tires" OR $brand_name_minusculas== "general" OR $brand_name_minusculas== "ovation" OR $brand_name_minusculas== "hifly" OR $brand_name_minusculas== "tigar" OR $brand_name_minusculas== "firestone" OR $brand_name_minusculas== "momo" OR $brand_name_minusculas== "sailun" OR $brand_name_minusculas== "federal" OR $brand_name_minusculas== "goodyear" OR $brand_name_minusculas== "bf goodrich" OR $brand_name_minusculas== "continental" OR $brand_name_minusculas== "barum" OR $brand_name_minusculas== "hankook" OR $brand_name_minusculas== "kumho" OR $brand_name_minusculas== "pirelli" OR $brand_name_minusculas== "laufenn" OR $brand_name_minusculas== "maxxis" OR $brand_name_minusculas== "bridgestone" OR $brand_name_minusculas== "michelin" OR $brand_name_minusculas== "mickey thompson"):
                                    $brand_name_con_guion_no_espacio = $brand_name_con_guion_no_espacio."-carro";
                                endif;
                                ?>

                                Ver más -> <a title="llantas <?php echo $medidas_con_rin; ?>" href="/llantas-<?php echo $medidas_con_guion; ?>" target="_self"><span style="color: #0000ff; text-decoration: underline;">Llantas <?php echo $medidas_con_rin; ?></span></a> | <a title="Llantas <?php echo $brand_name; ?>" href="/llantas-<?php echo $brand_name_con_guion_no_espacio; ?>" target="_self"><span style="color: #0000ff; text-decoration: underline;">Llantas <?php echo $brand_name; ?></span></a>

                            </div>
							<div class="price-availability-block clearfix">
								<div class="top-block clearfix">
									<?php if(!$_product->isGrouped()) {
										echo $this->getChildHtml('product_type_data');
									} ?>
									<?php if (!Mage::app()->getLayout()->checkVersion('1.7.x.x') && $this->displayProductStockStatus()) { ?>
										<?php if ($_product->isAvailable()): ?>
											<p class="availability in-stock"><span<?php if(($richSnippetsStatus) and ($richSnippetsAvailability)){ ?> itemprop="availability"<?php } ?>><?php echo $this->__('In stock') ?></span></p>
										<?php else: ?>
											<p class="availability out-of-stock"><span<?php if(($richSnippetsStatus) and ($richSnippetsAvailability)){ ?> itemprop="availability"<?php } ?>><?php echo $this->__('Out of stock') ?></span></p>
										<?php endif; ?>
									<?php } ?>
									<?php if($productSku): ?>
										<div class="sku"><?php echo $this->__('SKU') . ':<span>' . $_product->getSku() . '</span>'; ?></div>
									<?php endif; ?>
								</div>
								<div class="bottom-block clearfix">
									<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
								</div>
							</div>


                            <!-- Atributos -->

                            <?php
                            $_resource = $_product->getResource();

                            $tiempo_entrega_bogota = $_resource->getAttribute('tiempo_entrega_bogota')->getFrontend();
                            $tiempo_entrega_resto_pais = $_resource->getAttribute('tiempo_entrega_resto_pais')->getFrontend();
                            $categoria 	= $_resource->getAttribute('categoria_rendimiento')->getFrontend();
                            $tipo 		= $_resource->getAttribute('tipo_vehiculo')->getFrontend();
                            $design		= $_resource->getAttribute('diseno_llanta')->getFrontend();
                            $carga 		= $_resource->getAttribute('indice_de_carga')->getFrontend();
                            $velocidad  = $_resource->getAttribute('indice_velocidad')->getFrontend();
                            $sizes 		= $_resource->getAttribute('wheelsfinder_sizes')->getFrontend();
                            $tecnologia_de	= $_resource->getAttribute('tecnologia_de')->getFrontend();
                            $pais_procedencia = $_resource->getAttribute('pais_procedencia')->getFrontend();
                            ?>
                            <div class="especificaciones col-md-12 col-lg-10">
                                <div class="row">
                                    <div>
                                        <table class="table table-responsive table-bordered" id="product-attribute-specs-table" cellpadding="0" cellspacing="0" border="0" width="100%">
                                            <?php if($tipo->getValue($_product)): ?>
                                                <tr class="odd first">
                                                    <th class="label"><?php echo $tipo->getLabel(); ?></th>
                                                    <td class="data last"><?php echo $tipo->getValue($_product); ?></td>
                                                </tr>
                                            <?php endif; ?>

                                            <?php if($categoria->getValue($_product)): ?>
                                                <tr class="even">
                                                    <th class="label"><?php echo $categoria->getLabel(); ?></th>
                                                    <td class="data last"><?php echo $categoria->getValue($_product); ?></td>
                                                </tr>
                                            <?php endif; ?>

                                            <?php if($design->getValue($_product)): ?>
                                                <tr class="odd">
                                                    <th class="label"><?php echo $design->getLabel(); ?></th>
                                                    <td class="data last"><?php echo $design->getValue($_product); ?></td>
                                                </tr>
                                            <?php endif; ?>

                                            <?php if($sizes->getValue($_product)): ?>
                                                <tr class="even">
                                                    <th class="label"><?php echo $sizes->getLabel(); ?></th>
                                                    <td class="data last"><?php echo $sizes->getValue($_product); ?></td>
                                                </tr>
                                            <?php endif; ?>

                                            <?php if($carga->getValue($_product)): ?>
                                                <tr class="odd">
                                                    <th class="label"><?php echo $carga->getLabel(); ?></th>
                                                    <td class="data last"><?php echo $carga->getValue($_product); ?></td>
                                                </tr>
                                            <?php endif; ?>

                                            <?php if($velocidad->getValue($_product)): ?>
                                                <tr class="even">
                                                    <th class="label"><?php echo $velocidad->getLabel(); ?></th>
                                                    <td class="data last"><?php echo $velocidad->getValue($_product); ?></td>
                                                </tr>
                                            <?php endif; ?>

                                            <?php if($tecnologia_de->getValue($_product)): ?>
                                                <tr class="odd">
                                                    <th class="label"><?php echo $tecnologia_de->getLabel(); ?></th>
                                                    <td class="data last"><?php echo $tecnologia_de->getValue($_product); ?></td>
                                                </tr>
                                            <?php endif; ?>

                                            <?php if($pais_procedencia->getValue($_product)): ?>
                                                <tr class="even">
                                                    <th class="label"><?php echo $pais_procedencia->getLabel(); ?></th>
                                                    <td class="data last"><?php echo $pais_procedencia->getValue($_product); ?></td>
                                                </tr>
                                            <?php endif; ?>
                                            <?php if($tiempo_entrega_bogota->getValue($_product)): ?>
                                                <tr class="odd">
                                                    <th class="label"><?php echo $tiempo_entrega_bogota->getLabel(); ?></th>
                                                    <td class="data last"><?php echo $tiempo_entrega_bogota->getValue($_product); ?></td>
                                                </tr>
                                            <?php endif; ?>

                                            <?php if($tiempo_entrega_resto_pais->getValue($_product)): ?>
                                                <tr class="last even">
                                                    <th class="label"><?php echo $tiempo_entrega_resto_pais->getLabel(); ?></th>
                                                    <td class="data last"><?php echo $tiempo_entrega_resto_pais->getValue($_product); ?></td>
                                                </tr>
                                            <?php endif; ?>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="sub-title"></div>

                            <!-- End Atributos -->

							<?php // HERFOX Remove short description of product view
                            if ($_product->getShortDescription() && 0):
                                ?>
								<div class="short-description">
									<h5><?php echo $this->__('Quick overview:'); ?></h5>
									<div class="std"<?php if($richSnippetsStatus): ?> itemprop="description"<?php endif; ?>><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
								</div>
							<?php endif;?>
							<?php if((($_product->isSaleable() && $this->hasOptions()) and $this->getChildChildHtml('container1', '', true, true)) or !($_product->isSaleable() && $this->hasOptions())){ ?>
								<form action="<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.2.x', '1.9.3.x')) ? $this->getSubmitUrl($_product, array('_secure' => $this->_isSecure())) : $this->getSubmitUrl($_product)); ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
								<?php echo $this->getBlockHtml('formkey') ?>
								<div class="no-display">
									<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
									<input type="hidden" name="related_product" id="related-products-field" value="" />
								</div>
								<?php if($_product->isGrouped()) {
									 echo $this->getChildHtml('product_type_data');
								} ?>
							<?php } ?>
							<?php echo $this->getChildHtml('alert_urls') ?>
							<?php echo $this->getTierPriceHtml() ?>
							<?php echo $this->getChildHtml('extrahint') ?>
							<?php if (!$this->hasOptions()):?>
								<div class="add-to-box">
                                    <div class="row">
                                        <div class="iconos col-md-7">
                                            <div class="item">
                                                <a title="En más de 35 servitecas asociadas | Haz clic para ver más" href="/serviteca" target="_blank"><img width="43" height="26" src="<?php echo $this->getSkinUrl('images/logo-instalacion-gratis.png') ?>"/>
                                                    <p>Montaje gratis en 12 ciudades</p>
                                                </a>
                                            </div>
                                            <div class="item">
                                                <a title="Pago Contra-Entrega en Bogotá | Haz clic para ver lista de ciudades" href="/pago-contraentrega" target="_blank"><img width="43" height="23" src="<?php echo $this->getSkinUrl('images/icon-pago.jpg') ?>"/></p>
                                                    <p>Pago contra entrega</p>
                                                </a>
                                            </div>
                                            <div class="item last">
                                                <a alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security" href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.neumarket.com&lang=es" target="_blank">
                                                    <img name="seal" border="true" src="/check-norton.png" alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security">
                                                </a>
                                            </div>
                                        </div>
                                        <?php echo $this->getChildHtml('price_clone_default'); ?>
                                    </div>
									<?php if($_product->isSaleable()): ?>
										<?php if($timerStatus && $timerProductStatus): ?>
                                            <?php if ($specialprice && isset($specialPriceFromDate) && isset($specialPriceToDate)): ?>
                                                <?php if($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)): ?>
													<div class="timer-wrapper clearfix<?php if($timerFormat == 2):?> full<?php endif; ?>">
														<?php echo $this->getChildHtml('addtocart'); ?>
													</div>
												<?php else: echo $this->getChildHtml('addtocart'); endif; ?>
											<?php else: echo $this->getChildHtml('addtocart'); endif; ?>
										<?php else: echo $this->getChildHtml('addtocart'); endif; ?>
                                    <?php endif; ?>
									<?php // HERFOX compare and wishlist buttons echo $this->getChildHtml('addto') ?>
								</div>
								<?php echo $this->getChildHtml('extra_buttons') ?>
							<?php endif; ?>
							<?php echo $this->getChildHtml('other');?>
							<?php if ($_product->isSaleable() && $this->hasOptions()):?>
								<?php echo $this->getChildChildHtml('container1', '', true, true) ?>
							<?php endif;?>
							<?php
								if($this->getIsNotShowUnderProductDescriptionTab() != 1){
									$UnderProductDescriptionTab = $_product->getUnderProductDescriptionTab();
										foreach($UnderProductDescriptionTab as $content){
											echo $this->getLayout()->createBlock('cms/block')->setBlockId($content->getIdentifier())->toHtml();
									}
								} ?>
							<?php if((($_product->isSaleable() && $this->hasOptions()) and $this->getChildChildHtml('container1', '', true, true)) or !($_product->isSaleable() && $this->hasOptions())){ ?>
								</form>
							<?php } ?>
						</div>
					</div>
				</div>

			</div>
		</div>
		<?php if ($_product->isSaleable() && $this->hasOptions()):?>
			 <?php if (($_product->isSaleable() && $this->hasOptions()) and !$this->getChildChildHtml('container1', '', true, true)){ ?>
				<form action="<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.2.x', '1.9.3.x')) ? $this->getSubmitUrl($_product, array('_secure' => $this->_isSecure())) : $this->getSubmitUrl($_product)); ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
					<?php echo $this->getBlockHtml('formkey') ?>
					<div class="no-display">
						<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
						<input type="hidden" name="related_product" id="related-products-field" value="" />
					</div>
			 <?php } ?>
				<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
			<?php if (($_product->isSaleable() && $this->hasOptions()) and !$this->getChildChildHtml('container1', '', true, true)){ ?>
				</form>
			 <?php } ?>
		<?php endif;?>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;
                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }
                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);
        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
	if(jQuery('.breadcrumbs-wrapper.type-2').length || jQuery('.breadcrumbs-wrapper.type-3').length) {
		if(jQuery('.add-review-link').length) {
			jQuery('.add-review-link').appendTo(jQuery('.price-availability-block .top-block'));
		}
		if(jQuery('.catalog-product-view .product-buttons').length){
			jQuery('.product-buttons').appendTo(jQuery('.breadcrumbs-wrapper .breadcrumbs-inner'));
		}
	}
    </script>
    </div>
	<div class="product-collateral">
		<?php echo $this->getChildHtml('info_tabs');?>
	</div>
	<div id="reviews-link"></div>

	<?php echo $this->getChildHtml('under_product_description'); ?>
	<?php echo $this->getChildHtml('catalog.product.related.bottom'); ?>
	<?php echo $this->getChildHtml('upsell_bottom'); ?>
	<?php echo $this->getChildHtml('product.info.review_list'); ?>
	<?php if(($richSnippetsStatus) and (($richSnippetsAvailability) or ($richSnippetsPrice))): ?>
		</div>
	<?php endif; ?>
</div>
