<?php

$response = Mage::helper('payupse')->payUAuthorizeAndCapture("payupse");

?>
    <h2><?php echo $this->__('Redireccionando a PSE') ?></h2>
<?php if ($response->code == "SUCCESS"): ?>
    <?php $transaction = $response->transactionResponse; ?>
    <?php if ($transaction->state == 'APPROVED' || $response->transactionResponse->state == 'PENDING'): ?>
        <p><?php echo($this->__('Un momento por favor, lo estamos redireccionando al sistema de pagos PSE...')); ?></p>
        <script type="text/javascript">location.href = '<?php echo $transaction->extraParameters->BANK_URL;  ?>';</script>
    <?php else: ?>
        <p>
            <?php echo $this->__("Su tarjeta ha sido declinada porque "); ?>
            <?php echo Mage::helper('payupse')->getErrorMessage($transaction->responseCode); ?>
            <?php echo $this->__(' Por favor intente nuevamente o pruebe con otro método de pago.'); ?>
        </p>
    <?php endif; ?>
<?php else : ?>
    <p><?php echo($this->__('Problemas con la pasarela de pagos. Por favor contacte con el administrador del sistema.')); ?></p>
<?php endif; ?>