<?php

$response = Mage::helper('payupse')->payUAuthorizeAndCapture("payupse");

echo "Response Page";
Mage::log("Response action", null, 'opayupse.log');
$response = $this->getRequest()->getParams();
echo "<pre>";
var_dump($response);
echo "</pre>";

?>

<h2><?php echo $this->__('Resultado de la Operación') ?></h2>
<h1></h1>
<table>

</table>

