<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Category layered navigation
 *
 * @see Mage_Catalog_Block_Layer_View
 */
  // $shop_by_layout = $this->getLayout()->getMConfigResultByAlias('block_shopby_layout');
?>

<?php if($this->canShowBlock()): ?>
<div class="block block-layered-nav">
	<div class="block-title">
		<strong><span><?php echo $this->__('Filtrar Tu Búsqueda') ?></span></strong>
	</div>
	<div class="block-content">
		<?php echo $this->getStateHtml() ?>
		<?php if ($this->getLayer()->getState()->getFilters()): ?>
			<div class="actions"><a class="btn btn-default" href="<?php echo $this->getClearUrl() ?>"><i class="fa fa-close"></i><?php echo $this->__('Clear All') ?></a></div>
		<?php endif; ?>
		<?php if($this->canShowOptions()): ?>
			<p class="block-subtitle"><?php echo $this->__('Shopping Options') ?></p>
			<dl id="narrow-by-list" class="clearfix">
				<?php $_filters = $this->getFilters() ?>
				<?php foreach ($_filters as $_filter): ?>
				<?php if($_filter->getItemsCount()): ?>
					<dt><?php echo $this->__($_filter->getName()) ?></dt>
					<dd<?php echo ($this->__($_filter->getName()) == $this->__('Category') ? ' class="category-filter"' : ''); ?>><?php echo $_filter->getHtml() ?></dd>
				<?php endif; ?>
				<?php endforeach; ?>
			</dl>
			<script type="text/javascript">
				decorateDataList('narrow-by-list');
			</script>
		<?php endif; ?>
	</div>
</div>
<?php endif; ?>
