<!--@subject Confirmación suscripción al boletín de noticias @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.jpg" _area='frontend'}}" alt="Magento" border="0"/></a></p></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Estimado/a {{var customer.name}},</strong>,<br/>
                            Gracias por suscribirse a nuestro boletín de noticias.</p>
                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">Para comenzar a recibir nuestro boletín de noticias, primero debe confirmar su suscripción dirigiéndose al siguiente enlace:<br />
                            <a href="{{var subscriber.getConfirmationLink()}}" style="color:#1E7EC8;">{{var subscriber.getConfirmationLink()}}</a><p>

                            <p>Gracias,<br/><strong>{{var customer.store.group.name}}</strong></p>


                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
