<?php if(sizeof($this->getAllActiveRules())):?>
    <?php
        $listDescription = array();
        foreach($this->getAllActiveRules() as $rule):			
            if($rule->getData('promotion_message') != ""){
                $listDescription[] = $rule->getData('promotion_message');
            }  
            endforeach;
        $arrShowin = array(1,3);
        $showin = Mage::getStoreConfig('freegift/config/showfreegiftpromotion');
    ?>
    <div class="freegift_rules_container">
    <?php
        if(in_array($showin,$arrShowin)){
            if(count($listDescription)>0){
            ?>
                <script type="text/javascript">
                    hasPromotionMessage = true;
                </script>
                <ul id="freegift_rules" >
                    <?php //echo $this->__($this->getRandomRule()->getData('description'));?>
                    <?php foreach($listDescription as $description):?>
                        <li><?php echo $description;?></li>
                        <?php endforeach;?>
                </ul>
            <?php
            }
        }
    ?>
    </div>
<?php endif;?>
