<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php /* @var $this Mage_Sales_Block_Recurring_Profile_View */?>
<?php if ($this->getIsAddress()):?>
	<?php foreach ($this->getRenderedInfo() as $row):?>
		<address><?php echo nl2br($this->escapeHtml($this->getObjectData($row, 'value')))?></address>
	<?php endforeach;?>
<?php else:?>
	<table class="table table-condensed">
		<tbody>
			<?php foreach ($this->getRenderedInfo() as $row):?>
			<?php $isAmount = $this->getObjectData($row, 'is_amount');?>
			<tr>
				<th><?php echo $this->escapeHtml($this->getObjectData($row, 'label'))?>:</th>
				<td><?php echo $this->renderRowValue($row) ?></td>
			</tr>
			<?php endforeach;?>
		</tbody>
	</table>
<?php endif;?>
