<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

/**
USAGE:

Simple:

<?php echo $this->getLayout()->createBlock('customer/widget_dob')
   ->setDate($this->getCustomer()->getDob())
   ->toHtml() ?>

For checkout/onepage/billing.phtml:

<?php echo $this->getLayout()->createBlock('customer/widget_dob')
   ->setDate($this->getCustomer()->getDob())
   ->setFieldIdFormat('billing:%s')
   ->setFieldNameFormat('billing[%s]')
   ->toHtml() ?>

NOTE: Regarding styles - if we leave it this way, we'll move it to boxes.css
      Alternatively we could calculate widths automatically using block input parameters.
*/

/**
 * @see Mage_Customer_Block_Widget_Dob
 */
?>
<div class="customer-dob">
	<label for="<?php echo $this->getFieldId('month')?>"<?php if ($this->isRequired()) echo ' class="required"' ?>><?php if ($this->isRequired()) echo '<em>*</em>' ?><?php echo $this->__('Date of Birth') ?></label>
	<div class="row">
		<?php
			$this->setDateInput('d',
				'<div class="dob-day col-xs-4 col-sm-3 col-lg-3">
					 <input type="text" id="' . $this->getFieldId('day') . '" name="' . $this->getFieldName('day') . '" value="' . $this->getDay() . '" title="' . $this->__('Day') . '" class="form-control validate-custom" ' . $this->getFieldParams() . ' />
					 <label for="' . $this->getFieldId('day') . '">' . $this->__('DD') . '</label>
				 </div>'
			);
			$this->setDateInput('m',
				'<div class="dob-month col-xs-4 col-sm-3 col-lg-3">
					 <input type="text" id="' . $this->getFieldId('month') . '" name="' . $this->getFieldName('month') . '" value="' . $this->getMonth()  . '" title="' . $this->__('Month')  . '" class="form-control validate-custom" ' . $this->getFieldParams()  . ' />
					 <label for="' . $this->getFieldId('month') . '">' . $this->__('MM')  . '</label>
				 </div>'
			);
			$this->setDateInput('y',
				'<div class="dob-year col-xs-4 col-sm-6 col-lg-6">
					 <input type="text" id="' . $this->getFieldId('year') . '" name="' . $this->getFieldName('year') . '" value="' . $this->getYear()  . '" title="' . $this->__('Year')  . '" class="form-control validate-custom" ' . $this->getFieldParams()  . ' />
					 <label for="' . $this->getFieldId('year') . '">' . $this->__('YYYY')  . '</label>
				 </div>'
			);
		?>
		<?php echo $this->getSortedDateInputs() ?>
		<div class="dob-full" style="display:none;">
			<input type="hidden" id="<?php echo $this->getFieldId('dob')?>" name="<?php echo $this->getFieldName('dob')?>" />
		</div>
		<div class="validation-advice" style="display:none;"></div>
	</div>
</div>
<script type="text/javascript">
//<![CDATA[
    var customer_dob = new Varien.DOB('.customer-dob', <?php echo $this->isRequired() ? 'true' : 'false' ?>, '<?php echo $this->getDateFormat() ?>');
//]]>
</script>
