<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="block block-subscribe">
    <div class="block-title">
        <h3><?php echo $this->__('Newsletter') ?></h3>
    </div>
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail-popup">
        <div class="block-content">
            <div class="form-subscribe-header">
                <label for="newsletter-popup"><?php echo $this->__('Subscribe to our newsletter and know first about all the promotions and discounts') ?></label>
            </div>
            <div class="input-box">
               <input type="text" name="email" id="newsletter-popup" placeholder="<?php echo Mage::helper('core')->quoteEscape($this->__('Enter your email')) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sign up for our newsletter')) ?>" class="form-control required-entry validate-email" />
            </div>
            <div class="actions">
                <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Subscribe')) ?>" class="btn btn-primary type-2"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var newsletterSubscriberFormDetailPopup = new VarienForm('newsletter-validate-detail-popup');
    //]]>
    </script>
</div>
