<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="page-title">
    <h2><?php echo $this->__('Newsletter Subscription') ?></h2>
</div>
<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
<?php echo $this->getChildHtml('form_before')?>
<form action="<?php echo $this->getAction() ?>" method="post" id="form-validate" class="form-horizontal">
	<?php echo $this->getBlockHtml('formkey')?>
	<div class="content">
		<h2><?php echo $this->__('Newsletter Subscription') ?></h2>
	</div>
	<ul class="form-list form-group">
		<li class="control col-xs-12">
			<div class="checkbox">
				<label for="subscription">
					<input type="checkbox" name="is_subscribed" id="subscription" value="1" title="<?php echo Mage::helper('core')->quoteEscape($this->__('General Subscription')); ?>"<?php if($this->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
					<?php echo $this->__('General Subscription') ?>
				</label>
			</div>
		</li>
		<?php /* Extensions placeholder */ ?>
		<?php echo $this->getChildHtml('customer.form.newsletter.extra')?>
	</ul>
	<div class="buttons-set clearfix">
		<p class="back-link pull-left"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
		<button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save')); ?>" class="btn btn-default pull-right"><span><span><?php echo $this->__('Save') ?></span></span></button>
	</div>
</form>
<?php /* Extensions placeholder */ ?>
<?php echo $this->getChildHtml('customer.form.newsletter.extra2')?>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
