<div class="title">Envío gratis a Domicilio</div>
<p>El envío gratuito aplica para llantas de Rin 13 a 19 de automóvil y camioneta. Llantas para camiones y buses, ligeros y de gran tamaño, tendrán un cargo adicional por el envío y el costo se evaluará según el lugar de destino.</p>
<p>El envío tarda en llegar de 3 a 5 días hábiles estimados dependiendo la ciudad de destino, CONTADOS A PARTIR DEL MOMENTO EN QUE SE APRUEBA EL PEDIDO Y EL PAGO ES VALIDADO EN NUESTRO BANCO O PASARELAS DE PAGO, SI EL PAGO ES CON TDC RECUERDE QUE HAY UN TIEMPO DE ESPERA PARA QUE ESE DINERO SE VEA REFLEJADO EN NUESTRAS PLATAFORMAS LUEGO DE SUPERAR LA VALIDACION ANTIFRAUDE.</p>
<p>En algunos pocos casos el envío tomará más tiempo, esto dependerá de la disponibilidad de la llanta, el traslado (de ciudad a ciudad) o la regularidad con la que la transportadora realiza las entregas en algunos pueblos, municipios y corregimientos.</p>
<p>En algunas ocasiones el envío se puede ver retrasado debido a inconvenientes logísticos externos a Neumarket.com, en el caso de que esto ocurra, uno de nuestros asesores se comunicará directamente con el cliente y le informará la razón.</p>
<div>Todos nuestros envíos se realizan por empresas de transportes reconocidas y responsables, y es gratuito para más de 150 ciudades (revisa la lista <a target="_blank" href="<?php echo $this->getUrl('envios') ?>">aquí</a>).</div>
</br>
</br>
<div class="title">Envío e instalación grátis en Serviteca (No aplica para llantas de moto)</div>
<table border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td align="left">
                <p>Neumarket cuenta con una <span style="text-decoration: underline;">Red Experta de Servitecas Asociadas</span> en Colombia, en ellas usted podr&aacute;:</p>
                <p>- <strong>Recoger</strong> las llantas que compr&oacute; en Neumarket</p>
                <p>- <strong>Instalar</strong> sus llantas GRATIS</p>
                <p><em>Recuerde que las llantas que se encuentran publicadas en Neumarket.com no est&aacute;n disponibles en las servitecas asociadas. Primero es necesario realizar el pedido de sus llantas, para enviarlo desde la bodega hacia la serviteca que usted escoja.</em></p>
            </td>
            <td width="30"><span style="font-size: small;">&nbsp;</span></td>
            <td>
               <p><img style="display: block; margin-left: auto; margin-right: auto;" title="Instalaci&oacute;n Gratis" src="/media/como_funciona/free_installation.JPG" alt="Instalaci&oacute;n Gratis" width="129" height="155" /></p>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="center" valign="middle" height="30">Revise nuestra Red Experta de Servitecas Asociadas, al realizar su pedido podrá seleccionar si desea que se le entreguen/instalen en alguna de ellas:</td>
        </tr>
    </tbody>
</table>
</br>
<div id="buscador-servitecas">
    <?php $ciudades_availables = $this->getCiudades(); ?>
    <div class="servitecas-left">
        <?php if(count($ciudades_availables)): ?>
            <div class="ciudad-selector">
                <span>Ciudad</span>
                <select id="select-ciudad">
                    <option value="seleccionar">Seleccionar</option>
                    <?php
                    foreach($ciudades_availables as $ciudad):
                        if($ciudad != ''):
                            $serviteca_by_ciudad = $this->getServitecaByCiudad($ciudad);
                            if (count($serviteca_by_ciudad) > 0):
                                echo '<option value="'.strtolower( str_replace(' ', '-', $ciudad) ).'">'.$ciudad.'</option>';
                            endif;
                        endif;
                    endforeach;
                    ?>
                </select>
            </div>
            <div class="serviteca-list">
                <?php $i = 0; ?>
                <?php foreach($ciudades_availables as $ciudad): ?>
                    <?php if($ciudad != ''): ?>
                        <?php $serviteca_by_ciudad = $this->getServitecaByCiudad($ciudad); ?>
                        <?php foreach($serviteca_by_ciudad as $serviteca): ?>
                            <?php if($serviteca->getData('is_active')): ?>
                                <div id="<?php echo $i ?>" class="serviteca-item" data-city="<?php echo strtolower( str_replace(' ', '-', $ciudad) ); ?>">
                                    <span class="serviteca-nombre"><?php echo $serviteca->getNombre(); ?></span>
                                    <span><?php echo $serviteca->getDireccion(); ?></span>
                                </div>
                                <?php $i++; ?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>

            <script type="text/javascript">
                function generate_maps() {
                    var markers = []
                    var mapOptions = {
                        center: new google.maps.LatLng(4.719120,-74.054787),
                        zoom: 12,
                        panControl: true,
                        zoomControl: true,
                        zoomControlOptions: {
                            style: google.maps.ZoomControlStyle.SMALL,
                            position: google.maps.ControlPosition.LEFT_CENTER
                        },
                        scaleControl: true,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                    var infowindow = new google.maps.InfoWindow();
                    var bounds = new google.maps.LatLngBounds();

                    <?php $i = 0; ?>
                    <?php foreach($ciudades_availables as $ciudad): ?>
                    <?php if($ciudad != ''): ?>
                    <?php $serviteca_by_ciudad = $this->getServitecaByCiudad($ciudad); ?>
                    <?php foreach($serviteca_by_ciudad as $serviteca): ?>
                    <?php if($serviteca->getData('is_active')): ?>
                    var content = "<strong style='font-size:16px'><?php echo $serviteca->getNombre(); ?></strong>" + "<br/>" + "<?php echo $serviteca->getDireccion(); ?>" + "<br/>" + "<?php echo $serviteca->getDescr(); ?>";
                    var myLatlng = new google.maps.LatLng(<?php echo $serviteca->getLat(); ?>,<?php echo $serviteca->getLng(); ?>);
                    createmarker(<?php echo $i ?>, myLatlng, content);
                    bounds.extend(myLatlng);
                    <?php $i++; ?>
                    <?php endif; ?>
                    <?php endforeach; ?>
                    <?php endif; ?>
                    <?php endforeach; ?>
                    map.fitBounds(bounds);

                    jQuery('#select-ciudad').bind('change', function(){
                        jQuery('#select-ciudad option[value="seleccionar"]').remove();
                        var bounds = new google.maps.LatLngBounds();
                        var val_selectet = jQuery(this).val();
                        if(val_selectet != ''){
                            jQuery('.serviteca-item').each(function(){
                                if( jQuery(this).data('city') != val_selectet ){
                                    jQuery(this).hide();
                                }else{
                                    jQuery(this).fadeIn(200);
                                    var  markerNum = jQuery(this).attr('id');
                                    bounds.extend(markers[markerNum].position);
                                }
                            });
                        }
                        map.fitBounds(bounds);
                    });

                    function createmarker(num, latlng, html){
                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map
                        });
                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.setContent(html);
                            infowindow.open(map,marker);
                            jQuery('.serviteca-item').removeClass('selected');
                            jQuery('.serviteca-list span').css('margin-left','0px');
                            jQuery('.serviteca-list #'+num+' span').animate({
                                marginLeft: "5px"
                            }, 50, function() {
                                // Animation complete.
                            });
                            jQuery('.serviteca-list #'+num).addClass('selected');

                        });
                        markers.push(marker);
                    };

                    jQuery('.serviteca-item').click(function(){
                        var  markerNum = jQuery(this).attr('id');
                        google.maps.event.trigger(markers[markerNum], 'click');
                        map.setZoom(15);
                        map.panTo(markers[markerNum].position);
                    });

                    google.maps.event.addListener(infowindow,'closeclick',function(){
                        jQuery('.serviteca-item').removeClass('selected');
                    });

                };
            </script>
        <?php endif; ?>
    </div>

    <div id="map_canvas" class="servitecas-right"></div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->getGoogleMapsKey(); ?>&language=es"></script>
</div>