<?php
    $_product = $this->getProduct();
	$_resource = $_product->getResource();
	
	$categoria 	= $_resource->getAttribute('categoria_rendimiento')->getFrontend();
	$tipo 		= $_resource->getAttribute('tipo_vehiculo')->getFrontend();
	$design		= $_resource->getAttribute('diseno_llanta')->getFrontend();
	$carga 		= $_resource->getAttribute('indice_de_carga')->getFrontend();
	$velocidad  = $_resource->getAttribute('indice_velocidad')->getFrontend();
	$sizes 		= $_resource->getAttribute('wheelsfinder_sizes')->getFrontend();
?>
<table id="especificaciones-table" cellpadding="0" cellspacing="0" border="0" width="100%" class="data-table">
<?php if($tipo->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $tipo->getLabel(); ?></td>
      <td><?php echo $tipo->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($categoria->getValue($_product)): ?>
	<tr>
      <td class="label"><?php echo $categoria->getLabel(); ?></td>
      <td><?php echo $categoria->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($design->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $design->getLabel(); ?></td>
      <td><?php echo $design->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($sizes->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $sizes->getLabel(); ?></td>
      <td><?php echo $sizes->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($carga->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $carga->getLabel(); ?></td>
      <td><?php echo $carga->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($velocidad->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $velocidad->getLabel(); ?></td>
      <td><?php echo $velocidad->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

</table>


<?php /* if($_additional = $this->getAdditionalData()): ?>
    <?php if($_product->getCategoriaRendimiento()): ?>
    <div>
	<?php echo $_product->getCategoriaRendimiento();?>
	</div>
    <?php endif; ?>
<?php endif; */ ?>