<?php
/* Upgrade for responsive */
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
//$configs = Mage::getModel('qzoom/qzoom')->getAllConfigs();

?>
<!-- div class="desktop-page">
    <div class="prolabel-wrapper2">
        <?php echo Mage::helper('prolabels')->getLabel($_product, 'product'); ?>
        <p class="product-image qproduct-image-zoom" id="qzoom-base-image" >
            <a href="<?php echo $this->helper('catalog/image')->init($_product, 'image'); ?>" class="jqzoom" rel='gal1' rev="qPopup"  title="<?php echo $this->htmlEscape($this->getImageLabel()); ?>" >
                <img id="image" src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(315, 315); ?>" width="315" height="315" title="<?php echo $this->htmlEscape($this->getImageLabel()); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel()); ?>" />
            </a>
        </p>
    </div>
    <p class="zoom-notice" id="track_hint"><?php echo $this->__('Mouseover para zoom. Click para ver imagen grande.') ?></p>
    <?php if (count($this->getGalleryImages()) > 0): ?>
        <div class="more-views">
            <ul id="qzoom-thumnail-image" class="qzoom-thumnail">
                <?php foreach ($this->getGalleryImages() as $_image): ?>
                    <?php $smallImage = (string)$this->helper('catalog/image')->init($this->getProduct(), 'base', $_image->getFile())->resize(315,315); ?>
                    <?php $largeImage = (string)$this->helper('catalog/image')->init($this->getProduct(), 'base', $_image->getFile()); ?>
                    <li>
                        <a  href='javascript:void(0);' class="qzoom-thumnail-image" rel="{gallery: 'gal1', smallimage: ' <?php echo $smallImage; ?>',largeimage: '<?php echo $largeImage; ?>'} ">
                            <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(66, 66); ?>" width="66" height="66" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
                        </a>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php endif; ?>
</div -->
<!--div class="mobile-page">
    <div class="prolabel-wrapper">
        <?php echo Mage::helper('prolabels')->getLabel($_product, 'product'); ?>
        <section class="product-images">
            <?php if (count($this->getGalleryImages()) > 0): ?>
                <?php foreach ($this->getGalleryImages() as $_image): ?>
                    <div class="ls-slide" data-ls="duration:5000;">
                        <?php $smallImage = (string)$this->helper('catalog/image')->init($this->getProduct(), 'base', $_image->getFile())->resize(315,315); ?>
                        <?php $largeImage = (string)$this->helper('catalog/image')->init($this->getProduct(), 'base', $_image->getFile()); ?>
                        <img width="100%" class="ls-bg" src="<?php echo $smallImage; ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
                        <a class="ls-link" href=''></a>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>
        </section>
    </div>
</div-->
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="/skin/frontend/gproxy/neumarket/css/swiper.min.css">

<div class="mobile-page2">
    <div class="prolabel-wrapper">
        <?php echo Mage::helper('prolabels')->getLabel($_product, 'product'); ?>
        <?php if (count($this->getGalleryImages()) > 0): ?>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <?php foreach ($this->getGalleryImages() as $_image): ?>
                    <div class="swiper-slide">
                        <?php $smallImage = (string)$this->helper('catalog/image')->init($this->getProduct(), 'base', $_image->getFile())->resize(315,315); ?>
                        <?php $largeImage = (string)$this->helper('catalog/image')->init($this->getProduct(), 'base', $_image->getFile()); ?>
                        <img width="100%" class="ls-bg" src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(315, 315); ?>" title="<?php echo $this->htmlEscape($this->getImageLabel()); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel()) ?>" />
                    </div>
                <?php endforeach; ?>
            </div>
            <?php if (count($this->getGalleryImages()) > 1): ?>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <?php endif; ?>
        </div>
        <?php endif; ?>
    </div>
</div>
<!-- Swiper JS -->
<script src="/skin/frontend/gproxy/neumarket/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "image": "<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(168); ?>",
  "name": "<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>",
  "description": "<?php echo strip_tags($this->getProduct()->getShortDescription()); ?>",
    "offers": {
    "@type": "Offer",
    "priceCurrency": "COP",
    "price": "<?php echo (int)$_product->getFinalPrice();?>"
  }
}
</script>
<!--script type="text/javascript">
    $j(document).ready(function() {
        $j('.jqzoom').jqzoom({
            zoomType: 'standard',//innerzoom,standard,reverse,drag
            lens: 1,
            preloadImages: 1,
            zoomWidth: 410,
            zoomHeight: 390,
            position : 'right',
            title : 0,
            showEffect : 'show',
            hideEffect : 'hide',
            xOffset: '6',
            yOffset: '0',
            imageOpacity :0.5,
            overlay_gallery: true,
            click:'hover'
        });
        //Fix para que al primer click se abra el zoom y no al 2do
        $j(window).load(function() {
            document.getElementsByClassName("zoomPup")[0].click();
        });
    });
</script -->
