<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php
	$_resource = $_product->getResource();
	$sizes 		= $_resource->getAttribute('wheelsfinder_sizes')->getFrontend();
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view accesorios">
	<div class="view-top">

	</div>
    <?php echo $this->getChildHtml('catalog.compare.sidebar') ?>
    <div class="product-essential">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

        <div class="product-shop">
            <div class="product-name">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            </div>
			<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>


            <?php if ($_product->getShortDescription()):?>
                <div class="short-description">
                    <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
                </div>
            <?php endif;?>
            <div class="iconos">
                <img width="43" height="23" src="<?php echo $this->getSkinUrl('images/icon-pago.jpg') ?>"/>
                <p>Pago contra entrega</p>
                <img width="43" height="26" src="<?php echo $this->getSkinUrl('images/icon-devoluciones.jpg') ?>"/>
                <p>Devoluciones sin costo</p>
            </div>

            <?php echo $this->getChildHtml('addto') ?>

            <div class="price-cta-box">
                <?php echo $this->getChildHtml('product_type_data') ?>
                <?php echo $this->getTierPriceHtml() ?>
                <?php echo $this->getChildHtml('extrahint') ?>
                <div class="iva-inc">IVA incluido</div>

                <?php
                $final_price = $_product->getFinalPrice();
                $cant_cuotas = floor($final_price/10000);

                if ($cant_cuotas > 36):
                    $cant_cuotas = 36;
                elseif ($cant_cuotas < 2):
                    $cant_cuotas = 0;
                endif;
                echo '<script>
                    var cant_cuotas = '.$cant_cuotas.';
                </script>';
                if ($cant_cuotas > 0):
                    $price_cuotas = $final_price/$cant_cuotas;
                    ?>
                    <div class="cuotas">
                        <span class="text-cuotas">Con tarjeta en <?php echo $cant_cuotas ?> cuotas de</span>
                        <span class="price-cuotas"><?php echo Mage::helper('core')->currency($price_cuotas,true,false); ?></span>
                    </div>
                <?php endif; ?>
                <div class="cta-box">
                    <?php if(!$_product->isSaleable()): ?>
                        <img class="not-available" src="<?php echo $this->getSkinUrl('images/not-available-prod.png') ?>" width="402" height="55">
                        <span class="not-available-options-text">Este producto cuenta con pocas unidades, confirma la disponibilidad contactando a uno de nuestos asesores:</span>
                        <div class="not-available-options">
                            <ul>
                                <li><img src="<?php echo $this->getSkinUrl('images/not-available-phone.png') ?>"/> Llamando al <strong>743 5595</strong> o al <strong>01 8000 185 595</strong></li>
                                <li><img src="<?php echo $this->getSkinUrl('images/not-available-chat.png') ?>"/> Iniciando un <a href="javascript:void($zopim.livechat.say('Consulta por disponibilidad de <?php echo $_product->getName() ?>?'))">Chat</a></li>
                                <li><img src="<?php echo $this->getSkinUrl('images/not-available-mail.png') ?>"/> Escríbenos a <strong>contacto@neumarket.com</strong></li>
                            </ul>
                        </div>
                    <?php endif; ?>
                    <?php echo $this->getChildHtml('alert_urls') ?>
                    <?php if (!$this->hasOptions()):?>
                        <div class="add-to-box">
                            <?php if($_product->isSaleable()): ?>
                                <?php echo $this->getChildHtml('addtocart') ?>
                                <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                    <span class="or"><?php echo $this->__('OR') ?></span>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>

                    <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                        <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                        <script>
                            jQuery(document).ready(function(){
                                remove_decimals();
                            });
                            jQuery('.product-custom-option').bind('change', function(){
                                remove_decimals();
                                var precio = jQuery('.price-box .price:last').html();
                                precio = precio.match(/^(\D+)(.*)$/);
                                precio = precio[2];
                                precio_cuotas = precio/cant_cuotas;
                                precio_cuotas = precio_cuotas.toFixed(3);
                                jQuery('.price-cuotas').html('$ '+precio_cuotas);
                            });
                            function remove_decimals(){
                                jQuery('.price-box .price').each(function(){
                                    var nro = jQuery(this).html();
                                    nro = nro.split(',');
                                    jQuery(this).html(nro[0]);
                                });
                            }
                        </script>
                    <?php endif;?>
                </div>
            </div>

            <?php echo $this->getChildHtml('other');?>
            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>

        </div>


        <div class="product-img-box">
			<?php
				$brand_name = $_product->getAttributeText('brands');
				$brand_id = $_product->getBrands();
				$brand_image = $this->helper('brands')->getBrandImage($brand_id);
			?>
			<?php if($brand_image && $brand_name): ?>
				<img class="product-manufacturer-logo" src="<?php echo $brand_image; ?>" alt="<?php echo $brand_name; ?>" width="140" height="72" />
			<?php endif; ?>
            <?php echo $this->getChildHtml('media') ?>
        </div>

        <div class="clearer"></div>

    </form>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
    </div>
    <div class="product-collateral">
        <?php echo $this->getChildHtml('info_tabs') ?>
        <?php // echo $this->getChildHtml('product_additional_data') ?>
    </div>
	<div class="preduct-related">
		<?php echo $this->getChildHtml('upsell_products') ?>
	</div>
</div>