<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Cart cross sell items template
 *
 * @see Mage_Checkout_Block_Cart_Crosssell
 */
$catalogModeWrapper = $this->getLayout()->getMConfigResultByAlias('catalog_mode');
$catalogMode = $catalogModeWrapper['value']['sv2']['value'];
?>
<?php if($this->getItemCount()): ?>
<div class="crosssell cart-block">
	<div class="cart-block-title">
		<h2><?php echo $this->__('Based on your selection, you may be interested in the following items:') ?></h2>
	</div>
    <ul id="crosssell-products-list" class="clearfix">
    <?php foreach ($this->getItems() as $_item): ?>
        <li class="item clearfix">
            <a class="product-image" href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>">
				<?php
					$escaped_label = $this->htmlEscape($_item->getName());
					echo '<img '. $_item->getProductMediaResized(200, 'thumbnail')
						->addImageHtmlAttributte('alt', $escaped_label)
						->addImageHtmlAttributte('title', $escaped_label)
						->getImageHtmlAttributte().' />';
				?>
			</a>
            <div class="product-details">
                <h5 class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a></h5>
                <?php echo $this->getPriceHtml($_item, true) ?>
				<?php if($catalogMode == 0){ ?>
					<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn btn-default" onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')"><span><span><i class="icon-basket-loaded"></i></span></span></button>
				<?php } ?>
                <ul class="add-to-links">
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <li><a href="<?php echo $this->getAddToWishlistUrl($_item) ?>" class="link-wishlist"><i class="fa fa-heart"></i><span><?php echo $this->__('Add to wishlist'); ?></span></a></li>
                    <?php endif; ?>
                    <?php if($_compareUrl=$this->getAddToCompareUrl($_item)): ?>
                        <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><i class="fa fa-exchange"></i><span><?php echo $this->__('Add to compare'); ?></span></a></li>
                    <?php endif; ?>
                </ul>
            </div>
        </li>
    <?php endforeach; ?>
    </ul>
    <script type="text/javascript">decorateList('crosssell-products-list', 'none-recursive')</script>
</div>
<?php endif; ?>
