<?php
    $repetition_qty = Mage::getStoreConfig('neumarket/neumarket_group/qty',Mage::app()->getStore());
    $enabled = Mage::getStoreConfig('neumarket/neumarket_group/enabled',Mage::app()->getStore());
?>
<?php if(!$this->isCustomerSubscriber() && $enabled): ?>
    <?php if($this->showingCount() < $repetition_qty+1): ?>
		<?php if(!$this->isRecentlySuscribed()): ?>

            <div style="display: none;" class="suscripcion-modal">

                <div class="btn-close-modal-top"></div>

                <?php $subscribeBlock =  $this->getNewsletterBlock(); ?>
                
                <form action="<?php echo $subscribeBlock->getFormActionUrl() ?>" method="post" id="modal-newsletter-validate-detail">
                    <div class="modal-form-subscribe">
                        <div class="input-box">
                           <input type="text" name="email" id="modal-newsletter" placeholder="Ingrese su E-mail" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
                        </div>
                        <button onclick="_trackEvent('usuario', 'suscripcion', 'modal-principal');" type="submit" title="<?php echo $this->__('Suscribirse') ?>" class="button"><span><span><?php echo $this->__('Suscribirse') ?></span></span></button>
                    </div>
                </form>
                
                <div class="btn-close-modal">-- No quiero el descuento --</div>
                
            </div>
        <?php else: ?>
        	<div style="display: none;">
				<?php echo $this->showingCount(); ?><br>
                <?php echo $this->isRecentlySuscribed();  ?>
            </div>
        <?php endif; ?>
    <?php else: ?>
    	<div style="display: none;">
        	<?php echo $this->showingCount(); ?><br>
            <?php echo $this->isRecentlySuscribed();  ?>
        </div>
    <?php endif; ?>
<?php endif; ?>