<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
/* @var $this Mage_Wishlist_Block_Customer_Wishlist_Item_Options */
?>
<?php $options = $this->getOptionList(); ?>
<?php if ($options): ?>
<div class="truncated">
	<div class="truncated_full_value">
		<div class="item-options">
			<p><?php echo $this->__('Options Details'); ?></p>
			<dl class="text-center clearfix">
				<?php foreach ($options as $option): ?>
				<dt><?php echo $this->escapeHtml($option['label']) ?>:</dt>
				<dd>
					<?php if (is_array($option['value'])): ?>
					<?php echo nl2br(implode("\n", $option['value'])) ?>
					<?php else: ?>
					<?php echo $option['value'] ?>
					<?php endif; ?>
				</dd>
				<?php endforeach; ?>
			</dl>
		</div>
  </div>
  <a href="#" onclick="return false;" class="details"><?php echo $this->__('View Details') ?></a>
</div>
<?php endif ?>
