<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="page-title">
    <h2><?php echo $this->__('Share Your Wishlist') ?></h2>
</div>
<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
<form action="<?php echo $this->getSendUrl() ?>" id="form-validate" method="post" class="form-horizontal">
	<?php echo $this->getBlockHtml('formkey')?>
	<div class="content">
		<h2><?php echo $this->__('Sharing Information') ?></h2>
	</div>
	<ul class="form-list form-group">
			<li class="wide col-lg-10">
				<label for="email_address" class="required"><em>*</em><?php echo $this->__('Email addresses, separated by commas') ?></label>
				<textarea name="emails" cols="60" rows="5" id="email_address" class="validate-emails required-entry form-control"><?php echo $this->getEnteredData('emails') ?></textarea>
			</li>
			<li class="wide col-lg-10">
				<label for="message"><?php echo $this->__('Message') ?></label>
				<textarea id="message" name="message" class="form-control" cols="60" rows="5"><?php echo $this->getEnteredData('message') ?></textarea>
			</li>
			<?php if($this->helper('wishlist')->isRssAllow()): ?>
			<li class="control">
				<div class="checkbox">
					<label for="rss_url">
						<input type="checkbox" name="rss_url" id="rss_url" value="1" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Check this checkbox if you want to add a link to an rss feed to your wishlist.')); ?>" class="checkbox" />
						<?php echo $this->__('Check this checkbox if you want to add a link to an rss feed to your wishlist.') ?>
					</label>
				</div>
			</li>
			<?php endif; ?>
	</ul>
	<div class="form-group">
		<div class="col-xs-12">
			<p class="required"><?php echo $this->__('* Required Fields') ?></p>
		</div>
	</div>
	<div class="buttons-set form-buttons clearfix">
		<p class="back-link pull-left"><a href="<?php echo $this->getBackUrl(); ?>"><small>&laquo; </small><?php echo $this->__('Back')?></a></p>
		<button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Share Wishlist')); ?>" class="btn btn-default pull-right"><span><span><?php echo $this->__('Share Wishlist') ?></span></span></button>
	</div>
</form>
<script type="text/javascript">
//<![CDATA[
Validation.addAllThese([
    ['validate-emails', '<?php echo $this->__('Please enter a valid email addresses, separated by commas. For example johndoe@domain.com, johnsmith@domain.com.') ?>', function (v) {
    if(Validation.get('IsEmpty').test(v)) {
        return true;
    }
    var valid_regexp = /^[a-z0-9\._-]{1,30}@([a-z0-9_-]{1,30}\.){1,5}[a-z]{2,4}$/i;
    var emails = v.split(',');
    for (var i=0; i<emails.length; i++) {
        if(!valid_regexp.test(emails[i].strip())) {
            return false;
        }
    }
    return true;
    }]
]);
var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
