/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

*     { background:none !important; text-align:left !important; }
body  { background:#fff !important; font-size:9pt !important; margin:15px !important; }
a     { color:#2976c9 !important; }
th,td { color:#2f2f2f !important;  border-color:#ccc !important; }

.header-container,
.nav-container,
.footer-container,
.pager,
.toolbar,
.actions,
.buttons-set { display:none !important; }

.page-print .data-table .cart-tax-total { background-position:100% -54px; }
.page-print .data-table .cart-tax-info { display:block !important; }

.row:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}
.col-sm-6 {float: left; width: 50%; padding: 0 10px;}
