.prolabel-wrapper {
    position: relative;
}
.prolabel-wrapper .productlabeltext {
    line-height: 11px;
    font-size: 0.9em;
    font-weight: bold;
    display: block;
    letter-spacing:0.01px;
    text-decoration: none;
    color: #fff;
}
.prolabel-wrapper a {
    text-decoration: none;
    position: relative;
}
.products-list .prolabel-wrapper {
    float:left;
}
.prolabel {
    position: absolute;
    z-index: 50;
}
.prolabel td {
    vertical-align: middle;
    text-align: center;
}
.top-center {
    top: 0;
    left: 50%;
}
.middle-left {
    left: 0;
    top: 50%;
}
.middle-right {
    right: 0;
    top: 50%;
}
.bottom-center {
    bottom: 0;
    right: 50%;
}
.middle-center {
    top: 50%;
    right: 50%;
}
.top-left {
    top: 0;
    left: 0;
}
.top-right {
    top: 0;
    right: 0;
}
.bottom-left {
    bottom: 0;
    left: 0;
}
.bottom-right {
    bottom: 0;
    right: 0;
}
/*IE6 fix*/
* html .prolabel-wrapper { float: left; }
* html .prolabel-wrapper a { position: relative; }

UL.products-grid .item DIV.product-img-box .product-manufacturer-logo {z-index: 50;}