<?php
/**
 * Lista de productos destacados
 *
 */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
	$_productCollection->addAttributeToSelect('*');
    $_helper = $this->helper('catalog/output');
?>
<h2 class="neumarket-icon">Productos destacados</h2>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
    <?php $_collectionSize = $_productCollection->count() ?>
	<ul id="featured-carousel" class="jcarousel-skin-tango">
    <?php $i=0; foreach ($_productCollection as $_product): ?>
            <li>
                <div class="product-image">
                  <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                    
                    <?php
						$brand_name = $_product->getAttributeText('brands');
						$brand_id = $_product->getBrands();
						$brand_image = Mage::helper('brands')->getBrandImage($brand_id);
					?>
					<?php if($brand_image): ?>
						<img class="product-manufacturer-logo" src="<?php echo $brand_image; ?>" alt="<?php echo $brand_name; ?>">
					<?php endif; ?>
                    
                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(180); ?>" width="180" height="180" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                  </a>
                </div>
                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                <?php if($_product->getRatingSummary()): ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php endif; ?>
                <?php echo $this->getPriceHtml($_product, true) ?>
            </li>
        <?php endforeach ?>
		</ul>
        <script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('#featured-carousel').jcarousel({
				scroll:5
			});
		});
		</script>
    <?php endif; ?>
</div>

