<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
/* Upgrade for responsive */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $_guaEc = Mage::helper('googleuniversalanalytics/ecommerce');
    $_coreHelper = $this->helper('core'); // add for responsive
    $_taxHelper  = $this->helper('tax'); // add for responsive
    $_weeeHelper = $this->helper('weee'); // add for responsive
?>

<?php if($_productCollection->count()): ?>
<?php echo $this->getToolbarHtml() ?>
<?php endif; ?>

<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
    <?php echo $this->getChildHtml('catalog.compare.sidebar') ?>
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>
    <ol class="products-list" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
            <?php //Google Analytics Product Impression
                echo $_guaEc->getAddProductImpressionTag($_product, false, $_iterator);
            ?>
            <?php // Product Image ?>
           		<div class="product-img-box">

                <?php
                    $brand_name = $_product->getAttributeText('brands');
                    $brand_id = $_product->getBrands();
                    $brand_image = $this->helper('brands')->getBrandImage($brand_id);
                ?>
                <?php if($brand_image): ?>
                    <img class="product-manufacturer-logo" src="<?php echo $brand_image; ?>" alt="<?php echo $brand_name; ?>">
                <?php endif; ?>
                <div class="prolabel-wrapper">
                    <?php echo Mage::helper('prolabels')->getLabel($_product, 'category'); ?>
                    <a <?php echo $_guaEc->getProductLinkData($_product, false, $_iterator); ?> href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(168); ?>" width="168" height="168" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
					 <?php echo Mage::helper('core/freegift')->renderFreeGiftLabel($_product);?>
                    </a>
                </div>
            </div>
            <?php // Product description ?>
            <div class="product-shop">
                <div class="f-fix">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <h2 class="product-name"><a <?php echo $_guaEc->getProductLinkData($_product, false, $_iterator); ?> href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                    <?php if($_product->getRatingSummary()): ?>
                    <?php echo $this->getReviewsSummaryHtml($_product) ?>
                    <?php endif; ?>
                    <div class="middle">
						<?php echo Mage::helper('core/freegift')->renderFreeGiftCatalogList($_product);?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
                        <?php if($_product->isSaleable()): ?>
                            <p class="addto-section">

                            <?php if(!$_product->isGrouped()): ?>

                            <label class="qty_label" for="qty"><?php echo $this->__('Qty:') ?></label>
                            <span class="qty_select">
                            <select name="qty_<?php echo $_product->getId(); ?>" class="input-text qty" id="qty_<?php echo $_product->getId(); ?>">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4" selected="selected">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                            </select>
                            </span>

                            <?php else: ?>

                            <input type="hidden" value="" name="qty_<?php echo $_product->getId(); ?>" class="input-text qty" id="qty_<?php echo $_product->getId(); ?>" />

                            <?php endif; ?>

                            <button type="button" title="<?php echo $this->__('Comprar Ahora') ?>" class="button button-cart" onclick="addToCart('<?php echo $_product->getId(); ?>');"><span><span><?php echo $this->__('Comprar Ahora') ?></span></span></button></p>

                            <input type="hidden" value="<?php echo $this->getAddToCartUrl($_product) ?>" name="prod_url_<?php echo $_product->getId(); ?>" class="input-text qty" id="prod_url_<?php echo $_product->getId(); ?>" />

                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                    </div>
                    <ul class="add-to-links">
                        <div class="social">
                            <div class="addthis_toolbox addthis_default_style" addthis:url="<?php echo $_product->getProductUrl() ?>" addthis:title="<?php echo $_productNameStripped; ?>">
                                <span>Compartir este producto: </span>
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                            </div>
                            <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f1b484d2c34342f"></script>

                        </div>
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Agregar a comparar') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

    <?php else: ?>

    <?php // Grid Mode ?>

    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
    <?php $_weeeTaxAmount = $_weeeHelper->getAmountForDisplay($_product); // add for responsive ?>
    <?php $_finalPriceInclTax = $_taxHelper->getPrice($_product, $_product->getFinalPrice(), true) // add for responsive ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <?php //Google Analytics Product Impression
                    echo $_guaEc->getAddProductImpressionTag($_product, false, $i);
                ?>
		<div class="product-img-box">

                <?php
                    $brand_name = $_product->getAttributeText('brands');
                    $brand_id = $_product->getBrands();
                    $brand_image = $this->helper('brands')->getBrandImage($brand_id);
                ?>
                <?php if($brand_image): ?>
                    <img class="product-manufacturer-logo" src="<?php echo $brand_image; ?>" alt="<?php echo $brand_name; ?>">
                <?php endif; ?>
                <div class="prolabel-wrapper">
                    <?php echo Mage::helper('prolabels')->getLabel($_product, 'category'); ?>
                    <a <?php echo $_guaEc->getProductLinkData($_product, false, $i); ?> href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <?php //if(!$_product->isSaleable()): ?>
                        <!--<img class="not-available" src="<?php //echo $this->getSkinUrl('images/not-available.png') ?>" width="170" height="48">-->
                        <?php //endif; ?>
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(168); ?>" width="168" height="168" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    </a>
                </div>
            </div>
                <div class="product-info">
                <h2 class="product-name"><a <?php echo $_guaEc->getProductLinkData($_product, false, $i); ?> href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?> <?php echo Mage::helper('core/freegift')->renderFreeGiftLabel($_product);?></a></h2>
                <?php if($_product->getRatingSummary()): ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php endif; ?>
				<?php echo Mage::helper('core/freegift')->renderFreeGiftCatalogList($_product);?>
                <?php echo $this->getPriceHtml($_product, true) ?>

                <?php
                $final_price = $_finalPriceInclTax+$_weeeTaxAmount; // add for responsive
                //$price_cuotas = $final_price/36;

                //Validamos si el producto está en categoría de promo 3x4 para mostrar el precio de 3 en vez de 4
                $cats = $_product->getCategoryIds();
                if (in_array('34',$cats)) {
                    $price_four = $final_price*3;
                    ?>
                    <div class="cuotas">
                        <span class="text-cuotas">Set de 4:</span>
                        <span class="price-cuotas"><?php echo Mage::helper('core')->currency($price_four,true,false); ?></span>
                    </div>
                    <?php
                }
                elseif (in_array('191',$cats)) {
                    $price_four = $final_price*3;
                    ?>
                    <div class="cuotas">
                        <span class="text-cuotas">Set de 4:</span>
                        <span class="price-cuotas"><?php echo Mage::helper('core')->currency($price_four,true,false); ?></span>
                    </div>
                    <?php
                }
                elseif (in_array('188',$cats)) {
                    $price_four = $final_price*3;
                    ?>
                    <div class="cuotas">
                        <span class="text-cuotas">Set de 4:</span>
                        <span class="price-cuotas"><?php echo Mage::helper('core')->currency($price_four,true,false); ?></span>
                    </div>
                    <?php
                }
                elseif (in_array('36',$cats))
                {
                    $price_four = $final_price*.7;
                    ?>
                    <div class="cuotas">
                        <span class="text-cuotas">La 2da llanta en:</span>
                        <span class="price-cuotas"><?php echo Mage::helper('core')->currency($price_four,true,false); ?></span>
                    </div>
                    <?php
                }
                elseif (in_array('194',$cats))
                {
                    $price_four = $final_price*.6;
                    ?>
                    <div class="cuotas">
                        <span class="text-cuotas">La 2da llanta en:</span>
                        <span class="price-cuotas"><?php echo Mage::helper('core')->currency($price_four,true,false); ?></span>
                    </div>
                    <?php
                }
                elseif (in_array('42',$cats))
                {
                    $price_four = $final_price*.5;
                    ?>
                    <div class="cuotas">
                        <span class="text-cuotas">La 2da llanta en:</span>
                        <span class="price-cuotas"><?php echo Mage::helper('core')->currency($price_four,true,false); ?></span>
                    </div>
                    <?php
                }
                elseif (in_array('157',$cats))
                {
                    $price_four = $final_price*.5;
                    ?>
                    <div class="cuotas">
                        <span class="text-cuotas">La 2da llanta en:</span>
                        <span class="price-cuotas"><?php echo Mage::helper('core')->currency($price_four,true,false); ?></span>
                    </div>
                    <?php
                }
                elseif (in_array('195',$cats))
                {
                    $price_four = $final_price*.5;
                    ?>
                    <div class="cuotas">
                        <span class="text-cuotas">La 2da llanta en:</span>
                        <span class="price-cuotas"><?php echo Mage::helper('core')->currency($price_four,true,false); ?></span>
                    </div>
                    <?php
                }
                else
                {
                    $price_four = $final_price*4;
                    ?>
                    <div class="cuotas">
                        <span class="text-cuotas">Set de 4:</span>
                        <span class="price-cuotas"><?php echo Mage::helper('core')->currency($price_four,true,false); ?></span>
                    </div>
                    <?php
                };
                ?>
                </div>
                <a class="product-link" href="<?php echo $_product->getProductUrl(); ?>"><?php echo $this->__('Ver más') ?></a>
                <!-- if para que esto no salga por el momento -->
                <?php if(3==4): ?>
                    <div class="actions">
                        <?php if($_product->isSaleable()): ?>

                            <?php if(!$_product->isGrouped()): ?>

                                <span class="qty_select">
                        <select name="qty_<?php echo $_product->getId(); ?>" class="input-text qty" id="qty_<?php echo $_product->getId(); ?>">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4" selected="selected">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                        </select>
                        </span>

                            <?php else: ?>

                                <input type="hidden" value="" name="qty_<?php echo $_product->getId(); ?>" class="input-text qty" id="qty_<?php echo $_product->getId(); ?>" />

                            <?php endif; ?>

                            <input type="hidden" value="<?php echo $this->getAddToCartUrl($_product) ?>" name="prod_url_<?php echo $_product->getId(); ?>" class="input-text qty" id="prod_url_<?php echo $_product->getId(); ?>" />
                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button button-cart" onclick="addToCart('<?php echo $_product->getId(); ?>');"><span><span>Agregar <br />al carrito</span></span></button>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('CONFIRMAR<br/>DISPONIBILIDAD') ?></span></p>
                        <?php endif; ?>
                        <ul class="add-to-links">
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                            <?php endif; ?>
                        </ul>
                    </div>
                <?php endif; ?>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
        <?php endforeach ?>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>

    <form action="" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
    <input name="qty" type="hidden" class="input-text qty" id="qty" maxlength="12" />
    </form>
    <script type="text/javascript">
                function addToCart(productId){
                    var qty = $('qty_'+productId).value;
                    var url = $('prod_url_'+productId).value;
                    $('qty').value = qty;
                    $('product_addtocart_form').writeAttribute('action', url);

                    var productAddToCartForm = new VarienForm('product_addtocart_form');
                    productAddToCartForm.value = qty;
                    productAddToCartForm.submit();

                }
    </script>

</div>
<?php endif; ?>

<?php if($_productCollection->count()): ?>
    <div class="bottom-toolbar">
        <?php echo $this->getToolbarHtml() ?>
    </div>
<?php endif; ?>