<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
 $product = Mage::registry('product');
 if($product){
	$product_url = '';
 }else{
	$product_url = $this->getProduct()->getProductUrl();
 }
 $meigeeOptions = $this->getLayout();
 $richSnippetsStatus = $meigeeOptions->getMConfigResultByAlias('snippets_status');
 $richSnippetsRating = $meigeeOptions->getMConfigResultByAlias('snippets_reviews');
?>
<?php if ($this->getReviewsCount()): ?>
	<?php if($product): ?>
		<div class="ratings"<?php if(($richSnippetsStatus) and ($richSnippetsRating) and ($product)): ?> itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"<?php endif; ?>>
			<?php if ($this->getRatingSummary()):?>
				<?php if(($richSnippetsStatus) and ($richSnippetsRating)): ?>
					<meta itemprop="ratingValue" content="<?php echo $this->getRatingSummary(); ?>" />
					<meta itemprop="reviewCount" content="<?php echo $this->getReviewsCount(); ?>" />
					<meta itemprop="bestRating" content="100" />
					<meta itemprop="worstRating" content="0" />
				<?php endif; ?>
				<div class="rating-box">
					<i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i>
					<div class="rating" style="width:<?php echo $this->getRatingSummary() ?>%"><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i></div>
				</div>
			<?php endif;?>
			<p class="rating-links">
				<a href="<?php echo $product_url ?>#reviews-link"><?php echo $this->__('Based on %d Review(s)', $this->getReviewsCount()) ?></a>
			</p>
			<div class="add-review-link">
				<a href="<?php echo $product_url ?>#reviews-link" class="add-review"><i class="ion-compose"></i><?php echo $this->__('Add Your Review') ?></a>
			</div>
		</div>
	<?php endif; ?>
<?php else: ?>
	<div class="add-review-link">
		<a href="<?php echo $product_url ?>#reviews-link" class="add-review"><i class="ion-compose"></i><?php echo $this->__('Add Your Review') ?></a>
	</div>
<?php endif;
