<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
 $product = Mage::registry('product');
 if($product){
	$product_url = '';
 }else{
	$product_url = $this->getProduct()->getProductUrl();
 }
 $meigeeOptions = $this->getLayout();
 $richSnippetsStatus = $meigeeOptions->getMConfigResultByAlias('snippets_status');
 $richSnippetsRating = $meigeeOptions->getMConfigResultByAlias('snippets_reviews');
?>
<?php if($product || $meigeeOptions->getMConfigResultByAlias('listing_rating_stars') || $meigeeOptions->getMConfigResultByAlias('listing_rating_customer') || $meigeeOptions->getMConfigResultByAlias('listing_rating_review')): ?>
	<?php if ($this->getReviewsCount()): ?>
		<div class="ratings clearfix"<?php if(($richSnippetsStatus) and ($richSnippetsRating) and ($product)): ?> itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"<?php endif; ?>>
			<?php if ($this->getRatingSummary() && ($product || $meigeeOptions->getMConfigResultByAlias('listing_rating_stars'))):?>
				<?php if(($richSnippetsStatus) and ($richSnippetsRating) and ($product)): ?>
					<meta itemprop="ratingValue" content="<?php echo $this->getRatingSummary(); ?>" />
					<meta itemprop="reviewCount" content="<?php echo $this->getReviewsCount(); ?>" />
					<meta itemprop="bestRating" content="100" />
					<meta itemprop="worstRating" content="0" />
				<?php endif; ?>
				<div class="rating-box">
					<i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i>
					<div class="rating" style="width:<?php echo $this->getRatingSummary() ?>%"><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i></div>
				</div>
			<?php endif;?>
		  <?php if ($meigeeOptions->getMConfigResultByAlias('listing_rating_customer') || $meigeeOptions->getMConfigResultByAlias('listing_rating_review')):?>
				<p class="rating-links">
					<?php if($product || $meigeeOptions->getMConfigResultByAlias('listing_rating_customer')):?>
						<a href="<?php echo $product_url ?>#reviews-link"><?php echo $this->__('%d Review(s)', $this->getReviewsCount()) ?></a>
					<?php endif; ?>
					<?php if ($product || ($meigeeOptions->getMConfigResultByAlias('listing_rating_customer') && $meigeeOptions->getMConfigResultByAlias('listing_rating_review'))):?>
						<span class="separator">|</span>
					<?php endif; ?>
					<?php if ($product || $meigeeOptions->getMConfigResultByAlias('listing_rating_review')):?>
						<a href="<?php echo $product_url ?>#reviews-link" class="add-review"><?php echo $this->__('Add Your Review') ?></a>
					<?php endif; ?>
				</p>
		  <?php endif; ?>
		</div>
	<?php endif; ?>
<?php endif;
