<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="facebook-widget-wraper">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.3";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-page" <?php echo $this->setWidth(500)->getContentLikebox(); ?>><div class="fb-xfbml-parse-ignore"><blockquote cite="<?php echo $this->getHref(); ?>"><a href="<?php echo $this->getHref(); ?>">&nbsp;</a></blockquote></div></div>
</div>
