<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

$meigeeOptions = $this->getLayout();
$slider_data_arr = array();
if ($this->getTemplate() == 'widget/slider.phtml')
{
	$slider_data_arr = array('add_to_cart'=>'add_to_cart_slider', 'product_name'=>'product_name_slider', 'price'=>'price_slider', 'compare'=>'compare_slider', 'wishlist'=>'wishlist_slider', 'rating_cust_link'=>'rating_cust_link_slider', 'rating_add_review_link'=>'rating_add_review_link_slider', 'rating_stars'=>'rating_stars_slider', 'stock_status'=>'stock_status_slider', 'desc'=>'desc_slider', 'timer'=>'timer_slider');
}
$visibleProducts = $this->getVisibleProducts();
$visibleProducts = ($visibleProducts > 8 ? 8 : $visibleProducts);
$widgetId = $this->getWidgetId();

?>
<div class="slider-container widget-products">
	<?php
		$collection = $this->getCollection();
		$productCount = count($collection);
		if($productCount > $visibleProducts) {
		echo $this->getPager();
	?>
	<div class="home-container">
		<div class="quick-view-container">
			<div class="quick-view-data-container"></div>
			<div class="home-slider es-carousel-wrapper" id="home-slider-<?php echo $widgetId; ?>">
				<div class="widget-slider products-grid clearfix owl-carousel owl-theme">
					<?php foreach ($collection as $product): ?>
						<?php
						$widget_tmpl = $this->getLayout()->createBlock('page/html')->setProductInfo($product)->setProductList($this)->setTemplate('widget/grids/default_slider.phtml');
						if(!empty($slider_data_arr))
						{
							foreach ($slider_data_arr AS $name=>$data)
							{
								$widget_tmpl->setData($name, $this->getData($data));
							}
						}

						echo $widget_tmpl->toHtml(); ?>
					<?php endforeach ?>
				</div>
				<?php if ($productCount > $visibleProducts): ?>
				<div class="owl-buttons"></div>
				<?php endif; ?>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		<?php if ($productCount >= $visibleProducts):
			$itemsHorizontal = $this->getItemsHorizontal();
			$itemsVertical = $this->getItemsVertical();
			// $itemsScaleUp = $this->getItemsScaleup();
			$paginationSpeed = $this->getPaginationSpeed();
			// $rewindSpeed = $this->getRewindSpeed();
			$pagination = $this->getPagination();
			$lazyLoad = $this->getLazyLoad();
			$autoPlay = $this->getAutoPlay();
			$slideSpeed = $this->getSlideSpeed();
			$stopOnHover = (null != $this->getStopOnHover() ? $this->getStopOnHover() : 'false');
			$centerLoop = (null != $this->getPorterCenterLoop() ? $this->getPorterCenterLoop() : 'false');
			$rtl = (null != $this->getPorterRtl() ? $this->getPorterRtl() : 'false');
		?>
			jQuery(document).ready(function(){
				homeSlider<?php echo $widgetId; ?> = jQuery('#home-slider-<?php echo $widgetId; ?> .products-grid');
				homeSlider<?php echo $widgetId; ?>.owlCarousel({
					margin: 0,
					nav:true,
					responsive:{
						0:{
							items:1
						},
						767:{
							items:2
						},
						1007:{
							items:<?php echo $itemsVertical; ?>
						},
						1331:{
							items:<?php echo $itemsHorizontal; ?>
						}
					},
					smartSpeed: <?php echo $slideSpeed; ?>,
					dotsSpeed: <?php echo $paginationSpeed; ?>,
					<?php if(empty($autoPlay)){ ?>
						autoplay: false,
					<?php } else { ?>
						autoplay: true,
						autoplayTimeout: <?php echo $autoPlay; ?>,
						autoplayHoverPause: <?php echo $stopOnHover; ?>,
					<?php } ?>
					dots: <?php echo $pagination; ?>,
					lazyLoad: <?php echo $lazyLoad; ?>,
					center: <?php echo $centerLoop; ?>,
					loop: <?php echo $centerLoop; ?>,
					rtl: <?php echo $rtl; ?>,
					navContainer: '#home-slider-<?php echo $widgetId; ?> .owl-buttons',
					navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>']
				});
			});
		<?php endif; ?>
	</script>
	<?php
		echo $this->getPager();
		} else {
			echo $this->__("Warning: Please make sure you have %s+ products to display in the slider, otherwise widget won't be displayed", $visibleProducts+1);
		}
	?>
</div>
