<div style=" float:left; width:653px;">
    <img src="<?php echo $this->getSkinUrl('images/media/home_co_main.jpg');?>" alt="" />
</div>
<div style="float:right; width:280px;">
    <div style="margin:0 0 10px;" ><img src="<?php echo $this->getSkinUrl('images/media/home_co_tr.gif');?>" alt="" /></div>
    <div><img src="<?php echo $this->getSkinUrl('images/media/home_co_br.gif');?>" alt="" /></div>
</div>
<div class="clearer"></div>
<div style="margin:10px 0 0;"><img src="<?php echo $this->getSkinUrl('images/media/home_co_bottom.gif');?>" alt="" /></div>
