<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php if ($instructions = $this->getInstructions()): ?>

<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
	<li>
		<div class="<?php echo $this->getMethodCode() ?>-instructions-content">
			<?php echo nl2br($instructions) ?>
		</div>
	</li>
</ul>
<?php endif; ?>
