<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
 $meigeeOptions = $this->getLayout();
 $richSnippetsStatus = $meigeeOptions->getMConfigResultByAlias('snippets_status');
 $richSnippetsBreadcrumbs = $meigeeOptions->getMConfigResultByAlias('snippets_breadcrumbs');
$product = Mage::registry('product');
if(isset($product)){
	$category = $product->getCategory();
	if(isset($category)){
		$cat_name = $category->getName();
	}
}
$ishome_page = Mage::getBlockSingleton('page/html_header')->getIsHomePage();
?>
<?php if($crumbs && is_array($crumbs)){ ?>
	<div class="breadcrumbs-wrapper">
		<div class="container">
			<div class="breadcrumbs-inner clearfix">
				<?php // if($breadcrumbsType != 0){ ?>
					<header class="page-title">
						<?php
						// if(isset($category)){
							// echo '<h1>'.$cat_name.'</h1>';
						// } else {
							foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
								<?php if($_crumbInfo['last']){ ?>
									<h1><?php echo $this->escapeHtml($_crumbInfo['label']) ?></h1>
								<?php }
							endforeach;
						//}
						?>
					</header>
				<?php // } ?>
				<ul class="breadcrumb">
					<?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
						<li class="<?php echo $_crumbName ?>"<?php if(($richSnippetsStatus) and ($richSnippetsBreadcrumbs) and ($_crumbInfo['link'])): ?> itemscope itemtype="http://data-vocabulary.org/Breadcrumb"<?php endif; ?>>
						<?php if($_crumbInfo['link']): ?>
							<a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->escapeHtml($_crumbInfo['label']) ?>"
							<?php echo (($richSnippetsStatus and $richSnippetsBreadcrumbs) ? 'itemprop="url"><span itemprop="title">'. $this->escapeHtml($_crumbInfo['label']).'</span>'  : '>'. $this->escapeHtml($_crumbInfo['label'])); ?></a>
						<?php elseif($_crumbInfo['last']): ?>
							<strong><?php echo $this->escapeHtml($_crumbInfo['label']) ?></strong>
						<?php else: ?>
							<?php echo $this->escapeHtml($_crumbInfo['label']) ?>
						<?php endif; ?>
						</li>
					<?php endforeach; ?>
				</ul>
			</div>
		</div>
	</div>
<?php } ?>
