<?php
/**
* @package     porter
* @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
*/
/**
* @var Mage_Page_Block_Html_Header $this
*/
?>
<div class="header-wrapper">
	<?php if ($this->getLayout()->createBlock('cms/block')->setBlockId('porter_right_menu')->toHtml()): ?>
		<div class="container header-menu-wrapper">
			<div class="header-menu"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('porter_right_menu')->toHtml() ?></div>
		</div>
	<?php endif; ?>
	<header id="header" class="header header-1">
		<div class="top-block">
			<div class="container">
				<div class="block-inner clearfix">
					<div class="left-block clearfix">
						<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('porter_header_info')->toHtml(); ?>
					</div>
					<span class="right-block clearfix">
						<?php echo $this->getChildHtml('store_language') ?>
						<?php echo $this->getChildHtml('currency') ?>
                        <span class="header-account">
                            <?php if ($this->getWelcome()): ?>
                            <div class="welcome-msg"><?php echo $this->getWelcome() ?></div>
                            <?php endif; ?>
                            <?php echo $this->getChildHtml('wrapper_links'); ?>
                            <?php if(!$this->helper('customer')->isLoggedIn()){ ?>
                            <div class="create-account"><a href="<?php echo $this->getBaseUrl('web'); ?>customer/account/create/"><?php echo $this->__('Registrarse'); ?></a></div>
                            <?php } ?>
                        </span>
					</span>
				</div>
			</div>
		</div>
		<div class="middle-block">
			<div class="container">
				<div class="middle-block-inner clearfix">
					<div class="left-block clearfix">
						<div class="logo-wrapper">
							<?php $logo = $this->getLayout()->getLogoData(false); ?>
							<h2 class="logo">
								<strong><?php echo $this->getLayout()->getLogoData(true) ?></strong>
								<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLayout()->getLogoData(true) ?>">
									<img <?php echo $logo ?> alt="<?php echo $this->getLayout()->getLogoData(true) ?>" />
								</a>
							</h2>
						</div>
                        <?php if ($this->getAdditionalHtml()): ?>
						    <p class="additional-html"><?php echo $this->getAdditionalHtml() ?></p>
                        <?php endif; ?>
					</div>
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('porter_header_custom_block')->toHtml(); ?>
					<div class="right-block clearfix">
						<?php echo $this->getChildHtml('cart_sidebar'); ?>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-block">
			<div class="container">
				<div class="main-menu-wrapper  clearfix">
					<?php echo $this->getChildHtml('topMenu'); ?>
					<?php // echo $this->getChildHtml('topSearch'); ?>
                    <div class="blog-button">
                        <a href="http://www.neumarket.com/blog" class="level-top"><span>Blog</span></a>
                    </div>
				</div>
			</div>
		</div>
	</header>
	<?php echo $this->getChildHtml('sticky_header'); ?>
	<?php echo $this->getChildHtml('topContainer'); ?>
	<?php echo $this->getChildHtml('meigee_loader'); ?>
	<?php echo $this->getChildHtml('before_content'); ?>
    <?php echo $this->getChildHtml('benefits_header') ?>
</div>
