<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
 $relatedTabs = $this->getProduct()->getRelatedTabs();
?>
<?php if($this->getItems()->getSize() && !$relatedTabs): ?>
<div class="related-bottom products-grid block-related">
    <header class="widget-title">
		<h3><?php echo $this->__('Related Products') ?></h3>
		<span class="widget-subtitle more-link"><?php echo $this->__('Check items to add to the cart or') ?>&nbsp;<a href="#" onclick="selectAllRelatedBottom(this); return false;"><?php echo $this->__('select all') ?></a></span>
	</header>
    <div class="block-content">
        <ol class="mini-products-list clearfix" id="block-related">
        <?php foreach($this->getItems() as $_item): ?>
            <li class="item col-md-3 col-sm-4">
                <div class="product">
					<div class="image-box">
						<a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($_item->getName()) ?>" class="product-image">
							<?php
								$escaped_label = (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($_item->getName());
								echo '<img '. $_item->getProductMediaResized(400, 'thumbnail')
									->addImageHtmlAttributte('alt', $escaped_label)
									->addImageHtmlAttributte('title', $escaped_label)
									->getImageHtmlAttributte().' />';
							?>
						</a>
					</div>
                    <div class="product-details">
                        <h5 class="product-name clearfix">
							<a href="<?php echo $_item->getProductUrl() ?>"><?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($_item->getName()) ?></a>
						</h5>
                        <?php echo $this->getPriceHtml($_item, true, '-related') ?>
						<?php if(!$_item->isComposite() && $_item->isSaleable()): ?>
							<?php if (!$_item->getRequiredOptions()): ?>
								<input type="checkbox" class="checkbox related-checkbox" id="related-checkbox<?php echo $_item->getId() ?>" name="related_products[]" value="<?php echo $_item->getId() ?>" />
							<?php endif; ?>
						<?php endif; ?>
                    </div>
                </div>
            </li>
        <?php endforeach ?>
        </ol>
        <script type="text/javascript">decorateList('related-bottom', 'none-recursive')</script>
    </div>
    <script type="text/javascript">
		//<![CDATA[
			$$('.related-checkbox').each(function(elem){
				Event.observe(elem, 'click', addRelatedToProduct)
			});
			var relatedProductsCheckFlag = false;
			function selectAllRelatedBottom(txt){
				if (relatedProductsCheckFlag == false) {
					$$('.related-checkbox').each(function(elem){
						elem.checked = true;
					});
					relatedProductsCheckFlag = true;
					txt.innerHTML="<?php echo Mage::helper('core')->jsQuoteEscape($this->__('unselect all')); ?>";
				} else {
					$$('.related-checkbox').each(function(elem){
						elem.checked = false;
					});
					relatedProductsCheckFlag = false;
					txt.innerHTML="<?php echo Mage::helper('core')->jsQuoteEscape($this->__('select all')); ?>";
				}
				addRelatedToProduct();
			}
			function addRelatedToProduct(){
				var checkboxes = $$('.related-checkbox');
				var values = [];
				for(var i=0;i<checkboxes.length;i++){
					if(checkboxes[i].checked) values.push(checkboxes[i].value);
				}
				if($('related-products-field')){
					$('related-products-field').value = values.join(',');
				}
			}
			//]]>
    </script>
</div>
<?php elseif($relatedTabs):
	foreach ($relatedTabs AS $tab) {
		echo $tab->getTitle();
		echo $tab->getContent();
	}
endif ?>
