<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>

<?php $_product = $this->getProduct(); ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>

<ul class="add-to-links clearfix">
<?php if ($this->helper('wishlist')->isAllow()) : ?>
    <li>
		<a href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist" title="<?php echo $this->__('Add to wishlist'); ?>">
			<i class="fa fa-heart"></i><span><?php echo $this->__('Add to wishlist'); ?></span>
		</a>
	</li>
<?php endif; ?>
<?php
    $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
?>
<?php if($_compareUrl) : ?>
    <li><a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to compare'); ?>"><i class="fa fa-exchange"></i><span><?php echo $this->__('Add to compare'); ?></span></a></li>
<?php endif; ?>
    <?php if ($this->canEmailToFriend()): ?>
        <li class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><i class="icon-envelope"></i><span><?php echo $this->__('Email to a friend'); ?></span></a></li>
    <?php endif; ?>
</ul>
