<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

/**
 * Product additional attributes template
 *
 * @see Mage_Catalog_Block_Product_View_Attributes
 */
?>
<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct()
?>
<?php if($_additional = $this->getAdditionalData()): ?>
    <h2><?php echo $this->__('Additional Information') ?></h2>
    <?php foreach ($_additional as $_data): ?>
        <?php if($_data['code'] == "garantia"): ?>
            <?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?>
        <?php endif; ?>
    <?php endforeach; ?>


    <!-- table class="table table-responsive table-bordered" id="product-attribute-specs-table">
        <tbody>
        <?php //foreach ($_additional as $_data): ?>
            <tr>
                <th class="label"><?php //echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($this->__($_data['label'])) ?></th>
                <td class="data"><?php //echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
            </tr>
        <?php //endforeach; ?>
        </tbody>
    </table -->
    <!-- script type="text/javascript">decorateTable('product-attribute-specs-table')</script -->
<?php endif;?>
