<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="product-sidebar sidebar col-xs-3">
	<div class="sidebar-inner">
		<?php echo $this->getChildHtml('product_sidebar'); ?>
	</div>
</div>
