<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
$catalogModeWrapper = $this->getLayout()->getMConfigResultByAlias('catalog_mode');
$catalogMode = $catalogModeWrapper['value']['sv2']['value'];
?>
<div class="page-title">
    <h2><?php echo $this->__('My Tags') ?></h2>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<p class="my-tag-edit clearfix">
		<a href="#" title="<?php echo $this->__('Delete') ?>" onclick="if(confirm('<?php echo $this->__('Are you sure you want to delete this tag?') ?>')) window.location='<?php echo $this->getTagInfo()->getRemoveTagUrl(); ?>'; return false;" class="button btn-remove"><i class="icon-close"></i></a>
    <?php echo $this->__('<strong>Tag Name:</strong> %s', $this->escapeHtml($this->getTagInfo()->getName())) ?>
</p>
<?php echo $this->getToolbarHtml() ?>
<div class="table-responsive">
	<table class="table table-bordered" id="my-tags-table">
	<?php if( sizeof($this->getMyProducts()) > 0 ): ?>
		<col width="1" />
		<col />
		<col width="1" />
		<tbody>
		<?php $iterator = 0 ?>
		<?php foreach($this->getMyProducts() as $_product): ?>
			<tr<?php if($iterator % 2 == 0): ?> class="odd"<?php $iterator++;endif; ?>>
				<td>
					<a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image">
						<?php
							$escaped_label = $this->escapeHtml($_product->getName());
							echo '<img '. $_product->getProductMediaResized(100, 'small_image')
								->addImageHtmlAttributte('alt', $escaped_label)
								->addImageHtmlAttributte('title', $escaped_label)
								->getImageHtmlAttributte().' />';
						?>
					</a>
				</td>
				<td>
					<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2>
					<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
					<?php echo $this->getPriceHtml($_product) ?>
					<?php echo $this->escapeHtml($_product->getDescription()) ?>
				</td>
				<td>
					<div class="actions clearfix">
					<?php if($_product->isSaleable()): ?>
						<?php $params[Mage_Core_Model_Url::FORM_KEY] = Mage::getSingleton('core/session')->getFormKey() ?>
						<?php $params['product'] = $_product->getId(); ?>
						<?php if($catalogMode == 0) { ?>
							<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn btn-default" onclick="setLocation('<?php echo $this->getUrl('checkout/cart/add', $params) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
						<?php } ?>
					<?php endif; ?>
					<?php if ($this->helper('wishlist')->isAllow()) : ?>
					<ul class="add-to-links">
						<li>
							<a href="<?php echo $this->getUrl('wishlist/index/add',array('product'=>$_product->getId())) ?>" class="link-wishlist"><i class="fa fa-heart"></i><?php echo $this->__('add to wishlist') ?></a>
						</li>
					</ul>
					<?php endif; ?>
					</div>
				</td>
			</tr>
		<?php endforeach; ?>
		</tbody>
	<?php else: ?>
		<tbody>
			<tr>
				<td>
					<?php echo $this->__("Unable to find any products tagged with '%s' in the current store", $this->escapeHtml($this->getTagInfo()->getName()) ) ?>
				</td>
			</tr>
		</tbody>
	<?php endif; ?>
	</table>
	<script type="text/javascript">decorateTable('my-tags-table')</script>
</div>
<?php echo $this->getToolbarHtml() ?>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->getUrl('*/*/')?>"><small>&laquo; </small><?php echo $this->__('Back to Tags List')?></a></p>
</div>
