
div.amshopby-column {
    float:left; width:83px;
}

select.amshopby-select {
    width:170px;
}

.amshopby-logo{
padding: 0pt 10px 10px 0pt; float: left;
}

.amshopby-featured {
    padding: 5px 5px 5px 5px; 
}

.amshopby-link{
    float:left;
    padding-left:5px; 
    padding-top:5px;
}

.amshopby-clearer {
	display:block; 
	clear:both; 
	overflow: hidden;
}
div.block-layered-nav dd a {padding:0px 5px 0px 0px; display:block; float: left;}  
div.block-layered-nav dd a.amshopby-attr {padding-left:19px; background-image:url(../images/amshopby-cb1.gif); background-repeat: no-repeat; background-position: left 1px;}
div.block-layered-nav dd a.amshopby-attr:hover { color:#000; text-decoration: none;}
div.block-layered-nav dd a.amshopby-attr-selected {font-weight: bold; padding-left:19px; background-image:url(../images/amshopby-cb2.gif); background-repeat: no-repeat; background-position: left 1px;}
div.block-layered-nav dd a.amshopby-attr-selected:hover { color:#000; text-decoration: none; }
div.block-layered-nav dd a.amshopby-attr-inactive {pointer-events: none; color: #666666}
div.block-layered-nav dd a img {/* padding: 0px 4px 5px;*/ float:left;}

div.block-layered-nav dd li.amshopby-cat-level-2 {padding-left:10px;}
div.block-layered-nav dd li.amshopby-cat-level-3 {padding-left:20px;}

div.block-layered-nav dd a.amshopby-cat-selected {font-weight: bold;
color:black; text-decoration: none; cursor:text;}

div.block-layered-nav dd li span.amshopby-plusminus {float:left;
display:block; width:15px; height:15px; cursor:pointer;
background:transparent url(../images/amshopby-plus.gif)  no-repeat;}
div.block-layered-nav dd li span.minus {background:transparent
url(../images/amshopby-minus.gif) no-repeat;}
div.block-layered-nav dd li:after {display:block; content:".";
clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }



div.block-layered-nav.amshopby-collapse-enabled dt {
 cursor:pointer; 
 padding-left:17px;
 margin-top: 8px;
 padding: 6px 10px 10px 28px;
 margin-bottom: 3px;
 background:url(../images/amshopby-expanded-over.gif) #e9e9e9 10px 7px no-repeat;
 color: #333;
 text-transform: none;
}
div.block-layered-nav.amshopby-collapse-enabled dt:hover {
    color: #000;
    background:url(../images/amshopby-expanded.gif) #e3e3e3 10px 7px no-repeat;
}
div.block-layered-nav.amshopby-collapse-enabled dt.amshopby-collapsed {background:url(../images/amshopby-collapsed-over.gif) #e9e9e9 10px 7px no-repeat; }
div.block-layered-nav.amshopby-collapse-enabled dt.amshopby-collapsed:hover {background:url(../images/amshopby-collapsed.gif) #e3e3e3 10px 7px no-repeat; }

div.block-layered-nav.amshopby-collapse-enabled dd {
    margin-left: 27px;
    margin-right: 5px;
}

div.block-layered-nav.amshopby-collapse-enabled dd.last {
    border-bottom: 0px;
}

div.block-layered-nav div.amshopby-slider {
	 position:relative; margin:7px 4px 5px 4px; z-index:9; height:18px;  background: url(../images/amshopby-slider-bg.gif) repeat-x 0 50%; cursor:pointer;
}
div.block-layered-nav div.amshopby-slider div.handle {margin-left:-13px; width:18px; top:0px; height:20px; background: transparent url(../images/amshopby-hadle.png) no-repeat; position: absolute; cursor:move; z-index: 2;}
div.block-layered-nav div.amshopby-slider div.handle:nth-child(1) {margin-left:-4px;}

div.amshopby-overflow-scroll-enabled div.block-content dl dd ol { padding: 6px 0; }

/*
 * Slider labels
 */
.amshopby-slider-price {
	color: #798794;
}
.amshopby-slider-price-from {
	float: left;
    
}
.amshopby-slider-price-to {
	float: right;
}

.amshopby-slider-handle-right {
	position: absolute;
	top: 14px;
	right: 0px;
}

.amshopby-slider-handle-left {
	position: absolute;
	top: 14px;
	left: 0px;
}

.amshopby-tooltip {
    padding:3px 5px;
    background:#555;
    border:1px solid #444;
    color:#fff;
    font-size: 12px;
    text-align:left;
    position:absolute;
}

.amshopby-slider-price-range 
{
	text-align: center;
	font-size: 0.9em;
}

.amshopby-tooltip-img {
    cursor:help;
    display: inline;
}

div.block-layered-nav, div.amshopby-page-container, div.amshopby-filters-top {
    position: relative;
}
div.amshopby-overlay {
    background-color: #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 555;
}
div.amshopby-overlay img {
    top: 100px;
    left: 45%;
    display: block;
    position: absolute;
}

div.amshopby-overlay div {
    margin: 0 auto;
    display: block;
	width: 300px;
	height: 200px;
	background:  url('../images/amshopby-overlay.gif') 50% 50% no-repeat;
}

/*
 * Advanced Categories
 */
.amshopby-advanced li {
	clear: both;
}
.amshopby-advanced li.level1 {
	padding-left: 20px;
}
.amshopby-advanced li.level2 {
	padding-left: 30px;
}
.amshopby-advanced li.level3 {
	padding-left: 40px;
}
.amshopby-advanced li.level4 {
	padding-left: 50px;
}


.amshopby-advanced li.active > a {
	font-weight: bold;
}

/*
 * Slider Bar
 */
.amshopby-slider-bar {
	position:absolute; 
	background: #548CE4;
	height: 6px; 
	top: 6px; 
	z-index: 1;  
}

/*
 * Subcategories block
 */
.amshopby-subcategory-image {
	overflow: auto; 
}

.btn-remove-inline { background-image: url('../images/am_btn_remove.gif'); background-repeat: no-repeat; width:13px; height:12px; margin-left: 4px; }
.btn-remove-inline:hover { /* background-position: center bottom; */ }
.amshopby-hightlighted { background: yellow;}

.btn-remove-inline img {display: inline;}

div.block-layered-nav div.amshopby-slider div.handle.active { z-index: 3; }

.amshopby-slider-ui { background: url(../images/amshopby-slider-bg.gif) repeat-x 0 50%; margin: 10px .4em; }
.amshopby-slider-ui .ui-slider-handle { background-color: #f18200; border: 1px solid #de5400; box-sizing: border-box; outline: none; }
.amshopby-slider-ui .ui-slider-range { background-color: #999999; }

.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.ui-slider { cursor: pointer; position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 0.8em; height: 1.2em; cursor: pointer; -ms-touch-action: none; touch-action: none; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range { filter: inherit; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.2em; margin-left: -.4em; }
.ui-slider-horizontal .ui-slider-range { top: 0.2em; height: 8px; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.amshopby-narrow-by-list table td { vertical-align: top; }