@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
/* Upgrade for responsive */
/*SLIDER PRINCIPAL*/
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

/*SLIDER MARCAS LOGOS*/
.rslides2 {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
}

.rslides2 li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    display: flex !important;
    justify-content: space-around;
}

.rslides2 li a {
    display: block;
    margin: 8px;
}

.rslides2 li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides2 img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.carousel_arrow_right {
    display: none !important;
}

.product-essential form > .product-name {
    display: none;
}

/*Checkout*/
.offAll {
    display: none;
    background: none;
}

.offBgAll {
    background: none;
}

.header-checkout * {
    box-sizing: border-box;
}

.header-checkout {
    border-bottom: 1px solid #b7b0b0;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;
    width: 990px;
}

.header-checkout-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
}

.header-checkout-right > div {
    display: flex;
    justify-content: flex-end;
}

.header-checkout-right > div a {
    display: block;
    background: #eae1e1;
    padding: 3px 15px;
    text-align: center;
    margin: 0 8px;
    color: #666;
}

.header-checkout-right > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-checkout-right > ul li {
    display: flex;
    align-items: center;
    margin: 0 0 0 30px;
}

.header-checkout-right > ul li p {
    margin: 0 0 0 11px;
}

.check-aside {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px 0;
    border-bottom: 1px solid #b7b0b0;
    border-top: 1px solid #b7b0b0;
}

.check-aside p {
    margin: 0 0 0 15px;
    color: #666;
}

.check-footer {
    margin: 15px 0 15px 0;
    padding: 0 3%;
    color: #666;
    text-align: center;
}

@media (max-width: 766px) {
    .header-checkout {
        flex-direction: column;
        padding: 10px 0;
        width: 100%;
    }

    .header-checkout-right > ul li {
        margin: 13px 5px 3px 5px;
    }

    .header-checkout-right {
        /*width: 100%;*/
        margin-top: 10px;
    }

    .header-checkout-right > div {
        display: block;
        justify-content: unset;
    }

}

@media (min-width: 1011px) {
    #main-button,
    #home-A .imgLLanta,
    #home #home-F,
    .ayuda > img,
    .line,
    .footer-movil,
    .wrapper .line,
    .footer-container hr,
    .car-m,
    .product-link,
    .sorter .filters,
    .block .block-exit,
    .page-title .btn-modal,
    .searchModal-tabs, .searchModal-close,
    .imgHelp,
    .tab-descripcion-content,
    .tab-garantia-content,
    .tab-envio-content,
    .help_search,
    .important {
        display: none;
    }
}

@media (max-width: 1010px) {
    #nav {
        display: flex;
        width: initial;
    }
}

@media (max-width: 1050px) {
    .rslides2 img {
        width: 90% !important;
    }
}

@media (max-width: 1010px) {
    body, html, h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto', sans-serif !important;
    }

    body {
        background: none;
    }

    .page {
        width: initial;
        padding: 0 2%;
    }

    .page.active {
        margin-top: 60px;
    }

    .wrapper {
        background: initial;
    }

    .ayuda {
        bottom: 0;
    }

    .ayuda span {
        display: none;
    }

    .ayuda > img {
        display: block;
        max-width: 100%;
        width: 30px;
    }

    .rslides2 img {
        width: 80% !important;
    }

    .rslides2 li a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fabricantes-wrap {
        border-bottom: 1px solid #c4c1c1;
        border-top: 1px solid #c4c1c1;
    }

    /*header*/
    .header .block-cart .cart-toggle .cart-toggle-wrap {
        /*background: url(../images/car.png) no-repeat !important;*/
        background: none;
        margin: 0;
        padding: 0;
        position: relative;
        top: -2px;
    }

    .header .block-cart .cart-toggle .cart-toggle-wrap > div {
        padding: 0;
    }

    .header .block-cart .cart-toggle .cart-toggle-wrap > div img {
        width: 56px;
    }

    .header .block-cart .cart-toggle SPAN.qty {
        left: 38px;
        top: 5px;
        font-size: 10px;
    }

    .header .block-cart .cart-toggle {
        background: black !important;
    }

    .header .block-cart .cart-toggle SPAN.qty {
        color: black !important;
    }

    .header {
        width: auto;
        height: 100%;
    }

    .header-container {
        height: 50px;
        background: black;
    }

    .header .logo {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header .logo > a {
        position: static;
    }

    .header .logo img {
        width: 150px;
        height: auto;
    }

    .header #contact {
        display: none;
    }

    .header .quick-access {
        display: none;
    }

    .header #mainLinks {
        display: none;
    }

    .header .block-cart .block-content {
        display: none !important;
    }

    .header .block-cart .cart-toggle {
        width: 51px;
        bottom: -19px;
        height: 39px;
        right: 5%;
        border-radius: 12px;
    }

    .header .block-cart .cart-toggle .total {
        display: none;
    }

    .header-fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 999999999999;
    }

    #slides-2 {
        display: none;
    }

    #home {
        display: flex;
        padding-top: 50px;
        justify-content: space-around;
    }

    #home-A {
        width: 37.5%;
        background: none;
    }

    #home-A .imgLLanta {
        text-align: center;
        display: block;
    }

    #home-A .imgLLanta img {
        width: 90%;
        height: auto;
    }

    #home-A #tabsearch .tabcontent {
        display: flex;
        border: 6px solid #0D6292;
        min-height: 256px;
        height: auto;
        background: #f1f1f1;
    }

    #home-A #tabsearch .tabcontent form select {
        height: 40px !important;
        border: 1px solid #929090;
        width: 100%;
        margin-bottom: 15px;
        box-shadow: none;
    }

    #home-A #tabsearch .tabcontent form .wheelsfinder {
        padding: 20px 17px 0;
        margin: 0;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent {
        padding-top: 42px;
        padding-bottom: 10px;
        box-sizing: border-box;
        min-height: 268px;
        height: auto;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle {
        position: static;
        width: 100%;
        background: #f1f1f1;
        min-height: 240px;
        display: none;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle h2 {
        display: none;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle-tabs {
        position: absolute;
        top: 0;
        background: #0D6292;
        height: 42px;
        left: 0;
        right: 0;
        margin: 0;
        display: flex;
        width: 100%;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle-tabs .optVehicle,
    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle-tabs .optSize {
        background: #0D6292;
        width: 50%;
        padding: 15px 0;
        margin: 0;
        cursor: pointer;
        box-sizing: border-box;
        color: white;
        font-size: 12px;
        text-align: center;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle-tabs .optVehicle span,
    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle-tabs .optSize span {
        font-weight: 900;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle-tabs .optVehicle.active,
    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle-tabs .optSize.active {
        background: #f1f1f1;
        color: #666;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle form button {
        width: 100%;
        background: #DB9600;
        border: none;
        box-shadow: none;
        color: white;
        font-weight: bold;
        text-align: center;
        height: 40px;
        line-height: 40px;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle form button img {
        display: none;
    }

    #form-wf-vehicles .buttons-set {
        float: none;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0 20px;
        text-align: center;
    }

    /*tab por medida*/
    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize {
        position: static;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        background: none;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize h2 {
        display: none;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize h2 {
        background: #0D6292;
        padding: 15px 0;
        margin: 0;
        width: 49.4%;
        cursor: pointer;
        display: none;
        box-sizing: border-box;
        font-size: 10px;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize h2.active {
        background: #f1f1f1;
        color: white;
    }

    DIV#home-A DIV#tabsearch {
        width: 100%;
        height: auto;
    }

    DIV.tabsize #form-wf-sizes .form-list li {
        float: none;
        margin: 0;
    }

    DIV.tabsize #form-wf-sizes .wheelsfinder .form-list .input-box {
        width: 100%;
    }

    DIV.tabsize #form-wf-sizes button.button {
        position: static;
        width: 85%;
        background: #DB9600;
        border: none;
        box-shadow: none;
        color: white;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        float: right;
    }

    DIV.tabsize #form-wf-sizes button.button img {
        display: none;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize DIV.ayuda {
        left: 31px;
        bottom: 14px;
    }

    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize DIV.ayuda span {
        color: #0D6292;
    }

    #home-B {
        width: 59%;
        float: none !important;
        height: auto !important;
        position: relative !important;
    }

    DIV#home-B DIV#slides-1 {
        width: 100%;
        padding: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 6;
    }

    DIV#home-B DIV#slides-1 .slides_container {
        width: 100%;
        height: auto;
    }

    DIV#home-B DIV#slides-1 .slides_container .slides_control {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #home-C {
        position: absolute;
        top: 25px;
        right: 0;
        width: 54%;
    }

    #home-C h2 {
        font-size: 14px;
        width: auto;
    }

    #home-C #slides-3 .slides_container {
        background: none;
    }

    #home-C #slides-3 .slides_container > div {
        width: 100% !important;
        left: 0 !important;
        right: 0 !important;
    }

    #home-C #slides-3 .slides_container > div > div {
        width: 100% !important;
        left: 0 !important;
        right: 0 !important;
    }

    #home-D {
        background: none;
    }

    #home-D h2 {
        background: none;
        text-align: center;
        font-size: 19px;
        padding-left: 0;
    }

    #home-E table {
        width: 95% !important;
        margin: 0 auto;
    }

    #home-E table p > span {
        color: black !important;
    }

    #home-E table p > span span {
        color: #0f5dd6 !important;
    }

    #home-F {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        text-align: center;
        height: 50px;
        line-height: 50px;
        display: block;
        font-weight: 900;
    }

    /*hamburguer*/
    #main-button {
        color: white;
        position: absolute;
        top: 10px;
        left: 5%;
        font-size: 24px;
        cursor: pointer;
        display: block;
    }

    #main-button img {
        width: 30px;
    }

    /*menu*/
    .header #mainLinks {
        display: block;
        position: fixed;
        top: 50px;
        bottom: 0;
        background: #f7f7f8;
        left: -224px;
        width: 214px;
        z-index: 9999;
        box-sizing: border-box;
        padding-left: 0;
        overflow-y: auto;
        box-shadow: 2px 1px 9px 0px rgba(112, 108, 112, 1);
        border-right: 1px solid #acaaaa;
        transition: .7s;
    }

    #mainLinks.active {
        left: 0;
    }

    #nav {
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }

    .nav-container {
        padding-top: 0;
        background: none;
    }

    #nav li ul.shown-sub, #nav li div.shown-sub {
        position: static;
        background: none;
        box-shadow: none;
        padding: 0;
        margin-top: 0;
        text-transform: none;
        border-top: 0;
    }

    #nav ul {
        display: none;
        position: static;
        width: 100%;
    }

    #nav a {
        float: none;
    }

    #nav > li {
        margin-bottom: 0;
        float: none
    }

    #nav > li:hover {
        margin-bottom: 0;
    }

    #nav > li:hover > a {
        background: #dda549;
        margin: 0;
        width: 100%;
        padding-left: 41px !important;
    }

    #nav > li:hover a {
        border-bottom: 0;
    }

    #nav li.over a, #nav a:hover {
        color: #666;
    }

    #nav > li > a {
        padding-right: 25px !important;
        padding-left: 28px !important;
        box-sizing: border-box;
        text-shadow: none;
        padding-top: 22px;
        padding-bottom: 22px;
        color: #3a3a3a;
        border-bottom: 1px solid #d8d6d6;
        text-transform: capitalize;
        margin: 0 auto;
        width: 88%;
    }

    #nav > li > ul span {
        text-transform: lowercase !important;
        padding-right: 0;
        padding-left: 0;
    }

    #nav li.nav-1.first:first-child a {
        padding-right: 0;
        padding-left: 0;
    }

    #nav ul li {
        text-align: center;
    }

    #nav ul li a:hover {
        color: #828080 !important;
        padding: 8px 0 !important;
    }

    #nav ul li a {
        color: #828080 !important;
        padding: 8px 0 !important;
    }

    .footer .f-top {
        display: none;
    }

    .footer-container > div > div.f-bottom > ul:nth-child(3),
    .footer-container > div > div.f-bottom > ul:nth-child(4),
    .footer-container > div > div.f-bottom > ul:nth-child(5),
    .footer-container > div > div.f-bottom .clear,
    .footer-container > div > div.f-bottom address {
        display: none;
    }

    DIV.footer div.f-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-container {
        height: auto;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0 0 15px;
    }

    DIV.footer div.f-bottom ul {
        width: 100%;
    }

    .footer-container > div > div.f-bottom > ul:nth-child(1) {
        margin: 10px 25px;
        width: 50%;
        box-sizing: border-box;
    }

    .footer-container > div > div.f-bottom > ul:nth-child(1) h4 {
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
    }

    .footer-container > div > div.f-bottom > ul:nth-child(1) strong {
        color: black;
        font-weight: bold;
    }

    .footer-container > div > div.f-bottom > ul:nth-child(1) > div {
        text-align: center;
        font-size: 14px;
        margin-bottom: 5px;
        color: #666;
    }

    .footer-container > div > div.f-bottom > ul:nth-child(1) > div a {
        font-size: 14px;
        color: #666;
        margin: 0 auto;
    }

    .footer-container > div > div.f-bottom > ul:nth-child(2) {
        width: 50%;
        box-sizing: border-box;
        padding-left: 35px;
        border-left: 1px solid #666;
    }

    .footer-container > div > div.f-bottom > ul:nth-child(2) li:last-child {
        display: none;
    }

    .footer-container > div > div.f-bottom > ul:nth-child(2) li a {
        font-size: 12px;
        padding: 5px 0 5px 0;
        display: inline-block;
        color: #666;
    }

    .wrapper-email-btn {
        text-align: center;
    }

    .footer-movil .email-btn {
        display: block;
        padding: 6px 15px;
        width: 80%;
        background: #0D6292;
        color: white !important;
    }

    .line {
        height: 25px;
        background: #0D6292;
        width: 100%;
    }

    DIV#home-B DIV#slides-1 {
        height: auto;
        background: none;
        float: none;
    }

    .form-list LI {
        margin: 0;
    }

}

@media (max-width: 900px) {
    .page {
        padding: 0;
    }

    #home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*margin-bottom: 180px;*/
    }

    #home-A {
        width: 100%;
        margin-top: 85px;
        padding: 0 4%;
        box-sizing: border-box;
    }

    #home-A .imgLLanta img {
        width: 55%;
        height: auto;
    }

    #home-B {
        width: 80%;
        margin-top: 40px;
        padding: 0 4%;
        box-sizing: border-box;
        z-index: 5;
    }

    DIV#home-B DIV#slides-1 {
        position: initial;
    }

    DIV#home-B DIV#slides-1 .slides_container .slides_control {
        position: initial;
    }

    #home-C {
        top: 50px;
        right: 0;
        width: 100%;
        left: 0;
        background: #f1ecec;
    }

    #home-C h2 {
        color: #666;
        font-weight: normal;
    }

    #home-D {
        width: 90%;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    #home-F {
        top: 0px;
        width: 100%;
    }
}

@media only screen and (max-device-width: 940px) {

    .wrapper {
        width: 100%;
    }
}

@media (max-width: 840px) {
    #home-D {
        margin-top: 40px;
    }

    #home-A .imgLLanta img {
        width: 75%;
    }
}

@media (max-width: 766px) {
    DIV#home-A DIV#tabsearch DIV.tabcontent {
        min-height: initial;
        /*padding-bottom: 62px;*/
        padding-top: 52px;
    }

    .rslides2 li {
        flex-wrap: wrap;
    }

    .rslides2 img {
        width: 80% !important;
    }

}

@media (max-width: 610px) {
    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize DIV.ayuda {
        left: 21px;
    }

    DIV.tabsize #form-wf-sizes button.button {
        width: 80%;
    }
}

@media (max-width: 590px) {
    #home-A {
        margin-bottom: 0;
        margin-top: 65px;
    }

    #home-B {
        width: 100%;
    }

    #home-A .imgLLanta img {
        width: 90%;
    }

    #home-C h2 {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    DIV.footer div.f-bottom {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 15px;
    }

    .footer-container {
        padding: 0;
    }

    .footer-container > div > div.f-bottom > ul li a {
        display: block !important;
        font-size: 14px !important;
    }

    .footer-container > div > div.f-bottom > ul:nth-child(1) {
        border-bottom: 6px solid #DB9600;
        width: 100%;
        padding-bottom: 16px;
    }

    .footer-container > div > div.f-bottom > ul:nth-child(2) {
        border: none;
        padding-left: 0;
    }
}

@media (max-width: 480px) {
    #home-A {
        width: 100%;
    }

    #home-E table {
        width: 90% !important;
    }
}

@media (max-width: 400px) {
    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle-tabs .optVehicle,
    DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle-tabs .optSize {
        font-size: 12px;
    }
}

@media (max-width: 380px) {
    .rslides2 li a {
        display: inline-block;
        width: 42%;
    }
}

/*GRILLA*/

@media (max-width: 1010px) {

    /*Logo*/
    A.logo {
        top: 0;
        left: calc(50% - 75px)
    }

    /*Title Top LLantas & BtnOpenSearch*/
    .col-main .page-title {
        float: none;
        background: #f8f4f4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4%;
        margin: 0;
        height: 40px;
        box-sizing: border-box;
    }

    .col-main .page-title h1 {
        padding: 0;
        background: none;
        font-weight: bold;
        line-height: initial;
        height: auto;
        margin: 0;
    }

    .col-main .page-title .btn-modal {
        border-left: 1px solid #d0cccc;
        height: 30px;
        line-height: 30px;
        padding-left: 20px;
        margin-left: 40px;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #515050;
        cursor: pointer;
    }

    .col-main .page-title .btn-modal .bg-arrow {
        width: 18px;
        height: 18px;
        background: url('/Arrow_Ri.png') no-repeat center;
        background-size: contain;
        transition: .4s;
    }

    .col-main .page-title .btn-modal .bg-arrow.active {
        transform: rotate(90deg)
    }

    .col-main .page-title .btn-modal > div:first-child {
        text-decoration: underline;
    }

    .col-main .page-title .btn-modal > div:last-child {
        font-size: 18px;
        margin-left: 15px;
    }

    .col-main .pager {
        display: none;
    }

    .col-main .sorter {
        display: flex;
        justify-content: center;
        color: #5e5d5d;
        border: none;
        background: none;
    }

    .col-main .sorter .sort-by {
        margin: 0 15px;
    }

    .col-main .sorter .sort-by > a {
        display: none;
    }

    .col-main .sorter .sort-by label {
        font-size: 12px;
        display: none;
    }

    .col-main .sorter .sort-by select {
        border-radius: 3px;
        height: 30px;
        min-width: 180px;
    }

    .col-main .sorter .filters {
        margin: 0 15px;
        display: flex;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
        border: 1px solid #c4c0c0;
        padding: 0 5px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 3px;
        position: relative;
        top: 1px;

    }

    .col-main .sorter .filters .filters-arrow {
        font-size: 10px;
        color: black;
    }

    .col-main .sorter .filters > div {
        font-weight: bold;
        font-size: 18px;
        margin: 0 0 0 40px;
    }

    .col-main .sorter .view-mode {
        display: none;
    }

    .col-main .sorter .pages {
        display: none;
    }

    .bottom-toolbar .sorter .pages {
        display: block;
    }

    .bottom-toolbar .sorter .filters {
        display: none;
    }

    /*Modal Search*/
    .search-modal {
        background: rgba(0, 0, 0, .8);
        position: fixed;
        left: 0;
        right: 0;
        top: 100vh;
        bottom: 0;
        z-index: 99999999999999999999999999;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .6s;
    }

    .search-modal.active {
        top: 0;
    }

    .search-modal.active .sidebar {
        top: 0;
    }

    .col-left {
        float: none;
        width: auto;
        padding: 40px 0 0 0;
        display: flex;
        justify-content: center;
        background: #f1f1f1;
        height: auto;
        position: relative;
        border-left: 3px solid #0D6292;
        border-right: 3px solid #0D6292;
        border-bottom: 3px solid #0D6292;
        bottom: 100vh;
        top: 100vh;
        transition: .4s;
    }

    .searchModal-tabs {
        position: absolute;
        top: 0;
        background: #0D6292;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        left: 0;
        right: 0;
    }

    .searchModal-tabs .optSearchVehicle,
    .searchModal-tabs .optSearchSize {
        padding: 10px 4px;
        color: white;
        /*border-left: 1px solid #0D6292;*/
        /*border-right: 1px solid #0D6292;*/
        border-top: 3px solid #0D6292;
        width: 50%;
    }

    .searchModal-tabs .optSearchVehicle span,
    .searchModal-tabs .optSearchSize span {
        font-weight: bold;
    }

    .searchModal-tabs .optSearchVehicle.active,
    .searchModal-tabs .optSearchSize.active {
        background: #f1f1f1;
        color: #999;
        border-bottom: none;
    }

    .searchModal-close {
        color: white;
        position: absolute;
        top: calc(100% + 5px);
        font-size: 16px;
        padding: 15px;
        right: 0;
        left: 0;
        text-align: right;
        cursor: pointer;
    }

    .col-left.sidebar > div.block-wheelsfinder {
        background-color: initial;
        border: none;
        margin: 0;
        min-width: 310px;
        box-sizing: border-box;
    }

    .search-modal > div > div:nth-child(3) form button {
        width: 100% !important;
    }

    .search-modal > div > div.block-wheelsfinder-sizes {
        display: none;
    }

    .col-left.sidebar > .block-wheelsfinder .block-title {
        display: none;
    }

    .sidebar .block-marcas {

        display: none;
    }

    .col-left.sidebar > .block-wheelsfinder .block-content {
        background: none;
        padding: 15px 10px;
        display: block !important;
        min-height: 246px;
        box-sizing: border-box;
    }

    .col-left.sidebar > .block-wheelsfinder .block-content form select {
        height: 40px !important;
        border: 1px solid #929090;
        width: 100%;
        margin-bottom: 10px;
        box-shadow: none;
    }

    .block-wheelsfinder-sizes .block-content .actions {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0;
    }

    .block-wheelsfinder-sizes .block-content .actions img {
        width: 35px;
        margin-right: 8px;
    }

    .col-left.sidebar > .block-wheelsfinder .block-content form p {
        display: none;
    }

    .col-left.sidebar > .block-wheelsfinder .block-content form ul li {
        width: 100%;
    }

    .col-left.sidebar > .block-wheelsfinder .block-content form button {
        position: static;
        width: 85%;
        background: #DB9600;
        border: none;
        box-shadow: none;
        color: white;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        float: right;
    }

    .col-left.sidebar > .block-wheelsfinder .block-content form button img {
        display: none;
    }

    .col-left.sidebar > .block-wheelsfinder .block-content label {
        display: none;
    }

    .col-left.sidebar > div:nth-child(2) from ul {
        display: flex;
        flex-direction: column;
    }

    /*Cuadricula - Grilla*/
    .col-main {
        float: none;
        width: 100%;
    }

    .products-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .products-grid li.item {
        width: 100%;
        float: none;
        padding: 15px 0 0 0;
        margin: 14px 14px 54px;
        border-top: 1px solid #bfbdbd;
        position: relative;
        display: flex;
        width: 310px;
        height: 168px;
        box-sizing: border-box;
    }

    .products-grid LI.item.first {
        position: relative;
        margin: 14px 14px 54px;
        left: 0;
    }

    .products-grid LI.item.last {
        left: 0;
        margin: 14px 14px 54px;
    }

    .products-grid li.item:hover {
        box-shadow: none;
        border-radius: 0;
        background-color: initial;
        border: 0;
        padding: 15px 0 0 0;
        border-top: 1px solid #bfbdbd;
    }

    .products-grid li.item .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        min-height: 170px;
    }

    .products-grid .product-name {
        padding: 0 8px;
    }

    .products-grid .price-box {
        float: none;
        margin: 0;
        left: 10px;
        right: 0;
        position: absolute;
        bottom: 28px;
    }

    .products-grid .cuotas {
        padding: 3px 6px;
        float: none;
        width: 100%;
        margin: 0;
        background: #f1ebeb;
        box-sizing: border-box;
        text-align: left;
        color: #666;
        font-size: 12px;
    }

    .products-grid .cuotas .price-cuotas {
        font-size: 12px;
    }

    .products-grid li.item .product-link {
        display: block;
        background: #0D6292;
        color: white;
        left: 0;
        right: 0;
        position: absolute;
        top: calc(100% + 24px);
        text-align: center;
        padding: 6px 0;
        font-size: 13px;
        font-weight: bold;
    }

    .col2-left-layout .products-grid, .col2-right-layout .products-grid {
        border-bottom: none !important;
    }

    /*Filters*/
    .block.block-layered-nav {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 100%;
        right: -70%;
        overflow: auto;
        z-index: 99999999999999999;
        transition: .4s;
        padding: 0 0 10px 8px;
        box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .block.block-layered-nav.active {
        left: 60%;
        right: 0%;
        transition: .4s;
    }

    .block.block-layered-nav .block-title {
        display: none;
    }

    .block.block-layered-nav .block-exit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px 8px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #dbd6d6;
        height: 50px;
        box-sizing: border-box;
    }

    .block.block-layered-nav .block-exit > div.exit-filter {
        font-weight: normal;
        font-size: 40px;
        text-align: center;
        background: #e7e2e2;
        position: relative;
        cursor: pointer;
        width: 18px;
        height: 18px;
        background: url('/Arrow_Ri.png') no-repeat center;
        background-size: contain;
        transition: .4s;
    }

    .block.block-layered-nav .block-exit > div:last-child {
        font-size: 15px;
        font-weight: bold;
    }

    .block-layered-nav DD {
        margin: 14px 0 20px 10px;
        border-bottom: 1px solid #cfcdcd;
        padding-bottom: 14px;
    }

    .products-grid .price-box .regular-price .price, .products-grid .price-box .special-price .price {
        font-size: 18px;
    }

    .category-description p a img {
        width: 100%;
    }

    .col-main .page-title h1 {
        font-size: 1em;
    }

    .breadcrumbs {
        display: none;
    }
}

@media (max-width: 768px) {
    .block.block-layered-nav.active {
        left: 50%;
        right: 0%;
        transition: .4s;
    }
}

@media (max-width: 766px) {
    .block.block-layered-nav.active {
        left: 16%;
        right: 0%;
        transition: .4s;
    }
}

/*DETAIL*/
@media (max-width: 1023px) {
    .product-view *, .serviteca-view * {
        box-sizing: border-box;
    }

    .catalog-product-view .especificaciones {
        width: auto;
        float: none;
        border: 1px solid #d1c8c8;
        padding: 10px;
    }

    .product-essential form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row-reverse;
    }

    /*description*/
    .product-essential form .product-shop {
        margin: 0 16px;
        width: 310px;
    }

    .product-essential form .product-shop .especificaciones .iconos {
        /*display: none;*/
    }

    .product-essential form .product-shop .add-to-links {
        display: none;
    }

    .catalog-product-view #especificaciones-table {
        float: none;
    }

    /*price*/
    .catalog-product-view .price-cta-box {
        background: none;
        border-radius: 2px;
        border: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 0;
        float: none;
        background: #ede9e9;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .catalog-product-view .price-cta-box .price-box {
        width: 230px;
        margin: 0;
        padding: 12px 7px;
        color: #716f6d;
    }

    .catalog-product-view .price-cta-box .price-box .old-price {
        display: flex;
        align-items: center;
    }

    .catalog-product-view .price-cta-box .price-box .old-price .price {
        font-size: 15px;
    }

    .catalog-product-view .price-cta-box .price-box .old-price .special-price {

    }

    .catalog-product-view .product-shop .price-box .price-label {
        font-size: 13px;
    }

    .special-price .price-label {
        color: #716f6d;
    }

    .catalog-product-view .product-shop .price-box .special-price .price {
        color: #396f00;
        font-size: 21px;
    }

    .catalog-product-view .price-cta-box .price-box > div {
        display: none;
    }

    .catalog-product-view .price-cta-box .price-4 {
        width: calc(100% - 230px);
        color: #716f6d;
        margin-top: 0;
    }

    .catalog-product-view .price-cta-box .price-4 .price {
        white-space: initial !important;
        font-size: 13px;
        margin: 0;
        padding: 12px 7px;
        display: block;
    }

    .catalog-product-view .cta-box {
        background: #f1f1e7;
        float: none;
        border-top: 1px solid #eceaea;
        /* padding: 12px 0 12px 7px; */
    }

    .catalog-product-view .cta-box .add-to-box {
        margin-left: 7px;
    }

    .catalog-product-view .cta-box .add-to-box .add-to-cart {

        display: flex;
        justify-content: space-between;
    }

    .catalog-product-view .cta-box .add-to-box .add-to-cart LABEL, .catalog-product-view .cta-box .add-to-cart LABEL {
        display: none;
    }

    .catalog-product-view .cta-box .add-to-box .add-to-cart .qty_select, .catalog-product-view .cta-box .add-to-cart .qty_select {
        margin: 0 15px 0 0;
        padding: 0;
    }

    .catalog-product-view .cta-box .add-to-box .add-to-cart .qty_select, .catalog-product-view .cta-box .add-to-cart .qty_select select {
        height: 40px;
        padding: 0 0 0 4px !important;
        width: 55px;
        margin-right: 4px;
        float: none;
    }

    .add-to-cart BUTTON.button {
        float: none;
        background: #0D6292;
        margin-top: 0;
        width: 228px;
        border-radius: 2px;
    }

    button.button-cart span {
        background: none;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        float: none;
        box-shadow: none;
    }

    .catalog-product-view .cta-box .add-to-box .add-to-cart button.button-cart span span, .catalog-product-view .cta-box .add-to-cart button.button-cart span span {
        width: auto;
        padding-right: 0;
    }

    /*img*/
    .product-essential form .product-img-box {
        margin: 0 16px;
    }

    .mobile-page2 {
        border: 1px solid #d1c8c8;

    }

    /*Detail Tabs accordion*/
    .product-collateral, .serviteca-collateral {
        padding: 0 4%;
    }

    .serviteca-collateral table {
        margin-top: 20px;
    }

    .product-tabs {
        display: none;
    }

    .product-tabs LI {
        width: 100%;
    }

    .product-tabs a {
        border-right: 0;
        border-left: 0;
        font-weight: bold;
        color: #6c6a6a;
    }

    .product-tabs LI.active A, .product-tabs LI.active A:hover {
        background: transparent;
    }

    .product-view .view-top {
        padding-left: 4%;
        padding-right: 4%;
    }

    .catalog-product-view .product-tabs-content {
        width: 100% !important;
        background: none !important;
        border: none !important;
        padding: 24px 0 !important;
        font-size: 14px !important;
        padding: 0 4%;
    }

    .catalog-product-view .product-tabs-content table,
    .catalog-product-view .product-tabs-content > div:nth-child(3),
    .catalog-product-view .product-tabs-content .title {
        display: none;
    }

    .tab-descripcion-content + div {
        display: none;
    }

    .tab-garantia-content + div {
        display: none;
    }

    .tab-envio-content + div {
        display: block;
    }

    .tab-descripcion-content {
        border-top: 1px solid #999;
    }

    .tab-descripcion-content,
    .tab-garantia-content,
    .tab-envio-content {
        padding: 12px 0;
        margin: 0;
        border-bottom: 1px solid #999;
        cursor: pointer;
        text-transform: uppercase;
        color: #525252;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .tab-descripcion-content h4,
    .tab-garantia-content h4,
    .tab-envio-content h4 {
        margin: 0;
    }

    .tab-descripcion-content .bg-arrow,
    .tab-garantia-content .bg-arrow,
    .tab-envio-content .bg-arrow {
        width: 18px;
        height: 18px;
        background: url('/Arrow_Ri.png') no-repeat center;
        background-size: contain;
        transition: .4s;
    }

    .tab-descripcion-content .bg-arrow.active,
    .tab-garantia-content .bg-arrow.active,
    .tab-envio-content .bg-arrow.active {
        transform: rotate(90deg)
    }

    .tab-envio-content {
        border-bottom: 0;
    }

    .serviteca-list-modal {
        position: fixed;
        background: rgba(0, 0, 0, .8);
        top: 100vh;
        left: 0;
        right: 0;
        z-index: 9999999999999999;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .6s;
    }

    .serviteca-list-modal.active {
        top: 0;
        bottom: 0;
    }

    .product-view .servitecas-left .serviteca-list, .serviteca-view .servitecas-left .serviteca-list {
        height: 80%;
        position: relative;
        background: #f1f1f1;
        margin: 0;
        width: 80%;
        max-width: 310px;
    }

    .listServitecaModal-close {
        position: absolute;
        top: calc(90% + 8px);
        color: white;
        font-size: 16px;
        padding: 14px;
    }

    .product-view .servitecas-left .serviteca-list .serviteca-item, .serviteca-view .servitecas-left .serviteca-list .serviteca-item {
        width: 100%;
    }

    /*Tab3 - Envio e InstalaciÃ³n*/
    .product-view #buscador-servitecas, .serviteca-view #buscador-servitecas {
        height: auto;
        display: flex;
        flex-direction: column;
        border: none;
    }

    .product-view .servitecas-left, .serviteca-view .servitecas-left {
        height: auto;
        /*margin-bottom: 30px;*/
        width: 100%;
        box-shadow: none;
        background: none;
    }

    .ciudad-selector {
        background: none;
        box-shadow: none;
        padding: 8px 0 16px;
        text-align: center;
    }

    .ciudad-selector span {
        display: none;
    }

    .ciudad-selector select {
        height: 35px;
        border-radius: 3px;
        color: #525252;
        width: 100%;
    }

    .serviteca-selector {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        margin-bottom: 15px;
    }

    .serviteca-selector h4 {
        color: #525252;
        font-weight: 400;
        width: 100%;
        padding: 4px;
        border: 1px solid #c1bbbb;
        border-radius: 3px;
        height: 35px;
        display: flex;
        align-items: center;
    }

    .serviteca-selector .bg-arrow {
        width: 11px;
        height: 11px;
        background: url('/arrow-down.png') no-repeat center;
        background-size: contain;
        transition: .4s;
        position: absolute;
        right: 4px;
        top: calc(50% - 11px)

    }

    .serviteca-selector .bg-arrow.active {
        transform: rotate(90deg);
    }

    .serviteca-actualSelect {
        background: #f1f1f1;
        border-radius: 20px 20px 0 0;
        text-align: center;
        opacity: 0;
        padding: 0;
        transition: .4s;
    }

    .serviteca-actualSelect.active {
        padding: 20px 12px;
        opacity: 1;
        width: 100%;
    }

    .serviteca-actualSelect .serviteca-nombre {
        display: none;

    }

    /*map*/
    .product-view .servitecas-right, .serviteca-view .servitecas-right {
        width: 100%;
    }

    .catalog-product-view .not-available-options li {
        margin-left: 10px;
    }

    #buscador-servitecas .important {
        margin-top: 20px;
        color: #525252;
        line-height: 21px;
    }

    #buscador-servitecas .important span {
        color: red;
        text-transform: uppercase;
    }

    #buscador-servitecas .iconos {
        margin: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 15px;
    }

    #buscador-servitecas .iconos a {
        display: block;
        width: 100px;
    }

    #buscador-servitecas .iconos table,
    #buscador-servitecas .iconos td {
        width: 0;
    }

    .not-available-options span {

    }

}

@media (max-width: 690px) {
    .product-essential form {
        flex-direction: column-reverse;
        align-items: center;
    }

    .product-essential form .product-shop {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .product-essential form .product-shop .product-name {
        display: none;
    }

    .product-essential form .product-name {
        display: block;
        width: 310px;
        font: bold 20px / 1.25 "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
        margin-bottom: 15px;
    }

    .product-essential form .product-name h1 {
        font: bold 20px / 1.25 "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    }

    /*Not available*/
    .not-available {
        width: 100%;
        padding: 0 10px;
    }

    .catalog-product-view .amxnotif-block input.input-text {
        width: 100%;
        height: 35px;
        margin-bottom: 12px;
    }

    .catalog-product-view .amxnotif-block button.button {
        background: #0D6292;
        width: 100%;
        text-align: center;
    }

    .catalog-product-view .amxnotif-block button.button span {
        text-align: center;
        display: block;
        width: 100%;
        padding: 0;
        background: none;
        box-shadow: none;
    }

    .not-available-options-text {
        color: #525252;
    }
}

/*CHECKOUT*/
.onestepcheckout-index-index .main {
    margin: 0 auto;
}

.onestepcheckout-description {
    border-top: 1px solid #c1c1c2;
    padding-top: 12px;
}

.onestepcheckout-title {
    margin: 15px 0;
    font-weight: normal;
    padding: 4px;
    background: #fafafb;
}

.complete-label {
    font-size: 14px;
    color: #ef2525;
}

.onestepcheckout-login-link a {
    color: #2d7abf;
    font-size: 14px;
}

.onestepcheckout-threecolumns div.input-box {
    margin: 0px 0px 15px 0px;
}

.onestepcheckout-threecolumns div.input-box label {
    /*display: block;*/
}

.onestepcheckout-threecolumns div.osc-short input[type=email], .onestepcheckout-threecolumns div.osc-short input[type=search], .onestepcheckout-threecolumns div.osc-short input[type=number], .onestepcheckout-threecolumns div.osc-short input[type=password], .onestepcheckout-threecolumns div.osc-short input[type=tel], .onestepcheckout-threecolumns div.osc-short input[type=text], .onestepcheckout-threecolumns div.osc-short select {
    height: 35px !important;
}

.onestepcheckout-threecolumns input[type=email], .onestepcheckout-threecolumns input[type=search], .onestepcheckout-threecolumns input[type=number], .onestepcheckout-threecolumns input[type=password], .onestepcheckout-threecolumns input[type=tel], .onestepcheckout-threecolumns input[type=text], .onestepcheckout-threecolumns select, .onestepcheckout-threecolumns textarea {
    height: 35px !important;
}

.onestepcheckout-threecolumns p.onestepcheckout-numbers, .onestepcheckout-threecolumns li.shipping-address-title {
    margin-top: 10px !important;
}

#client_type {
    display: flex;
    flex-direction: column;
}

#client_type label {
    padding: 10px 0;
}

#client_type .amorderattr_img_radio {
    padding: 5px 0;

}

button.onestepcheckout-place-order {
    width: 100%;
    /*background: #0D6292;*/
    box-shadow: none;
}

button.onestepcheckout-place-order span {
    box-shadow: none;
    display: block;
    text-align: center;
    width: 100%;
    padding-left: 0;

}

#onestepcheckout-coupon-add span {
    background: #0D6292;
    box-shadow: none;
    display: block;
    padding: 3px 8px;
    font-weight: normal;
    border-radius: 2px;
}

.modalCheckout-servitecaList {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    transform: scale(0);
}

.modalCheckout-servitecaList.active {
    transform: scale(1);

}

.modalCheckout-servitecaList #buscador-servitecas {
    border: none;
}

.modalCheckout-servitecaList .servitecas-left {
    overflow: hidden;
}

.modalCheckout-servitecaList .searchModalCheckout-close {
    position: absolute;
    color: white;
    bottom: 5%;
    font-size: 16px;
}

.onestepcheckout-index-index button.onestepcheckout-place-order {
    box-shadow: none;
    width: 100%;
    border: 0;
    border-radius: 2px;
}

.checkout-serviteca-actualSelect {
    background: #f1f1f1;
    text-align: center;
    opacity: 0;
    transition: .4s;
}

.checkout-serviteca-actualSelect.active {
    opacity: 1;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

@media (max-width: 1023px) {
    .checkout-serviteca-actualSelect {
        display: none;
    }

    #onestepcheckout-form {
        padding: 0 4%;
    }

    .servitecaListMovil, #buscador-servitecas {
        width: 100%;
        border: 0;
        float: none;
    }

    .servitecaListMovil .important {
        display: none;
    }

    .servitecaListMovil .servitecas-left {
        height: auto;
        float: none;
        background: none;
        box-shadow: none;
    }

    .servitecaListMovil .serviteca-list {
        height: 80%;
        position: relative;
        background: #f1f1f1;
        margin: 0;
        width: 80%;
        max-width: 310px;
    }

    #select-ciudad {
        width: 100% important;
    }

    .servitecaListMovil .serviteca-list .serviteca-item {
        width: 100%;
        box-sizing: border-box;
    }

    .servitecaListMovil .serviteca-actualSelect {
        padding: 10px;
        margin-top: 15px;
    }

    .servitecaListMovil .servitecas-right {
        width: 100%;
        height: 45vh;
    }

    .servitecaListMovil .serviteca-selector {
        /*max-height: 35px;*/
        margin-bottom: 0;
    }

    .servitecaListMovil .serviteca-selector h4 {
        margin: 0 auto;
        /*
        border-radius: 0;*/

        max-height: 35px;
        box-sizing: border-box;
        background-image: url(/skin/frontend/base/default/onestepcheckout/images/icon_arrow.svg) !important;
        background-position: 98% 50% !important;
        background-repeat: no-repeat !important;
        background-size: 18px !important;
        background: #fff;
        padding: 0 26px 0 8px !important;
        -webkit-appearance: none !important;
        -webkit-border-radius: 0 !important;
        width: 98%;
    }

    .servitecaListMovil .serviteca-selector .bg-arrow {
        /*top: calc(50% - 6px);*/
        display: none;
    }
}

/* DivTable Cart */
.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    /* border: 1px solid #999999; */
    display: table-cell;
    padding: 3px 10px;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    /* display: table-footer-group; */
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.data-table .divTableHead {
    padding: 2px 8px;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
}

.cart-table .divTableHead {
    padding: 10px;
    color: #136cb3;
    font-family: 14px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada !important;
}

.cart-table .mainHead {
    width: 100%;
}

.data-table .last {
    width: 100%;
}

.cart-table .divTableFoot .divTableCell {
    padding: 10px 14px;
}

.cart-table .divTableFoot .divTableCell button {
    vertical-align: baseline;
}

.cart-table .divTableBody .odd {
    background: #FFF;
}

.cart-table .divTableBody .even {
    background: #FAFAFA;
}

.data-table .divTableBody .divTableHead, .data-table .divTableBody .divTableCell {
    border-bottom: 1px solid #D9DDE3;
    border-right: 1px solid #bbb;
}

.cart-table .divTableCell {
    padding: 10px;
}

.divTableHead, .divTableCell {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
}

.catalog-product-view .not-available-options-text {
    text-align: left;
    margin: 0 10px 10px;
}

.cart .product-name {
    font-size: 15px;
}

.cart .btn-modal {
    display: none !important;
}

.cart .page-title {
    margin-bottom: 20px;
}

.cart {
    margin-top: 25px;
}

@media (max-width: 1023px) {
    .cart {
        padding: 0 4%;
    }

    .cart .cart-collaterals .col2-set {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cart .cart-collaterals .col2-set .col-1 {
        display: none;
    }

    .col2-set .col-2 {
        float: none;
        width: 100%;
        max-width: 320px;
    }

    .col2-set .col-2 .discount h2 {
        width: 100%;
        margin: 0;
        color: #525252;
        font-weight: 600;
        padding: 8px 0;
        cursor: pointer;
        font-size: 13.5px;
        border-top: 1px solid #C0D2AF !important;
        position: relative;
        z-index: 5;
        margin-bottom: 10px;
    }

    .col2-set .col-2 .discount .bg-arrow {
        width: 18px;
        height: 18px;
        background: url('/Arrow_Ri.png') no-repeat center;
        background-size: contain;
        transition: .4s;
        position: absolute;
        right: 23px;
        top: 19px;
    }

    .col2-set .col-2 .discount .bg-arrow.active {
        transform: rotate(90deg);
    }

    .col2-set .col-2 .discount .discount-form {
        background: #f4f1f1;
        padding: 12px;
        display: flex;
        flex-wrap: wrap;
        display: none;
    }

    .cart .discount .input-box {
        width: 90%;
        margin: 10px auto;
    }

    .cart .discount INPUT.input-text {
        width: 100%;
        height: 25px;
    }

    .cart .discount .buttons-set {
        padding: 0;
        width: 94%;
        margin: 6px auto;
    }

    .cart .discount .buttons-set button {
        width: 100%;
    }

    .cart .discount .buttons-set button span {
        background: #0D6292;
        box-shadow: none;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }

    .cart .totals {
        float: none;
        width: 100%;
        max-width: 310px;
        margin: 0 auto;
        display: flex;
        padding: 16px 15px 7px !important;
        justify-content: center;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .checkout-types {
        width: 86%;
    }

    .checkout-types button.button {
        width: 100%;
    }

    .checkout-types li button span {
        padding: 0;
        box-shadow: none;
        width: 100%;
        background: #ff5601;
    }

    .cart .discount {
        border: none;
        position: relative;
        margin-bottom: 0;
        padding: 10px 0;
    }
}

@media (max-width: 766px) {
    .cart * {
        border: 0 !important;
        box-sizing: border-box;
    }

    .cart-table .divTable {
        display: block;
        width: auto;;
    }

    .cart-table .divTableRow {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid red;
        max-width: 315px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        border-bottom: 1px solid #d9d3d3 !important;
        padding: 10px 0;
    }

    .cart-table .divTableHeading {
        display: none;
    }

    .cart-table .divTableCell, .cart-table .divTableHead {
        display: block;
    }

    .cart-table .divTableBody {
        display: block;
    }

    .cart .product-name {
        font-size: 15px;
    }

    .cart-table .divTableRow:last-child {
        border-bottom: 0 !important;
    }

    /*imaget product*/
    .cart-table .divTableRow > div:nth-child(1) {
        border: 1px solid #d9d3d3 !important;
    }

    /*name product*/
    .cart-table .divTableRow > div:nth-child(2) {
        max-width: 170px;
        border-right: 0 !important;
    }

    .cart-table .divTableRow > div:nth-child(2) h2 {

        font-size: 14px;
    }

    /*edit*/
    .cart-table .divTableRow > div:nth-child(3) {
        width: 33.33%;
        border-right: 0 !important;
    }

    /*unit price*/
    .cart-table .divTableRow > div:nth-child(4) {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    /*qty*/
    .cart-table .divTableRow > div:nth-child(5) {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .cart-table .divTableRow > div:nth-child(5) input {
        border: 1px solid #828080 !important;
        text-align: center;
        margin: 0 auto
    }

    /*total*/
    .cart-table .divTableRow .labels {
        margin-bottom: 5px;
        color: #828080;
    }

    .divTableRow > div:nth-child(6) {
        width: 100%;
    }

    /*remove*/
    .cart-table .divTableRow > div:nth-child(7) {
        position: absolute;
        right: 0;
    }

    /*Footer*/
    .cart-table .divTableFoot {
        background: none;
    }

    .cart-table .divTableFoot .divTableRow > div:nth-child(1) {
        display: none;
    }

    .cart-table .divTableFoot .divTableRow > div:nth-child(2) {
        width: 100%;
        padding: 0;
        max-width: initial;
        /*min-width: 320px;*/
    }

    .cart-table .divTableFoot .divTableRow > div:nth-child(2) button {
        background: #0D6292;
        padding: 0 10px;
        width: 100%;
        text-align: center;
    }

    .cart-table .divTableFoot .divTableRow > div:nth-child(2) button span {
        box-shadow: none;
        background: none;
        padding: 0;
        width: 100%;
    }

    .catalog-product-view .price-cta-box .price-4 .price .msg4 {
        width: auto;
        margin-right: 0;
        position: unset;
    }

}

.onestepcheckout-subtitle {
    font-size: 15px;
    color: #585858;
}

.shipment-methods dd{
    display: none;
}

.onestepcheckout-shipping-address {
    margin-top: 10px;
    margin-bottom: 10px;
}

.onestepcheckout-shipping-method {
    margin-top: 10px;
    margin-bottom: 30px;
}

.onestepcheckout-shipping-address li {
    margin: 5px 0;
}

.payment-methods dt {
    margin: 7px 0;
}

table.onestepcheckout-summary thead {
    background-color: #f3f3f3;
}

table.onestepcheckout-summary th, table.onestepcheckout-summary td {
    padding: 5px !important;
}

table.onestepcheckout-summary td {
    border: 1px solid #e8e8e8;
}

div#onestepcheckout-coupons {
    padding: 8px 12px;
    background-color: #f3f3f3;
}

.go-to-cart {
    padding: 5px 13px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
}

.go-to-cart a {
    text-decoration: underline;
}

p.pse-description {
    color: grey;
    font-size: 12px;
    /* margin-left: 22px; */
    margin-right: 7px;
}

.messages .msg_body {
    font-weight: normal;
}

.warning-msg, .error-msg {
    background-position: 4px 4px !important;
    padding: 2px 8px 2px 24px !important;
    border-radius: 5px;
    margin: 10px 6px 10px 0px !important;
}

.error-msg {
    background-image: url(/skin/frontend/base/default/onestepcheckout/images/i_msg-error.gif);
    background-repeat: no-repeat;
    background-color: #f8edea;
    border: 1px solid #ea9580;
}

.warning-msg {
    background-color: #fea;
    border: 1px solid #ef9719;
}

#nav a {
    padding: 5px 25px 10px 25px;
}

#nav .blog {
    float: right;
}