<?php $_code = $this->getMethodCode() ?>
<ul id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li>
        <p class="pse-description"><?php echo Mage::getStoreConfig('payment/payucash/description') ?></p>
    </li>
    <li class="clearfix">
        <label for="<?php echo $_code ?>_cash_method" class="required"><?php echo $this->__('Medio de pago') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cash_method" name="payment[cash_method]" title="<?php echo $this->__('Medio de pago') ?>" class="required-entry">
                <option value=""><?php echo $this->__('--Please Select--') ?></option>
                <option value="BALOTO">Baloto</option>
                <option value="EFECTY">Efecty</option>
                <option value="BANK_REFERENCED">Entidad Bancaria (Bancolombia, Banco de Bogotá, Davivienda)</option>
                <option value="OTHERS_CASH">Su Red (Pagatodo, Apuestas Cucuta 75, Gana, Gana Gana, Su Chance, Acertemos, La Perla, Apuestas Unidas, Jer)</option>
            </select>
        </div>
    </li>
</ul>

<div>
    <?php echo $this->getMethod()->getConfigData('message');?>
</div>