<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php if ($this->getQuote()->hasVirtualItems()): ?>
    <div class="col2-set">
        <div class="content"><h2><?php echo $this->__('Other Items in Your Order') ?></h2></div>
        <div class="col-1 col-narrow"></div>
        <div class="col-2 col-wide">
            <h3><?php echo $this->__('Items') ?> <span class="separator">|</span> <a href="<?php echo $this->getVirtualProductEditUrl() ?>"><?php echo $this->__('Edit Items') ?></a></h3>
            <table class="table table-bordered" id="unavailable-shipping-table">
                <col />
                <col width="1" />
                <thead>
                    <tr>
                        <th><?php echo $this->__('Product Name') ?></th>
                        <th class="a-center"><?php echo $this->__('Qty') ?></th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach ($this->getVirtualQuoteItems() as $_item): ?>
                    <tr>
                        <td><?php echo $this->getItemHtml($_item) ?></td>
                        <td class="a-center"><?php echo $_item->getQty() ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <script type="text/javascript">decorateTable('unavailable-shipping-table')</script>
        </div>
    </div>
<?php endif; ?>
