<!--@subject {{var order.getStoreGroupName()}}: Envío # {{var shipment.increment_id}} actualización @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.jpg" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                    <strong>Estimado/a {{var order.getCustomerName()}}</strong>,<br/>
                    Su pedido núm. {{var order.increment_id}} está en estado 
                    <strong>{{var order.getStatusLabel()}}</strong>.
                </p>
                <p>Puede revisar el estado de su pedido <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">iniciando sesión en su cuenta</a>.</p>
                <p>{{var comment}}</p>

                <p>Gracias,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>
