<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

/**
 * Shoping cart sidebar
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */
?>
<?php if ($this->getIsNeedToDisplaySideBar()):?>
	<div class="block block-cart">
		<?php $_cartQty = $this->getSummaryCount() ?>
		<div class="block-title">
			<strong><span><?php echo $this->__('My Cart') ?></span></strong>
		</div>
		<div class="block-content">
			<?php $_items = $this->getRecentItems() ?>
			<?php if(count($_items)): ?>
				<p class="block-subtitle"><?php echo $this->__('Recently added item(s)') ?></p>
				<ol id="cart-sidebar" class="mini-products-list">
					<?php foreach($_items as $_item): ?>
						<?php echo $this->getItemHtml($_item) ?>
					<?php endforeach; ?>
				</ol>
				<script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
			<?php else: ?>
				<div class="empty">
					<span class="icon"><i class="icon-basket"></i></span>
					<p><?php echo $this->__('You have no items in your shopping cart.') .' <span>'. $this->__('Add some to cart') .'</span>'; ?></p>
					<?php if(!Mage::getSingleton('customer/session')->isLoggedIn()){ ?>
						<p class="or"><?php echo $this->__('or'); ?></p>
						<a href="<?php echo Mage::getBaseUrl('link'); ?>/customer/account/login" class="top-link-login btn btn-primary type-2"><?php echo $this->__('Login'); ?></a>
					<?php } ?>
				</div>
			<?php endif ?>
			<?php if ($_cartQty>0): ?>
				<div class="summary">
					<?php if ($_cartQty==1): ?>
						<p class="amount"><?php echo $this->__('There is <a href="%s">1 item</a> in your cart.', $this->getUrl('checkout/cart')) ?></p>
					<?php else: ?>
						<p class="amount"><?php echo $this->__('There are <a href="%s">%s items</a> in your cart.', $this->getUrl('checkout/cart'), $_cartQty) ?></p>
					<?php endif ?>
					<p class="subtotal">
						<?php if ($this->canApplyMsrp()): ?>
							<span class="map-cart-sidebar-total"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></span>
						<?php else: ?>
							<span class="label"><?php echo $this->__('Cart Subtotal:') ?></span> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
							<?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
								<br />(<?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
							<?php endif; ?>
						<?php endif; ?>
					</p>
				</div>
			<?php endif ?>
			<?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>
				<div class="actions">
					<?php echo $this->getChildHtml('extra_actions') ?>
					<button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Checkout')); ?>" class="btn btn-default" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
				</div>
			<?php endif ?>
		</div>
	</div>
<?php endif;?>
