<?php
/**
 * @see Mage_Page_Block_Template_Links
 */
?>
<?php $_links = $this->getLinks(); ?>
<?php if(count($_links)>0): ?>
<ul class="links"<?php if($this->getName()): ?> id="<?php echo $this->getName() ?>"<?php endif;?>>
		<li class="first">
		<?php if (! Mage::getSingleton('customer/session')->isLoggedIn()): ?>
			<a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo Mage::helper('customer')->__('Login') ?></a>
		<?php else: ?>
			<a href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>"><span class="logout"><?php echo $this->__('Hola %s', Mage::getSingleton('customer/session')->getCustomer()->getName()); ?></span></a>
		<?php endif; ?>
		</li>
	</li>
    <?php foreach($_links as $_link): ?>
        <?php if ($_link instanceof Mage_Core_Block_Abstract):?>
            <?php echo $_link->toHtml() ?>
        <?php else: ?>
            <li<?php if($_link->getIsLast()): ?> class="<?php if($_link->getIsLast()): ?> last<?php endif; ?>"<?php endif; ?> <?php echo $_link->getLiParams() ?>><?php echo $_link->getBeforeText() ?><a href="<?php echo $_link->getUrl() ?>" title="<?php echo $_link->getTitle() ?>" <?php echo $_link->getAParams() ?>><?php echo $_link->getLabel() ?></a><?php echo $_link->getAfterText() ?></li>
        <?php endif;?>
    <?php endforeach; ?>
</ul>
<?php endif; ?>
