<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Place Order')); ?>" class="btn btn-default pull-right" onclick="review.save();"><span><span><?php echo $this->__('Place Order') ?></span></span></button>
