<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

/**
 * Simple login form template
 *
 * @var $this Mage_Oauth_Block_Authorize
 */
?>
<div class="content-container">
    <div class="login-box">
        <div class="page-title">
            <h2><?php echo $this->__('Log In') ?></h2>
        </div>
        <div class="form-box">
            <?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
            <?php if (!$this->getHasException()) : ?>
            <form method="post" action="<?php echo $this->getPostActionUrl() ?>" id="loginForm">
                <fieldset class="fieldset">
                    <h2 class="legend"><?php echo $this->getFormTitle() ?></h2>
                    <p class="description"><?php echo $this->__('Log in to use <strong>%s</strong>', $this->getConsumer()->getName()) ?></p>
                    <div class="login-form simple">
                            <input type="hidden" name="oauth_token" value="<?php echo $this->escapeHtml($this->getToken()) ?>"/>
                            <div class="input-box input-left">
                                <label for="username">
                                    <em class="required">*</em>&nbsp;<?php echo $this->getIdentityLabel(); ?>
                                </label>
                                <input type="text" id="username" name="login[username]" value="" class="required-entry form-control"/>
                            </div>
                            <div class="clear"></div>
                            <div class="input-box input-right">
                                <label for="login">
                                    <em class="required">*</em>&nbsp;<?php echo $this->__('Password') ?>
                                </label>
                                <input type="password" id="login" name="login[password]" class="required-entry form-control"
                                       value=""/></div>
                            <div class="clear"></div>
                            <div class="form-buttons">
                                <button type="submit" class="form-button btn btn-default"
                                       title="<?php echo $this->__('Login') ?>"/><?php echo $this->__('Login') ?></button>
                                <button type="button" class="btn btn-default" onclick="document.location.href='<?php echo $this->getRejectUrl(); ?>';"
                                        title="<?php echo $this->__('Reject') ?>"><?php echo $this->__('Reject') ?></button>
                                <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            <?php endif; ?>
        </div>
        <div class="bottom"></div>
    </div>
</div>
