<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
$catalogModeWrapper = $this->getLayout()->getMConfigResultByAlias('catalog_mode');
$catalogMode = $catalogModeWrapper['value']['sv2']['value'];
 if($catalogMode == 1) {
	$redirect = Mage::getUrl('no-route');
	echo Mage::app()->getFrontController()->getResponse()->setRedirect($redirect);
 }
?>
<div class="page-title">
	<h2><?php echo $this->__('Checkout') ?></h2>
</div>
<script type="text/javascript" src="<?php echo $this->getJsUrl('varien/accordion.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>
<ul class="opc panel-group" id="checkoutSteps">
<?php $i=0; foreach($this->getSteps() as $_stepId => $_stepInfo): ?>
<?php if (!$this->getChild($_stepId) || !$this->getChild($_stepId)->isShow()): continue; endif; $i++ ?>
	<li id="opc-<?php echo $_stepId ?>" class="panel panel-default section<?php echo !empty($_stepInfo['allow'])?' allow':'' ?><?php echo !empty($_stepInfo['complete'])?' saved':'' ?>">
		<div class="step-title panel-heading clearfix">
			<span class="number"><?php echo $i ?></span>
			<h2 class="panel-title"><?php echo $_stepInfo['label'] ?></h2>
			<a href="#"><?php echo $this->__('Edit') ?></a>
		</div>
		<div id="checkout-step-<?php echo $_stepId ?>" class="step a-item panel-body" style="display:none;">
			<?php echo $this->getChildHtml($_stepId) ?>
		</div>
	</li>
<?php endforeach ?>
</ul>
<script type="text/javascript">
//<![CDATA[
    var accordion = new Accordion('checkoutSteps', '.step-title', true);
    <?php if($this->getActiveStep()): ?>
    accordion.openSection('opc-<?php echo $this->getActiveStep() ?>');
    <?php endif ?>
    var checkout = new Checkout(accordion,{
        progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
        review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
        saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
        failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
	);
//]]>
</script>
