<!--@subject Mira la lista de productos interesantes de {{var customer.name}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.jpg" _area='frontend'}}" alt="Magento" border="0"/></a></p></td>
                    </tr>
                </table>

            <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                        <p>Hola,<br/>
                        Mira mi lista de productos interesantes de la tienda.</p>

                        <p>{{var message}}</p>

                        {{var items}}

                        <br/>

{{depend salable}}<p><strong><a href="{{var addAllLink}}" style="color:#DC6809;">Añadir todos los artículos al carrito de la compra</a></strong> |{{/depend}} <strong><a href="{{var viewOnSiteLink}}" style="color:#1E7EC8;">Ver todos los artículos de la lista de interés</a></strong></p>

                        <p>Gracias,<br/><strong>{{var customer.name}}</strong></p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
    </div>
