<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
	<head>
		<?php echo $this->getChildHtml('head') ?>
	</head>
	<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
		<?php echo $this->getChildHtml('after_body_start') ?>
		<?php
			echo $this->getChildHtml('global_notices');
			$breadcrumbs = $this->getChildHtml('breadcrumbs');
		?>
		<div class="header-breadcrumbs-wrapper<?php echo ($breadcrumbs ? ' with-breadcrumbs' : ''); ?>">
			<?php echo $this->getChildHtml('header') ?>
			<?php if($breadcrumbs): ?>
				<?php echo $breadcrumbs; ?>
			<?php endif; ?>
		</div>
		<div class="content-wrapper">
			<div class="container">
				<div class="main-container col1-layout">
					<div class="row">
						<div class="col-main col-xs-12">
                            <?php if(!Mage::getBlockSingleton('page/html_header')->getIsHomePage()): ?>
							<?php echo $this->getChildHtml('global_messages') ?>
                            <?php endif; ?>
							<?php echo $this->getChildHtml('content') ?>
						</div>
					</div>
				</div>
			</div>
		</div>
        <?php if(Mage::getBlockSingleton('page/html_header')->getIsHomePage()): ?>
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('about_us')->toHtml(); ?>
            <?php echo $this->getChildHtml('global_messages') ?>
        <?php endif; ?>
		<?php echo $this->getChildHtml('footer') ?>
		<?php echo $this->getChildHtml('before_body_end') ?>
		<?php echo $this->getAbsoluteFooter() ?>

	</body>
</html>
