<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
	<head>
		<?php echo $this->getChildHtml('head') ?>
	</head>
	<body class="page-empty <?php echo $this->getBodyClass()?$this->getBodyClass():'' ?>">
		<div>
			<?php echo $this->getChildHtml('after_body_start') ?>
			<?php echo $this->getChildHtml('global_messages') ?>
			<?php echo $this->getChildHtml('content') ?>
			<?php echo $this->getChildHtml('before_body_end') ?>
			<?php echo $this->getAbsoluteFooter() ?>
		</div>
	</body>
</html>
