<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php  $_order = $this->getOrder() ?>
<p class="order-links"><a href="<?php echo $this->getPrintAllInvoicesUrl($_order) ?>" onclick="this.target='_blank'" class="link-print"><i class="icon-printer"></i><?php echo $this->__('Print All Invoices') ?></a></p>
<?php foreach ($_order->getInvoiceCollection() as $_invoice): ?>
<div class="page-title title-buttons clearfix">
	<h2><?php echo $this->__('Invoice #') ?><?php echo $_invoice->getIncrementId(); ?></h2>
	<a href="<?php echo $this->getPrintInvoiceUrl($_invoice) ?>" onclick="this.target='_blank'" class="link-print"><i class="icon-printer"></i><?php echo $this->__('Print Invoice') ?></a>
</div>
<div class="page-subtitle">
	<h2><?php echo $this->__('Items Invoiced') ?></h2>
</div>
<div class="table-responsive">
	<table class="table table-bordered table-hover" id="my-invoice-table-<?php echo $_invoice->getId(); ?>">
		<col />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<thead>
			<tr>
				<th><?php echo $this->__('Product Name') ?></th>
				<th><?php echo $this->__('SKU') ?></th>
				<th><?php echo $this->__('Price') ?></th>
				<th><span class="nobr"><?php echo $this->__('Qty Invoiced') ?></span></th>
				<th><?php echo $this->__('Subtotal') ?></th>
			</tr>
		</thead>
		<tfoot>
			<?php echo $this->getInvoiceTotalsHtml($_invoice)?>
		</tfoot>
		<?php $_items = $_invoice->getAllItems(); ?>
		<?php $_count = count($_items) ?>
		<?php foreach ($_items as $_item): ?>
		<?php if ($_item->getOrderItem()->getParentItem()) continue; ?>
		<tbody>
			<?php echo $this->getItemHtml($_item) ?>
		</tbody>
		<?php endforeach; ?>
	</table>
	<script type="text/javascript">decorateTable('my-invoice-table-<?php echo $_invoice->getId(); ?>', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>
</div>
<?php echo $this->getInvoiceCommentsHtml($_invoice)?>
<?php endforeach; ?>
