<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

	$blockSwitch = $this->getLayout()->getBlockSingleton('Mage_Page_Block_Switch');
	$blockCurrency = $this->getLayout()->getBlockSingleton('Mage_Directory_Block_Currency');
	$langName = Mage::app()->getStore()->getLocaleCode();
	$currency_code = Mage::app()->getStore()->getCurrentCurrencyCode();
	$currencyName =Mage::app()->getStore()->getCurrentCurrencyCode(); // Mage::app()->getLocale()->currency($currency_code)->getName();
	if((count($blockSwitch->getStores())) > 1 || $blockCurrency->getCurrencyCount() > 1) :
?>
	<div class="language-currency-wrapper<?php if((count($blockSwitch->getStores())) > 1 && $blockCurrency->getCurrencyCount() > 1){echo ' with-border';} ?>">
		<div class="language-currency-block">
			<?php if((count($blockSwitch->getStores())) > 1) :?>
				<span class="language">
					<!-- <img src="<?php // echo $this->getSkinUrl('images/lang/'.(Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($currentLang).'.jpg') ?>" alt="<?php // echo $currentLang; ?>" /> -->
					<?php
					$currentLang = Mage::app()->getStore()->getName();
					echo substr($currentLang,0,2);
					?>
				</span>
			<?php endif; ?>
			<?php if($blockCurrency->getCurrencyCount() > 1): ?>
				<span class="currency">
					<?php echo '<span class="icon"><span class="currency-sumbol">' . Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol() .'</span></span>'; ?>
				</span>
			<?php endif; ?>
			<i class="fa fa-angle-down"></i>
		</div>
		<div class="language-currency-dropdown">
			<?php echo $this->getChildHtml('currency') ?>
			<?php echo $this->getChildHtml('store_language') ?>
		</div>
		<div class="clearfix"></div>
	</div>
<?php endif; ?>
