<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="welcome-msg panel panel-default">
	<div class="panel-heading">
		<h3 class="hello panel-title"><?php echo $this->__('Hello, %s!', (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($this->getCustomerName())) ?></h3>
	</div>
	<div class="panel-body">
    <p><?php echo $this->__('From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.') ?></p>
	</div>
</div>
