<div class="footer-container">
    <div class="footer">
        <?php echo $this->getChildHtml('bottomContainer') ?>
        <div class="f-top">
        	<ul class="foot_titles">
            	<li><h4>Links Rapidos</h4></li>
                <li><h4>Medios de Pago</h4></li>
                <li><h4>Medios de Envio</h4></li>
                <li><h4>Compra Segura</h4></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="f-bottom">
            <?php echo $this->getChildHtml('cms_footer_links') ?>
            <?php //echo $this->getChildHtml('footer_links') ?>
            <ul>
                <li class="pagos1">
                	<a class="logo-pagos-online" href="http://www.payu.com.co" target="_blank"></a>
                </li>
                <li class="pagos2">

                </li>
            </ul>
            <ul>
            	<li class="pagos3">

                </li>
            </ul>
            <ul>
                <li class="pagos4">
                    <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
<tr>
<td width="135" align="center" valign="top">
    <a alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security" href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.neumarket.com&lang=es" target="_blank">
    <img name="seal" src="https://seal.websecurity.norton.com/getseal?at=0&amp;sealid=1&amp;dn=www.neumarket.com&amp;lang=es&amp;tpt=opaque" oncontextmenu="return false;" border="0" usemap="#sealmap_medium" alt="">
    </a>
    <br />
    <a href="https://www.symantec.com/es/es/ssl-certificates" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">Acerca de los Certificados SSL</a>
</td>
</tr>
</table>
                </li>
            </ul>
            <div class="clear"></div>
            <address><?php echo $this->getCopyright() ?></address>
        </div>
    </div>
</div>

