<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php /* @var $this Mage_Sales_Block_Billing_Agreements */ ?>
<div class="page-title">
    <h2><?php echo $this->__('Billing Agreements') ?></h2>
</div>
<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
<div class="billing-agreements">
    <?php $billingAgreements = $this->getBillingAgreements(); ?>
    <?php if (count($billingAgreements) > 0): ?>
        <?php echo $this->getChildHtml('pager'); ?>
        <table id="billing-agreements" class="table table-bordered table-responsive">
            <col />
            <col width="1" />
            <col />
            <col />
            <col />
            <col width="1" />
            <thead>
                <tr>
                    <th><span class="nobr"><?php echo $this->__('Reference ID'); ?></span></th>
                    <th><?php echo $this->__('Status'); ?></th>
                    <th><span class="nobr"><?php echo $this->__('Created At'); ?></span></th>
                    <th><span class="nobr"><?php echo $this->__('Updated At'); ?></span></th>
                    <th><span class="nobr"><?php echo $this->__('Payment Method'); ?></span></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($billingAgreements as $item): ?>
                <tr>
                    <td><span class="nobr"><?php echo $this->getItemValue($item, 'reference_id') ?></span></td>
                    <td><?php echo $this->getItemValue($item, 'status') ?></td>
                    <td><span class="nobr"><?php echo $this->getItemValue($item, 'created_at') ?></span></td>
                    <td><span class="nobr"><?php echo $this->getItemValue($item, 'updated_at') ?></span></td>
                    <td><?php echo $this->getItemValue($item, 'payment_method_label') ?></td>
                    <td><a href="<?php echo $this->getItemValue($item, 'edit_url') ?>"><?php echo $this->__('View') ?></a></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <script type="text/javascript">decorateTable('billing-agreements')</script>
    <?php else: ?>
        <p><?php echo $this->__('There are no billing agreements yet.')?></p>
    <?php endif; ?>
    <?php $paymentMethods = $this->getWizardPaymentMethodOptions() ?>
    <?php if ($paymentMethods): ?>
        <div class="info-box">
            <h2 class="box-title"><?php echo $this->__('New Billing Agreement') ?></h2>
            <form action="<?php echo $this->getCreateUrl() ?>" method="post">
                <div class="box-content">
                    <p><?php echo $this->__('You will be redirected to the payment system website.') ?></p>
                    <ul class="form-list">
                        <li>
                            <select id="payment_method" name="payment_method" class="form-control">
                                <option value=""><?php echo $this->__('-- Please Select --') ?></option>
                                <?php foreach ($paymentMethods as $code => $title): ?>
                                    <option value="<?php echo $code ?>"><?php echo $title ?></option>
                                <?php endforeach; ?>
                            </select>
                            <button type="submit" class="btn btn-default"><span><span><?php echo $this->__('Create...') ?></span></span></button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    <?php endif; ?>
    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->escapeHtml($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    </div>
</div>
