<?php
	$brands_collection = Mage::getModel('brands/brand')->getcollection();
	$_helper = Mage::helper('brands');
	$_current_brand = $_helper->getCurrentSelected();
?>

<?php if( count($brands_collection) ): ?>
<div class="block block-marcas colapsable">
	<div class="block-title">
        <strong><span><?php echo $this->__('Busca llantas por marca') ?></span></strong>
    </div>
    
    <div class="block-content">
    <form id="form-marcas" method="get" action="">
    <ul id="form-marcas">
        <li class="item">
            <label for="marcas"><?php echo $this->__('Marca de Llantas') ?></label>
            <div class="input-box"> 
                <select id="brands-marca" class="marca required-entry" name="brands-marca">
                    <option value=""></option>
                    <?php foreach($brands_collection as $brand): ?>
                    	<?php
                        	if($_current_brand == $brand->getId()):
								$selected = ' selected="selected"';
							else:
								$selected = '';
							endif;
						?>
						<?php if($brand->getData('is_active')): ?>

<?php $brandnombre = $brand->getName(); ?>
<?php if ($brandnombre == "Nitto" OR $brandnombre == "Linglong" OR $brandnombre == "Duration" OR $brandnombre == "Falken" OR $brandnombre == "Giti Tires" OR $brandnombre == "General" OR $brandnombre == "Ovation" OR $brandnombre == "Hifly" OR $brandnombre == "Tigar" OR $brandnombre == "Firestone" OR $brandnombre == "Momo" OR $brandnombre == "Sailun" OR $brandnombre == "Federal" OR $brandnombre == "Goodyear" OR $brandnombre == "BF Goodrich" OR $brandnombre == "Continental" OR $brandnombre == "Barum" OR $brandnombre == "Hankook" OR $brandnombre == "Pirelli" OR $brandnombre == "Kumho" OR $brandnombre == "Maxxis" OR $brandnombre == "Toyo" OR $brandnombre == "Laufenn" OR $brandnombre == "Bridgestone" OR $brandnombre == "Mickey Thompson"): ?>
                        	<option<?php echo $selected; ?> value="<?php echo Mage::getUrl(null, array('_direct' => $brand->getIdentifier())); ?>-carro"><?php echo $brand->getName() ?></option>
<?php elseif ($brandnombre == "Michelin"): ?>
                        	<option<?php echo $selected; ?> value="<?php echo Mage::getUrl(null, array('_direct' => $brand->getIdentifier())); ?>-carro-moto"><?php echo $brand->getName() ?></option>
<?php else: ?>
				<option<?php echo $selected; ?> value="<?php echo Mage::getUrl(null, array('_direct' => $brand->getIdentifier())); ?>"><?php echo $brand->getName() ?></option>
<?php endif; ?>


                        <?php endif; ?>
                        
					<?php endforeach ?>
                </select>
            </div>
        </li>
    </ul> 
    <div class="actions">
        <button class="button" title="<?php echo $this->__('Search') ?>" type="button" onclick="setLocation($('brands-marca').value)"><span><span><img src="<?php echo $this->getSkinUrl('images/btn-buscar.jpg') ?>" width="84" height="32" alt="<?php echo $this->__('Search') ?>" /></span></span></button>
    </div>

    </form>
    </div>
    
</div>
<?php endif; ?>