<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
/* Upgrade for responsive */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $_guaEc = Mage::helper('googleuniversalanalytics/ecommerce');
    $meigeeOptions = $this->getLayout();
    $richSnippetsStatus = $meigeeOptions->getMConfigResultByAlias('snippets_status');
    $richSnippetsBreadcrumbs = $meigeeOptions->getMConfigResultByAlias('snippets_breadcrumbs');
    $gridColumns = $meigeeOptions->getMConfigResultByAlias('listing_columns');
    $grid_indents = $meigeeOptions->getMConfigResultByAlias('listing_indents');


switch ($gridColumns) {
    case 2:
        $gridColumnsClassname = 'two-columns';
        break;
    case 3:
        $gridColumnsClassname = 'three-columns';
        break;
    case 4:
        $gridColumnsClassname = 'four-columns';
        break;
    case 5:
        $gridColumnsClassname = 'five-columns';
        break;
    case 6:
        $gridColumnsClassname = 'six-columns';
        break;
    case 7:
        $gridColumnsClassname = 'seven-columns';
        break;
    case 8:
        $gridColumnsClassname = 'eight-columns';
        break;
    default:
        $gridColumnsClassname = 'three-columns';
        break;
}

?>


    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner clearfix">
                        <div class="col-sm-6">
                            <div class="item title">
                                <header class="page-title clearfix">
                                    <h2><?php echo $this->__('Llantas ') ?><?php echo $this->getSearchName(); ?></h2>
                                </header>
                            </div>
                            <div class="item new-search">
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal-wheelsfinder"><?php echo $this->__('Realizar Nueva Búsqueda') ?></button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <?php if($crumbs && is_array($crumbs)): ?>
                                <ul class="breadcrumb pull-right">
                                    <?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
                                        <li class="<?php echo $_crumbName ?>"<?php if(($richSnippetsStatus) and ($richSnippetsBreadcrumbs) and ($_crumbInfo['link'])): ?> itemscope itemtype="http://data-vocabulary.org/Breadcrumb"<?php endif; ?>>
                                            <?php if($_crumbInfo['link']): ?>
                                                <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->htmlEscape($_crumbInfo['label']) ?>"
                                                <?php echo (($richSnippetsStatus and $richSnippetsBreadcrumbs) ? 'itemprop="url"><span itemprop="title">'. $this->htmlEscape($_crumbInfo['label']).'</span>'  : '>'. $this->htmlEscape($_crumbInfo['label'])); ?></a>
                                            <?php elseif($_crumbInfo['last']): ?>
                                                <strong><?php echo $this->htmlEscape($_crumbInfo['label']) ?></strong>
                                            <?php else: ?>
                                                <?php echo $this->htmlEscape($_crumbInfo['label']) ?>
                                            <?php endif; ?>
                                        </li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-wheelsfinder" role="dialog">
        <div class="modal-dialog">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close"></i></button>
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('wheelsfinder')->toHtml();?>
            <!-- button type="button" class="btn btn-default" data-dismiss="modal"></button -->

        </div>
    </div>

<?php //if($_productCollection->count()): ?>
<?php //echo $this->getToolbarHtml() ?>
<?php //endif; ?>

<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products quick-view-container">
    <div class="quick-view-data-container"></div>
    <?php echo $this->getToolbarHtml() ?>
	<?php //echo $this->getChildHtml('catalog.compare.sidebar') ?>
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>


    <ol class="products-list" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
            <?php // Product Image ?>
		<div class="product-img-box">
            <?php //Google Analytics Product Impression
            echo $_guaEc->getAddProductImpressionTag($_product, false, $_iterator);
            ?>
                <?php
                    $brand_name = $_product->getAttributeText('brands');
                    $brand_id = $_product->getBrands();
                    $brand_image = $this->helper('brands')->getBrandImage($brand_id);
                ?>
                <?php if($brand_image): ?>
                    <img class="product-manufacturer-logo" src="<?php echo $brand_image; ?>" alt="<?php echo $brand_name; ?>">
                <?php endif; ?>
                <div class="prolabel-wrapper">
                    <?php echo Mage::helper('prolabels')->getLabel($_product, 'category'); ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(168); ?>" width="168" height="168" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    </a>
                </div>
            </div>
            <?php // Product description ?>
            <div class="product-shop">
                <div class="f-fix">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                    <?php if($_product->getRatingSummary()): ?>
                    <?php echo $this->getReviewsSummaryHtml($_product) ?>
                    <?php endif; ?>
					<div class="middle">
						<?php echo $this->getPriceHtml($_product, true) ?>
						<?php if($_product->isSaleable()): ?>
							<p class="addto-section">
                            
                            <?php if(!$_product->isGrouped()): ?>
                            
                            <label class="qty_label" for="qty"><?php echo $this->__('Qty:') ?></label>
                            <span class="qty_select">
                            <select name="qty_<?php echo $_product->getId(); ?>" class="input-text qty" id="qty_<?php echo $_product->getId(); ?>">
                              <option value="1" selected="selected">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                            </select>
                            </span>
                            
                            <?php else: ?>
                        
                        	<input type="hidden" value="" name="qty_<?php echo $_product->getId(); ?>" class="input-text qty" id="qty_<?php echo $_product->getId(); ?>" />
                            
                            <?php endif; ?>
                            
                            <button type="button" title="<?php echo $this->__('Agregar al Carrito') ?>" class="button button-cart" onclick="addToCart('<?php echo $_product->getId(); ?>');"><span><span><?php echo $this->__('Agregar al Carrito') ?></span></span></button></p>
                            
                            <input type="hidden" value="<?php echo $this->getAddToCartUrl($_product) ?>" name="prod_url_<?php echo $_product->getId(); ?>" class="input-text qty" id="prod_url_<?php echo $_product->getId(); ?>" />
                            
						<?php else: ?>
							<p class="availability out-of-stock"><span><?php echo $this->__('CONFIRMAR</br>DISPONIBILIDAD') ?></span></p>
						<?php endif; ?>
					</div>
                    <ul class="add-to-links">
						<div class="social">
							<div class="addthis_toolbox addthis_default_style" addthis:url="<?php echo $_product->getProductUrl() ?>" addthis:title="<?php echo $_productNameStripped; ?>">
								<span>Compartir este producto: </span>
								<a class="addthis_button_facebook"></a>
								<a class="addthis_button_twitter"></a>
							</div>
							<script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f1b484d2c34342f"></script>
						
						</div>
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Agregar a comparar') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

    <?php else: ?>

    <?php // Grid Mode ?>

    <?php //$_collectionSize = $_productCollection->count() ?>
    <?php //$_columnCount = $this->getColumnCount(); ?>
    <?php //$i=0; foreach ($_productCollection as $_product): ?>
        <ul class="products-grid row <?php echo $gridColumnsClassname.''.($grid_indents != 1 ? ' no-indents' : ''); ?>">
            <?php $count = 1; ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php if($count == 1): ?><?php endif; $count++; ?>
                <?php echo $this->getLayout()->createBlock('page/html')->setProductInfo($_product)->setProductList($this)->setTemplate('catalog/product/grids/default.phtml')->toHtml(); ?>
                <?php if($count == 5): ?><?php $count = 1; else: $count++; endif; ?>
            <?php endforeach ?>
        </ul>
    <?php //endforeach ?>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>
    
        <div class="toolbar-bottom">
            <?php echo $this->getToolbarHtml() ?>
        </div>
        <?php if(Mage::app()->getLayout()->getBlock('ajaxkit')->issetSubmodulesConfig('general_toolbar')) { ?>
            <div class="infinite-scroll-elements">
                <div class="infinite-scroll-loader"><div></div></div>
                <div class="infinite-scroll-button" id="StaticScrollBtn"><?php echo $this->__('Show More Products'); ?></div>
            </div>
        <?php } ?>
    </div>
    <script type="text/javascript">
        if(jQuery('.category-products li.item .mobile-btn').length){
            jQuery('.mobile-btn').off().on('click', function(){
                if(jQuery(this).parents('.products-grid li.item').hasClass('hover')){
                    jQuery(this).parents('.products-grid li.item').removeClass('hover');
                } else {
                    jQuery(this).parents('li.item').addClass('hover');
                }
            });
        }
        if(jQuery('.listing-banner').length){
            var mode = jQuery('.listing-banner').data('mode');
            var position = jQuery('.listing-banner').data('position');
            banner = jQuery('.listing-banner');
            banner = banner.wrap("<li class='item listing-banner-wrapper'></li>");
            banner.parent().hide();
            switch (mode){
                case 'grid':
                    if(jQuery('.category-products .products-grid').length){
                        banner.parent().show();
                        jQuery('.products-grid').parents('.col-main').find('.category-description li.item').css('display', 'block');
                        jQuery('.products-grid li.item:nth-of-type(' + (position-1) + ')').after(jQuery('.listing-banner-wrapper'));
                    }
                    break;
                case 'list':
                    if(jQuery('.category-products .products-list').length){
                        banner.parent().show();
                        jQuery('.products-list').parents('.col-main').find('.category-description li.item').css('display', 'block');
                        jQuery('.products-list li.item:nth-of-type(' + (position-1) + ')').after(jQuery('.listing-banner-wrapper'));
                    }
                    break;
            }
        }

    </script>
<?php endif; ?>
<?php
// Provides a block where additional page components may be attached, primarily good for in-page JavaScript
if ($this->getChild('after')){
    $_afterChildren = $this->getChild('after')->getSortedChildren();
    foreach ($_afterChildren as $_afterChildName){
        $_afterChild = $this->getChild('after')->getChild($_afterChildName);
        //set product collection on after blocks
        $_afterChild->setProductCollection($_productCollection);
        echo $_afterChild->toHtml();
    }
}
?>