<?php
$_code = $this->getMethodCode();
$accountId = Mage::getStoreConfig('payment/payucard/account_id');
$deviceSessionId = md5(Mage::getSingleton("core/session")->getSessionId().microtime());
?>
<ul id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li>
        <p class="pse-description"><?php echo Mage::getStoreConfig('payment/payucard/description') ?></p>
    </li>
    <li class="clearfix">
        <input type="hidden" id="<?php echo $_code ?>_cc_type_dni" name="payment[cc_type_dni]"
               value="<?php echo ($this->htmlEscape($this->getInfoData('cc_type_dni'))) ? $this->htmlEscape($this->getInfoData('cc_type_dni')) : "CC" ?>"/>
        <input type="hidden" id="<?php echo $_code ?>_cc_business_name" name="payment[cc_business_name]"
               value="<?php echo $this->htmlEscape($this->getInfoData('cc_business_name')) ?>"/>
        <input type="hidden" id="<?php echo $_code ?>_cc_dni" name="payment[cc_dni]"
               value="<?php echo $this->htmlEscape($this->getInfoData('cc_dni')) ?>"/>
        <input type="hidden" id="<?php echo $_code ?>_cc_dsi" name="payment[cc_dsi]" value="<?php echo $deviceSessionId ?>"/>
    </li>
    <li>
        <label for="<?php echo $_code ?>_cc_owner" class="required"><?php echo $this->__('Name on Card') ?> <span
                    class="required">*</span></label>
        <div class="input-box">
            <input type="text" title="<?php echo $this->__('Name on Card') ?>" class="input-text required-entry"
                   id="<?php echo $_code ?>_cc_owner" name="payment[cc_owner]"
                   value="<?php echo $this->htmlEscape($this->getInfoData('cc_owner')) ?>"/>
        </div>
    </li>
    <li>
        <label for="<?php echo $_code ?>_cc_type" class="required"><?php echo $this->__('Credit Card Type') ?> <span
                    class="required">*</span></label>
        <div class="input-box">
            <!--select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]"
                    title="<?php echo $this->__('Credit Card Type') ?>" class="required-entry validate-cc-type-select"
                    onchange="getInstallments(this)">
                <option value=""><?php echo $this->__('--Please Select--') ?></option>
                <option value="AE"><?php echo $this->__('American Express') ?></option>
                <option value="CODENSA"><?php echo $this->__('Codensa') ?></option>
                <option value="DINERS"><?php echo $this->__('Diners') ?></option>
                <option value="MC"><?php echo $this->__('MasterCard') ?></option>
                <option value="VI"><?php echo $this->__('Visa') ?></option>
            </select-->
            <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]"
                    title="<?php echo $this->__('Credit Card Type') ?>" class="required-entry validate-cc-type-select" onchange="getInstallments(this)">
                <option value=""><?php echo $this->__('--Please Select--') ?></option>
                <?php $_ccType = $this->getInfoData('cc_type') ?>
                <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option value="<?php echo $_typeCode ?>"<?php if ($_typeCode == $_ccType): ?> selected="selected"<?php endif ?>><?php echo ($_typeCode == "OT")? $this->__('Codensa') : $_typeName ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </li>
    <li>
        <label for="<?php echo $_code ?>_cc_number" class="required"><?php echo $this->__('Credit Card Number') ?> <span
                    class="required">*</span></label>
        <div class="input-box">
            <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]"
                   title="<?php echo $this->__('Credit Card Number') ?>"
                   class="input-text validate-cc-number validate-cc-type" value=""/>
        </div>
    </li>
    <?php if ($this->hasVerification()): ?>
        <li>
            <label for="<?php echo $_code ?>_cc_cid" class="required"><?php echo $this->__('Código de seguridad') ?>
                <span class="required">*</span></label>
            <div class="input-box">
                <div class="v-fix">
                    <input type="text" title="<?php echo $this->__('Código de seguridad') ?>"
                           class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid"
                           name="payment[cc_cid]" value=""/>
                </div>
                <a href="#" class="cvv-what-is-this"><?php echo $this->__('What is this?') ?></a>
            </div>
        </li>
    <?php endif; ?>
    <li>
        <div class="v-fix" style="margin: 8px 12px 8px 0px;">
            <label for="<?php echo $_code ?>_expiration"
                   class="required"><?php echo $this->__('Fecha de vencimiento') ?> <span
                        class="required">*</span></label>
            <div class="input-box">
                <div class="v-fix">
                    <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]"
                            class="month validate-cc-exp required-entry">
                        <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                        <?php foreach ($this->getCcMonths() as $k => $v): ?>
                            <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
                <div class="v-fix">
                    <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
                    <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]"
                            class="year required-entry">
                        <?php foreach ($this->getCcYears() as $k => $v): ?>
                            <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
            </div>
        </div>
        <div class="v-fix" style="margin: 8px 0;">
            <label for="<?php echo $_code ?>_cc_installments" class="required"><?php echo $this->__('Cuotas') ?> <span
                        class="required">*</span></label>
            <select id="<?php echo $_code ?>_cc_installments" name="payment[cc_installments]" class="required-entry">
                <option value="" selected="selected"></option>
            </select>
        </div>
    </li>
    <?php echo $this->getChildHtml() ?>
    <?php if ($this->hasSsCardType()): ?>
        <li id="<?php echo $_code ?>_cc_type_ss_div">
            <ul class="inner-form">
                <li class="form-alt"><label for="<?php echo $_code ?>_cc_issue"
                                            class="required"><em>*</em><?php echo $this->__('Switch/Solo/Maestro Only') ?>
                        <span class="required">*</span></label>
                </li>
                <li>
                    <label for="<?php echo $_code ?>_cc_issue"><?php echo $this->__('Issue Number') ?>:</label>
                    <span class="input-box">
                    <input type="text" title="<?php echo $this->__('Issue Number') ?>"
                           class="input-text validate-cc-ukss cvv" id="<?php echo $_code ?>_cc_issue"
                           name="payment[cc_ss_issue]" value=""/>
                </span>
                </li>

                <li>
                    <label for="<?php echo $_code ?>_start_month"><?php echo $this->__('Start Date') ?>:</label>
                    <div class="input-box">
                        <div class="v-fix">
                            <select id="<?php echo $_code ?>_start_month" name="payment[cc_ss_start_month]"
                                    class="validate-cc-ukss month">
                                <?php foreach ($this->getCcMonths() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $this->getInfoData('cc_ss_start_month')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                        <div class="v-fix">
                            <select id="<?php echo $_code ?>_start_year" name="payment[cc_ss_start_year]"
                                    class="validate-cc-ukss year">
                                <?php foreach ($this->getSsStartYears() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $this->getInfoData('cc_ss_start_year')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="adv-container">&nbsp;</li>
            </ul>
            <script type="text/javascript">
                //<![CDATA[
                var SSChecked<?php echo $_code ?> = function () {
                    var elm = $('<?php echo $_code ?>_cc_type');
                    if (['SS', 'SM', 'SO'].indexOf(elm.value) != -1) {
                        $('<?php echo $_code ?>_cc_type_ss_div').show();
                    } else {
                        $('<?php echo $_code ?>_cc_type_ss_div').hide();
                    }
                };

                Event.observe($('<?php echo $_code ?>_cc_type'), 'change', SSChecked<?php echo $_code ?>);
                SSChecked<?php echo $_code ?>();
                //]]>
            </script>
        </li>
    <?php endif; ?>
    <li>
        <p style="background:url(https://maf.pagosonline.net/ws/fp?id=<?php echo $deviceSessionId.$accountId ?>)"></p>
        <img src="https://maf.pagosonline.net/ws/fp/clear.png?id=<?php echo $deviceSessionId.$accountId ?>">
        <script src="https://maf.pagosonline.net/ws/fp/check.js?id=<?php echo $deviceSessionId.$accountId ?>"></script>
        <object type="application/x-shockwave-flash"
                data="https://maf.pagosonline.net/ws/fp/fp.swf?id=<?php echo $deviceSessionId.$accountId ?>" width="1" height="1"
                id="thm_fp">
            <param name="movie" value="https://maf.pagosonline.net/ws/fp/fp.swf?id=<?php echo $deviceSessionId.$accountId ?>" />
        </object>
    </li>
</ul>
<script>
    function copyBillingPayment() {
        // Copy document type to credit card payment method
        var type_dni = "";
        var clienttype = $('client_type___1386').checked;
        if (clienttype) {
            switch ($('tipo_documento').value) {
                case "1391":
                    type_dni = "CC";
                    break;
                case "1392":
                    type_dni = "CE";
                    break;
                case "1393":
                    type_dni = "PP";
                    break;
            }
            $('<?php echo $_code ?>_cc_type_dni').value = type_dni;

            // Copy document number to credit card payment method
            $('<?php echo $_code ?>_cc_dni').value = $('nro_documento').value;
        }
        else {
            // Copy nit number to credit card payment method
            $('<?php echo $_code ?>_cc_dni').value = $('nit').value;
            $('<?php echo $_code ?>_cc_type_dni').value = "NIT";

            // Copy business name to credit card payment method
            $('<?php echo $_code ?>_cc_business_name').value = $('razon_social').value;
        }

    }

    function getInstallments(element) {
        var installments = $('<?php echo $_code ?>_cc_installments');
        installments.options.length = 0;
        if (element.value == "OT") {
            for (i = 1; i <= 12; i++) {
                installments.add(new Option(i, i));
            }
            installments.add(new Option(18, 18));
            installments.add(new Option(24, 24));
            installments.add(new Option(36, 36));
            installments.add(new Option(48, 48));
        }
        else {
            for (i = 1; i <= 24; i++) {
                installments.add(new Option(i, i));
            }
        }
    }
    getInstallments($('payucard_cc_type'));
</script>