<?php $_code = $this->getMethodCode() ?>
<ul id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li>
        <p class="pse-description"><?php echo Mage::getStoreConfig('payment/payupse/description') ?></p>
    </li>
    <li class="clearfix">
        <label for="<?php echo $_code ?>_pse_bank" class="required"><?php echo $this->__('Banco') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_pse_bank" name="payment[pse_bank]" title="<?php echo $this->__('Banco') ?>" class="required-entry">
                <option value=""><?php echo $this->__('--Please Select--') ?></option>
                <?php foreach (Mage::helper("payupse")->getBanks() as $bank): ?>
                    <option value="<?php echo $bank->pseCode ?>"><?php echo $bank->description ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </li>
</ul>

<div>
    <?php echo $this->getMethod()->getConfigData('message');?>
</div>