<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="block block-account">
	<div class="block-title">
		<strong><span><?php echo $this->__('My Account'); ?></span></strong>
	</div>
	<div class="block-content">
		<ul>
			<?php $_links = $this->getLinks(); ?>
			<?php $_index = 1; ?>
			
<?php $_count = count($_links); /* Add or Remove Account Left Navigation Links Here -*/
      unset($_links['tags']); /* My Tags */
      unset($_links['invitations']); /* My Invitations */
      unset($_links['reviews']);  /* Reviews */
      unset($_links['wishlist']); /* Wishlist */
      unset($_links['enterprise_customerbalance']); /* Store Credit */
      unset($_links['OAuth Customer Tokens']); /* My Applications */
      unset($_links['enterprise_reward']); /* Reward Points */
      unset($_links['giftregistry']); /* Gift Registry */
      unset($_links['downloadable_products']); /* My Downloadable Products */
      unset($_links['recurring_profiles']); /* Recurring Profiles */
      unset($_links['billing_agreements']); /* Billing Agreements */
      unset($_links['enterprise_giftcardaccount']); /* Gift Card Link */
?>
			
			<?php foreach ($_links as $_link): ?>
				<?php $_last = ($_index++ >= $_count); ?>
				<?php if ($this->isActive($_link)): ?>
				<li class="current<?php echo ($_last ? ' last' : '') ?>"><?php echo $_link->getLabel() ?></li>
				<?php else: ?>
				<li<?php echo ($_last ? ' class="last"' : '') ?>><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
				<?php endif; ?>
			<?php endforeach; ?>
		</ul>
	</div>
</div>
