<?php 
$_helper = $this->helper('catalog/product_compare');
$_items = $_helper->getItemCount() > 0 ? $_helper->getItemCollection() : null;
?>
<?php if($_helper->getItemCount() > 0): ?>
<div class="block block-list block-compare">
    <div class="block-content">
        <ol id="compare-items">
        <?php foreach($_items as $_index => $_item): ?>
            <li class="item">
			<?php 
			$productId = $_item->getId();
			$product = Mage::getModel('catalog/product')->load($productId);
			?>
				<span class="item-container">
				<a href="<?php echo $_helper->getRemoveUrl($_item) ?>" title="<?php echo $this->__('Remove This Item') ?>" class="remove" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this item from the compare products?') ?>');"><?php echo $this->__('Remove This Item') ?></a>
				<a href="<?php echo $this->getProductUrl($_item) ?>" class="item">
					<img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(40); ?>" width="40" height="40" alt="<?php echo $this->stripTags($this->getImageLabel($_item, 'small_image'), null, true) ?>" />
                </a>
				<input type="hidden" class="compare-item-id" value="<?php echo $_item->getId() ?>" />
                
            </li>
        <?php endforeach; ?>
        </ol>
        <script type="text/javascript">decorateList('compare-items')</script>
		<a class="clear-all" href="<?php echo $_helper->getClearListUrl() ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove all products from your comparison?') ?>');"><?php echo $this->__('Clear All') ?></a>
        <div class="actions">
            <a href="#" class="compare" onclick="popWin('<?php echo $_helper->getListUrl() ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">Comparar</a>
        </div>
    </div>
</div>
<?php endif; ?>
