<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Xnotif
 */   
?>
<?php $_productId = Mage::registry('product')->getId()?>
 <script type="text/javascript">
    function send_alert_email(url, button)
    {
        var f = document.createElement('form');
		var productId = button.id.replace(/\D+/g,"");
        var block = button.up('.amxnotif-block');
        if($('amxnotif_guest_email-' + productId)){
             $('amxnotif_guest_email-' + productId).addClassName("validate-email required-entry");
        }
        if(block) {
            block.childElements().each(function (child) {
                f.appendChild( Element.clone(child));
            });
        }

        var validator = new Validation(block);
        if (validator.validate()) {
            f.action = url;
            f.hide();
            $$('body')[0].appendChild(f);
            f.setAttribute("method", 'post');
            f.id = 'am_product_addtocart_form';
            f.submit();
            button.remove();
            return true;  
        }
		if($('amxnotif_guest_email-' + productId)){
			$('amxnotif_guest_email-' + productId).removeClassName("validate-email required-entry");
		}
        return false;
    }
    
    function checkIt(evt,url, button) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;  
        if (charCode == 13) {
               return send_alert_email(url, button);
        }
        return true;
    }
</script>
<label class="title-amxnotif" ><?php echo $this->__('TEMPORALMENTE AGOTADA'); ?> </label>
<div class="amxnotif-block">
    <div class="text1" style="margin-bottom:10px">Deja tu email y te avisaremos tan pronto esté disponible:</div>
	<input type="text" name="guest_email" placeholder="ejemplo@correo.com" id="amxnotif_guest_email-<?php echo $_productId;?>" onKeyPress="return checkIt(event, '<?php echo $this->escapeHtml(Mage::helper('amxnotif')->getEmailUrl('stock'));?>', $('button-email-send-<?php echo $_productId;?>'))" class="input-text" size="30" />
	<input type="hidden" name="product_id" value="<?php echo $_productId;?>" />
	<input type="hidden" name="type" value="email" />
	<input type="hidden" name="parent_id" value="<?php echo Mage::registry('par_product_id')?>" />
	<input type="hidden" name="<?php echo Mage_Core_Controller_Front_Action::PARAM_NAME_URL_ENCODED ?>" value="<?php echo Mage::helper('amxnotif')->getEncodedUrl()?>" />
	<button type="button" id="button-email-send-<?php echo $_productId;?>" class="button btn-cart amcart-ignore" onclick="send_alert_email('<?php echo $this->escapeHtml(Mage::helper('amxnotif')->getEmailUrl('stock'));?>', this)" title="<?php echo $this->__('Registrarse'); ?>"><span><span><?php echo $this->__('Registrarse'); ?></span></span> </button>
	<div class="text1" style="margin-top: 10px">O comunícate con nosotros: </div>
	<div class="contact-info">
        <span class="free-phone"><i class="fa fa-phone"></i> Linea gratuita 018000 185 595</span>
        <span class="mobile"><i class="fa fa-whatsapp"></i> <a target="_blank" href="https://api.whatsapp.com/send?phone=573154806361">Whatsapp 315 4806361</a></span>
    </div>
</div>