<script type="text/javascript" src='<?php echo Mage::getBaseUrl('js') ?>visastandardwindow.js'></script>
<?php echo $this->getFormRedirect(); ?>
<center><br /><br />
    <h3><?php echo $this->__('You are being redirected to Pagosonline.') ?></h3><br /><br />
    <script type="text/javascript">document.Visa.submit();</script>    
</center>