<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
    $_item = $this->getItem();
    $isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
?>
<li class="item clearfix">
    <?php if ($this->hasProductUrl()): ?>
        <div class="media-left">
			<a href="<?php echo $this->getProductUrl()?>" title="<?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($this->getProductName()) ?>" class="product-image">
				<?php
					$escaped_label = (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($_item->getProduct()->getProductName());
					echo '<img '. $_item->getProduct()->getProductMediaResized(90, 'thumbnail')
						->addImageHtmlAttributte('alt', $escaped_label)
						->addImageHtmlAttributte('width', 90)
						->addImageHtmlAttributte('title', $escaped_label)
						->getImageHtmlAttributte().' />';
				?>
			</a>
		</div>
	<?php else: ?>
        <div class="media-left">
			<span class="product-image"><img src="<?php echo $this->getProductThumbnail()->resize(130)->setWatermarkSize('30x10'); ?>" width="90" alt="<?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($this->getProductName()) ?>" /></span>
			<div class="cart-price-qt">
				<strong><?php echo $this->getQty() ?></strong>
			</div>
			<a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove This Item') ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>');" class="btn-remove"><i class="ion-android-cancel"></i></a>
        <?php if ($isVisibleProduct): ?>
        <a href="<?php echo $this->getConfigureUrl() ?>" title="<?php echo $this->__('Edit item') ?>" class="btn-edit"><i class="fa fa-pencil"></i></a>
        <?php endif ?>
		</div>
	<?php endif; ?>
    <div class="media-body">
        <h5 class="product-name"><?php if ($this->hasProductUrl()): ?><a href="<?php echo $this->getProductUrl() ?>"><?php endif; ?><?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($this->getProductName()) ?><?php if ($this->hasProductUrl()): ?></a><?php endif; ?></h5>
        <div class="product-box">
			<?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
				<?php if ($this->helper('tax')->displayCartBothPrices()): ?>
					<?php echo $this->__('Excl. Tax'); ?>:
				<?php endif; ?>
				<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
					<?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
				<?php else: ?>
					<?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
				<?php endif; ?>
				<?php if (Mage::helper('weee')->getApplied($_item)): ?>
					<br />
					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
						<small>
						<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span><br />
						<?php endforeach; ?>
						</small>
					<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
						<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
						<?php endforeach; ?>
					<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
						<small>
						<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
						<?php endforeach; ?>
						</small>
					<?php endif; ?>
					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
						<span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
					<?php endif; ?>
				<?php endif; ?>
			<?php endif; ?>
			<?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
				<?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
				<?php if ($this->helper('tax')->displayCartBothPrices()): ?>
					<br /><?php echo $this->__('Incl. Tax'); ?>:
				<?php endif; ?>
				<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
					<?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?>
				<?php else: ?>
					<?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
				<?php endif; ?>
				<?php if (Mage::helper('weee')->getApplied($_item)): ?>
					<br />
					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
						<small>
						<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span><br />
						<?php endforeach; ?>
						</small>
					<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
						<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
						<?php endforeach; ?>
					<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
						<small>
						<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
						<?php endforeach; ?>
						</small>
					<?php endif; ?>
					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
						<span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?></span>
					<?php endif; ?>
				<?php endif; ?>
			<?php endif; ?>
            <div class="cart-price-qt">
                <strong><?php echo $this->getQty(); ?> <?php echo ($this->getQty()===1 ? 'Pc' : 'Pcs' ); ?></strong>
            </div>
		<div class="cart-actions">
			<a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Remove This Item')); ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>');" class="btn-remove"><i class="fa fa-close"></i></a>
            <?php if ($isVisibleProduct && 0): ?>
                <a href="<?php echo $this->getConfigureUrl() ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Edit item')); ?>" class="btn-edit"><i class="fa fa-pencil"></i></a>
            <?php endif ?>
		</div>
        <?php if ($_options = $this->getOptionList()):?>
        <div class="truncated">
          <div class="truncated_full_value">
            <dl class="item-options">
                <?php foreach ($_options as $_option) : ?>
                <dt><?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($_option['label']) ?></dt>
                <dd>
                    <?php if (is_array($_option['value'])): ?>
                    <?php echo nl2br(implode("\n", $_option['value'])) ?>
                    <?php else: ?>
                    <?php echo $_option['value'] ?>
                    <?php endif; ?>
                </dd>
                <?php endforeach; ?>
            </dl>
          </div>
        </div>
        <?php endif; ?>
		</div>
    </div>
</li>
